﻿@model Key2Home.Models.Campaign
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreateCampaign", "Campaign", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Create Chat</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">

                    <form class="card form-horizontal">
                        
                            <div class="inbox-head">
                                <h3 class="input-text" style="color: #fff">You, Agent & Admin</h3>
                            </div>
                            <div class="table-responsive">
                                <div class="col-lg-12">
                                    <div class="card alert">
                                        <div class="card-body">
                                            <div class="chat_box">
                                                <div class="right_chat">
                                                    <img src="images/user.png" alt="">
                                                    <div class="left_msg">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in pellentesque odio, id rhoncus ex.</p>
                                                    </div>
                                                    <span>10/9/2018</span>
                                                </div>
                                              
                                                <div class="left_chat agent">
                                                    <img src="images/user.png" alt="">
                                                    <div class="left_msg">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <span>(Agent) 10/9/2018</span>
                                                </div>

                                                <div class="left_chat admin">
                                                    <img src="images/user.png" alt="">
                                                    <div class="left_msg">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in pellentesque odio, id rhoncus ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <span>(Admin) 10/9/2018</span>
                                                </div>
                                            </div>

                                            <form class="send_form"><input type="text" placeholder="Send a message....."><button type="button" class="btn button-primary">send</button></form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                      
                    </form>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
          
            <div class="row">
                <div class="col-lg-3">
                </div>

                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    
}