﻿@model Key2Home.ViewModel.ViewModelUserTextMessage

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <!-- /# row -->
    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <div>
                        <div class="compose-email">
                            <div class="mail-box">
                                <aside class="sm-side">
                                    <div class="user-head" style="display: table-caption">
                                        <a class="inbox-avatar" href="#">
                                        </a>
                                        @Html.HiddenFor(m => m.UserID)
                                        <div class="user-name">
                                            <h5><a href="#" style="color:#fff">@Model.FirstName @Model.LastName</a></h5>
                                            <h6>Keys2Home</h6><h6></h6>
                                            <span> <a href="@Url.Action("ComposeUserMail", "User", new { UserId = @Model.UserID })"><b>Email :</b>@Model.Email</a></span>
                                            <h6><b>Phone No :</b>@Model.Phone1&gt;</h6>
                                            <h6 style="text-align:center" class="text-success">
                                                <i class="fa fa-check-circle "></i>
                                                <a href="@Url.Action("EditContactDetails", "User", new { UserId = @Model.UserID })">@Model.status</a>
                                            </h6>
                                        </div>
                                        <div class="inbox-body">
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-default" href="#">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-success" href="javascript:;">
                                                    <i class="fa fa-phone"></i>
                                                </a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-default" href="javascript:;">
                                                    <i class="fa fa-cog"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">
                                        <li>
                                            <h4>Header</h4>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ActivitiesTasks", "User", new { UserId = @Model.UserID })">
                                                <i class=" fa fa-home text-danger"></i>Activities and Tasks
                                            </a>
                                        </li>
                                        @*<li>
                                                <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-success"></i> Tasks
                                                </a>
                                            </li>*@
                                        <li>
                                            <a href="@Url.Action("UserContactDetails", "User", new { UserId = @Model.UserID })">
                                                <i class=" fa fa-user text-success"></i> Contact Details
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class=" fa fa-envelope text-info"></i> Email
                                            </a>
                                            <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                <li>
                                                    <a href="@Url.Action("ComposeUserMail", "User", new { UserId = @Model.UserID })">
                                                        <i class="fa fa-plus-square text-info"></i> Compose Email
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("UserEmail", "User", new { UserId = @Model.UserID })">
                                                        <i class="fa fa-inbox text-info"></i> Inbox
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("SentUserMail", "User", new { UserId = @Model.UserID })">
                                                        <i class="fa fa-paper-plane text-info"></i> Send Mail
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("TextMessage", "User", new { UserId = @Model.UserID })">
                                                <i class=" fa fa-user text-warning"></i> Text Messages
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("LiveActivity", "User", new { UserId = @Model.UserID })">
                                                <i class=" fa fa-user text-warning"></i> Campaigns
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class=" fa fa-search text-primary"></i> Searching</a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-pills nav-stacked labels-info"></ul>
                                </aside>

                                <aside class="lg-side">
                                    <div class="inbox-head">
                                        <h3 class="input-text" style="color: #fff">Document Details</h3>
                                        <form action="#" class="pull-right position"></form>
                                    </div>
                                    <div class="table-responsive">
                                        <div class="col-lg-10">
                                            <div class="card alert">
                                                <div class="card-header">
                                                    <h4>Document Details</h4>

                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Image</th>
                                                                    <th>Name</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row">1</th>
                                                                    <td><span class="img1"><img src="images/doc1.jpg" alt="" /></span></td>
                                                                    <td>document 1</td>
                                                                    <td> <a href="#" class="btn btn-sm btn-info dlt"><i class="fa fa-trash"></i></a></td>
                                                                </tr>

                                                                <tr>
                                                                    <th scope="row">2</th>
                                                                    <td><span class="img1"><img src="images/doc2.jpg" alt="" /></span></td>
                                                                    <td>document 2</td>
                                                                    <td> <a href="#" class="btn btn-sm btn-info dlt"><i class="fa fa-trash"></i></a></td>
                                                                </tr>

                                                                <tr>
                                                                    <th scope="row">3</th>
                                                                    <td><span class="img1"><img src="images/doc1.jpg" alt="" /></span></td>
                                                                    <td>document 3</td>
                                                                    <td> <a href="#" class="btn btn-sm btn-info dlt"><i class="fa fa-trash"></i></a></td>
                                                                </tr>

                                                                <tr>
                                                                    <th scope="row">4</th>
                                                                    <td><span class="img1"><img src="images/doc2.jpg" alt="" /></span></td>
                                                                    <td>document 4</td>
                                                                    <td> <a href="#" class="btn btn-sm btn-info dlt"><i class="fa fa-trash"></i></a></td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /# card -->
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>


@section scripts{
 
}
