﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>  
    <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyA6IhoXJwXviWWBh424e1FRPQ6mTlEpeMA",
            authDomain: "key2home-213305.firebaseapp.com",
            databaseURL: "https://key2home-213305.firebaseio.com",
            projectId: "key2home-213305",
            storageBucket: "key2home-213305.appspot.com",
            messagingSenderId: "644355605358"
        };
        firebase.initializeApp(config);
    </script>
    <script>
        const dbRef = firebase.database().ref();
        const usersRef = dbRef.child('users');
        // alert(JSON.stringify(usersRef));
       
        const userListUI = document.getElementById("userList");
        usersRef.on("child_added", snap => {          
            let user = snap.val();      
            let $li = document.createElement("li");           
            $li.innerHTML = user.userDetail.agentAdminModel.agentAdminName;
            $("#userList").append("<b><p>Name :<strong id=" + user.userDetail.userId + " class=detailName>" + user.userDetail.userName + "</strong></p></b>");

            var rootRef = firebase.database().ref();
            var storesRef = rootRef.child('Lorelle/Visitors');
            var newStoreRef = storesRef.push();
            newStoreRef.set({   
                username: 'varinder',
                email: 'varinder@gmial.com',
                profile_picture: 'Hello_Pic'
            });       
        });

    </script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul id="userList"></ul>

    <div id="userDetail">
        <p>Name :<strong class="detailName"></strong></p>
       
    </div>
</body>
</html>
