﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keys2Home Admin Panel</title>
    <link href="~/Assests/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/Assests/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assests/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/Assests/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assests/css/lib/Unix.css" rel="stylesheet">
    <link href="~/Assests/css/style.css" rel="stylesheet">
</head>
<body class="sidebar-hide">
    <div class="help_btn">
        <a href="#" type="button" class="btn btn-warning"><i class="fa fa-question-circle"></i> Help</a>
    </div>
    <div class="sidebar sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <li><a href="@Url.Action("Index","User")"><i class="ti-layout-grid2-alt"></i>Dashboard</a></li>
                    <li><a href="@Url.Action("Users","User")"><i class="ti-user"></i>User</a></li>
                    <li><a href="@Url.Action("Index","Template")"><i class="ti-email"></i>Templates</a></li>
                    <li><a href="@Url.Action("AddLead","Lead")"><i class="ti-email"></i>Lead Distribution</a></li>
                    <li><a href="@Url.Action("Index","Campaign")"><i class="ti-user"></i>Campaigns</a></li>
                    <li><a href="@Url.Action("Index","FireBase")"><i class="ti-user"></i>Chat</a></li>
                    @*<li><a href="@Url.Action("AddChat","FireBase")"><i class="ti-user"></i>Chat</a></li>
                    <li><a href="@Url.Action("AddDocument","FireBase")"><i class="ti-user"></i>Chat</a></li>*@
                    <li><a href="stats.html"><i class="ti-bar-chart"></i>Stats</a></li>
                    <li><a href="@Url.Action("Index","Admin")"><i class="ti-user"></i>Add Admin</a></li>
                    <li><a href="@Url.Action("Logout","Login")"><i class="ti-close"></i>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="pull-left">
            <div class="logo"><a href="index.html"><!-- <img src="assets/images/logo.png" alt="" /> --><span>Key2Home Admin</span></a></div>
            <div class="hamburger sidebar-toggle">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
        <div class="pull-right p-r-15">
            <ul>
                <li class="header-icon dib search_class">
                    <input placeholder="Search User" class="form-control input-sm input-focus" type="text" style="border:none; border-radius:20px">
                </li>
                <li class="header-icon dib search_class">
                    <a href="@Url.Action("CreateUser","User")" data-toggle="tooltip" title="CREATE USER"><i class="ti-plus"> </i></a>
                </li>
                <li class="header-icon dib">
                    <i class="ti-bell"></i>
                </li>
                <li class="header-icon dib">
                    <img class="avatar-img" src="~/Assests/images/user.png" alt="" /> <span class="user-avatar">MAX <i class="ti-angle-down f-s-10"></i></span>
                    <div class="drop-down dropdown-profile">

                        <div class="dropdown-content-body">
                            <ul>
                                <li><a href="@Url.Action("ChangePassword","Login")"><i class="ti-settings"></i> <span>Change Password</span></a></li>
                                <li><a href="@Url.Action("Logout","Login")"><i class="ti-power-off"></i> <span>Signout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-wrap">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Assests/js/lib/jquery.min.js"></script>
    <script src="~/Assests/js/lib/bootstrap.min.js"></script>
    <script src="~/Assests/js/lib/jquery.nanoscroller.min.js"></script>
    <script src="~/Assests/js/lib/menubar/sidebar.js"></script>

    @*<script src="~/Assests/js/scripts.js"></script>*@
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")
@RenderSection("scripts", required: false)
</html>
