﻿
<!doctype html>
<html lang="en">
<head>
    <title>Super Admin | Key2Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- VENDOR CSS -->
    <link href="~/Assests/SuperAdmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assests/SuperAdmin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assests/SuperAdmin/vendor/linearicons/style.css" rel="stylesheet" />
    <link href="~/Assests/SuperAdmin/vendor/chartist/css/chartist-custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">



    <!-- MAIN CSS -->
    <link href="~/Assests/SuperAdmin/css/mainn.css" rel="stylesheet" />


    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link href="~/Assests/SuperAdmin/css/demo.css" rel="stylesheet" />

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <!-- ICONS -->

    <img src="~/Assests/SuperAdmin/img/final-logo.png" />
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand"> <a href="#"><img src="~/Assests/SuperAdmin/img/final-logo.png" alt="Klorofil Logo" class="img-responsive logo"></a> </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-menu"></i></button>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" title="Chart Name" class="lightbox">
                                <img src="~/Assests/SuperAdmin/img/max-nimer.jpg" alt="" class="img-circle" data-img="assets/img/~/Assests/SuperAdmin/img/max-nimer.jpg" /><span>Max Nimer</span>

                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="@Url.Action("ActiveCustomer", "SuperAdmin")" class="active"><i class="lnr lnr-user"></i> <span>Active Customer</span></a></li>
                        <li><a href="@Url.Action("DeleteCustomer", "SuperAdmin")" class=""><i class="lnr lnr-user"></i> <span>Delete Customer</span></a></li>
                        <li><a href="@Url.Action("AppList", "SuperAdmin")" class=""><i class="lnr lnr-tablet"></i> <span>App List</span></a></li>
                        <li><a href="@Url.Action("ChangePassword", "SuperAdmin")" class=""><i class="lnr lnr-lock"></i> <span>Change Password</span></a></li>
                        <li><a href="@Url.Action("Logout", "Login")" class=""><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <!-- Javascript -->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/cssjqryUi")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
        <!-- END WRAPPER -->
        @*<script src="~/Assests/SuperAdmin/vendor/jquery/jquery.min.js"></script>
        <script src="~/Assests/SuperAdmin/vendor/bootstrap/js/bootstrap.min.js"></script>*@
        <script src="~/Assests/SuperAdmin/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="~/Assests/SuperAdmin/scripts/klorofil-common.js"></script>
        <script src="~/Assests/SuperAdmin/scripts/sweetalert.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>
        <div class="content-wrap">
            @RenderBody()
        </div>
    </div>




</body>
</html>
