﻿@model Key2Home.ViewModel.ViewModelLeadDistribution
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreateCampaign", "Campaign", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <div class="sidebar-hide">
        <div class="content-wrap">
            <div class="main lead">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 p-r-0 title-margin-right">
                            <div class="page-header">
                                <div class="page-title">
                                    <h1>Lead Distribution</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-l-0 title-margin-left">
                            <div class="page-header">
                                <div class="page-title"> </div>
                            </div>
                        </div>
                    </div>
                    <div id="main-content">
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6">
                                <div class="card-header1 box1">
                                    <h4>When a New Lead Registers ...</h4>
                                </div>
                                <div id="myDIV" class="card-header_btn box1">
                                    <a href="#" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> New Distribution Rule</a>
                                </div>
                                <div class="card-header box1 general">
                                    <div class="card-header">
                                        <h4><i class="fa fa-bars"></i>general
                                        <div class="icons"><a href=""><i class="fa fa-edit"></i></a><a href=""><i class="fa fa-trash"></i></a></div></h4>
                                    </div>
                                    <div class="content1">
                                        <span><img src="images/user1.png"></span>
                                        <div class="inner_content">
                                            <p><strong>Lead Owner:</strong>Max Nimer (100%)</p>
                                            <p><strong>Inside Sales:</strong>Abraham Zeitoun (paused Aug 28)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-sm-offset-5 col-lg-2 col-lg-offset-5">
                                        <a href="" class="plus_icn"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                                <div class="card-header box1 general rule">
                                    <div class="card-header">
                                        <h4>
                                            <i class="fa fa-bars"></i>new rule
                                            <div class="icons"><a href=""><i class="fa fa-sitemap"></i></a><a href=""><i class="fa fa-trash"></i></a></div>
                                        </h4>
                                    </div>
                                    <div class="content1">
                                        <form class="card form-horizontal">
                                            <div class="form-group">
                                                <label for="exampleInputTitle">Title*</label>
                                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Enter Title" })
                                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                                @*<input type="name" class="form-control" id="exampleInputTitle" aria-describedby="emailHelp" placeholder="Enter Title">*@
                                            </div>
                                            @Html.Hidden("SelectLeadtype")
                                            @Html.Hidden("SelectDays")
                                            @Html.Hidden("SelLoanOfficier")
                                            @Html.Hidden("SelIsaAssignments")
                                            @Html.Hidden("AdminCount")

                                            @*@Html.Hidden("LoanOffcierIds")
                                            @Html.Hidden("LoanOffcierQuanity")
                                            @Html.Hidden("LoanOffcierDivision")*@

                                            <div id="selectLeadType" class="form-group">
                                                <label for="exampleInputPassword1">Lead Type(s)</label>
                                                <label class="checkbox-label">
                                                    <input type="checkbox" id="1" value="1" class="checkbox-input" hidden><span class="checkbox-label__text">

                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="checkbox-label__svg">
                                                            <path stroke="#fff" fill="none" stroke-width="2" d="M5 12.205L11 17l8-9.59" stroke-dasharray="21" stroke-dashoffset="21" />
                                                        </svg>
                                                        Buyer
                                                    </span>
                                                </label>
                                                <label class="checkbox-label">
                                                    <input type="checkbox" id="2" value="2" class="checkbox-input" hidden><span class="checkbox-label__text">
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="checkbox-label__svg">
                                                            <path stroke="#fff" fill="none" stroke-width="2" d="M5 12.205L11 17l8-9.59" stroke-dasharray="21" stroke-dashoffset="21" />
                                                        </svg>
                                                        Seller
                                                    </span>
                                                </label>
                                                <label class="checkbox-label">
                                                    <input type="checkbox" id="3" value="2" class="checkbox-input" hidden><span class="checkbox-label__text">
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="checkbox-label__svg">
                                                            <path stroke="#fff" fill="none" stroke-width="2" d="M5 12.205L11 17l8-9.59" stroke-dasharray="21" stroke-dashoffset="21" />
                                                        </svg>
                                                        Buyer & Seller
                                                    </span>
                                                </label>
                                            </div>
                                            <div id="selectDays" class="form-group">
                                                <label for="exampleInputPassword1">Active days</label>

                                                <label class="checkbox-label">
                                                    <input type="checkbox" id="7" value="7" class="checkbox-input" hidden><span class="checkbox-label__text">
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="checkbox-label__svg">
                                                            <path stroke="#fff" fill="none" stroke-width="2" d="M5 12.205L11 17l8-9.59" stroke-dasharray="21" stroke-dashoffset="21" />
                                                        </svg>
                                                        sun
                                                    </span>
                                                </label>
                                                <label class="checkbox-label">
                                                    <input type="checkbox" id="1" value="1" class="checkbox-input" hidden><span class="checkbox-label__text">
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="checkbox-label__svg">
                                                            <path stroke="#fff" fill="none" stroke-width="2" d="M5 12.205L11 17l8-9.59" stroke-dasharray="21" stroke-dashoffset="21" />
                                                        </svg>
                                                        mon
                                                    </span>
                                                </label>
                                                <label class="checkbox-label">
                                                    <input type="checkbox" id="2" value="2" class="checkbox-input" hidden><span class="checkbox-label__text">
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="checkbox-label__svg">
                                                            <path stroke="#fff" fill="none" stroke-width="2" d="M5 12.205L11 17l8-9.59" stroke-dasharray="21" stroke-dashoffset="21" />
                                                        </svg>
                                                        tue
                                                    </span>
                                                </label>
                                                <label class="checkbox-label">
                                                    <input type="checkbox" id="3" value="3" class="checkbox-input" hidden><span class="checkbox-label__text">
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="checkbox-label__svg">
                                                            <path stroke="#fff" fill="none" stroke-width="2" d="M5 12.205L11 17l8-9.59" stroke-dasharray="21" stroke-dashoffset="21" />
                                                        </svg>
                                                        wed
                                                    </span>
                                                </label>
                                                <label class="checkbox-label">
                                                    <input type="checkbox" id="4" value="4" class="checkbox-input" hidden><span class="checkbox-label__text">
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="checkbox-label__svg">
                                                            <path stroke="#fff" fill="none" stroke-width="2" d="M5 12.205L11 17l8-9.59" stroke-dasharray="21" stroke-dashoffset="21" />
                                                        </svg>
                                                        thu
                                                    </span>
                                                </label>
                                                <label class="checkbox-label">
                                                    <input type="checkbox" id="5" value="5" class="checkbox-input" hidden><span class="checkbox-label__text">
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="checkbox-label__svg">
                                                            <path stroke="#fff" fill="none" stroke-width="2" d="M5 12.205L11 17l8-9.59" stroke-dasharray="21" stroke-dashoffset="21" />
                                                        </svg>
                                                        fri
                                                    </span>
                                                </label>
                                                <label class="checkbox-label">
                                                    <input type="checkbox" id="6" value="6" class="checkbox-input" hidden><span class="checkbox-label__text">
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="checkbox-label__svg">
                                                            <path stroke="#fff" fill="none" stroke-width="2" d="M5 12.205L11 17l8-9.59" stroke-dasharray="21" stroke-dashoffset="21" />
                                                        </svg>
                                                        sat
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPrice_min">price min.</label>
                                                @Html.TextBoxFor(model => model.PriceMin, new { @class = "form-control", @placeholder = "Min Price" })
                                                @Html.ValidationMessageFor(model => model.PriceMin, "", new { @class = "text-danger" })
                                                @*<input type="text" class="form-control" id="exampleInputPrice_min" aria-describedby="emailHelp" placeholder="Min Price">*@
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPrice_max">price max.</label>
                                                @Html.TextBoxFor(model => model.PriceMax, new { @class = "form-control", @placeholder = "Max Price" })
                                                @Html.ValidationMessageFor(model => model.PriceMax, "", new { @class = "text-danger" })
                                                @*<input type="text" class="form-control" id="exampleInputPrice_max" aria-describedby="emailHelp" placeholder="Max Price">*@
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputLocation">locations</label>
                                                @Html.TextBoxFor(model => model.Locations, new { @class = "form-control", @placeholder = "Enter Locations" })
                                                @Html.ValidationMessageFor(model => model.Locations, "", new { @class = "text-danger" })
                                                @*<input type="text" class="form-control" id="exampleInputLocation" aria-describedby="emailHelp" placeholder="Enter Locations">*@
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputLoam">Loan Officer Assignment</label>
                                                <span>loan officers</span><button type="button" data-toggle="modal" id="addUsersInloan" data-target="#exampleModal" class="btn01">
                                                    <i class="fa fa-plus"></i>add users
                                                </button>
                                                <div id="addLoanOfficier" class="user_quantity">
                                                    <h5>User Name</h5><h5>Leads per Round</h5>
                                                    <div class="quality">
                                                        @*$(".quality").append('<div id=' + jsonList1._listAllAdmin[i].AdminID + ' class="removeLoanOfficer row row_bg1"><div class="col-md-6"><div class="img_box"><h4>' + jsonList1._listAllAdmin[i].AdminName + '</h4></div></div><div class="col-md-6"><div class="quality_box"><div class="input-group"><input type="button" value="-" id="subs" class="btn btn-default pull-left" style="margin-right: 2%" />&nbsp;<input type="text" style="width: 410px;text-align: center; margin: 0px;" class="onlyNumber form-control pull-left" id="noOfRoom" value="" name="noOfRoom" />&nbsp;<input type="button" value="+" id="adds" class="btn btn-default" /></div><span>100%</span><a style="cursor:pointer" id="' + jsonList1._listAllAdmin[i].AdminID + '" class="remove-user"><i class="fa fa-times"></i></a></div></div></div>');*@
                                                    </div>
                                                </div>
                                                <!-- Modal -->
                                                <div class="modal fade add_user" id="exampleModal" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div id="modalLoanOfficer" class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Add Users</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <input type="checkbox" id="checkAll" class="LoanCheckbox" style="margin-bottom:15px">
                                                                <span style=" font-size: 17px;
                                                                     font-weight: 600;">Select All Users</span>
                                                                <div id="SelectAll" class="group1">
                                                                    @foreach (var item in Model._listAllAdmin)
                                                                    {
                                                                        if (item.Type == "LoanOfficer")
                                                                        {
                                                                            <label class="checkbox-label">
                                                                                <input type="checkbox" id="@item.AdminID" value="@item.AdminID" class="LoanCheckbox"><span class="checkbox-label__text">
                                                                                    @*<svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="checkbox-label__svg">
                                                    <path stroke="#fff" fill="none" stroke-width="2" d="M5 12.205L11 17l8-9.59" stroke-dasharray="21" stroke-dashoffset="21" />
                                                </svg>*@
                                                                                    @item.AdminName
                                                                                </span>
                                                                            </label>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" id="btn_CancelLoanOfficer" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                <button type="button" id="btn_addLoanofficer" class="btn btn-primary">Add Users</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputLoam">ISA Assignment</label>
                                                <span>inside sales</span><button class="btn01" type="button" data-toggle="modal" id="addIsaOfficers" data-target="#exampleModal1"><i class="fa fa-plus"></i>add users</button>
                                                <div id="addSalesOfficier" class="user_quantity">
                                                    <h5>user name</h5><h5>leads per round</h5>
                                                    <div class="quality1">
                                                    </div>
                                                </div>
                                                <div class="modal fade add_user" id="exampleModal1" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div id="modalIsaAssignment" class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="    Label">Add Users</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <input type="checkbox" id="checkAllISa" class="InsideSalesCheckbox" style="margin-bottom:15px">
                                                                <span style=" font-size: 17px;
                                                                   font-weight: 600;">Select All Users</span>
                                                                <div id="SelectAllIsa" class="group1">
                                                                    @foreach (var item in Model._listAllAdmin)
                                                                    {
                                                                        if (item.Type == "SalesOfficer")
                                                                        {
                                                                            <label class="checkbox-label">
                                                                                <input type="checkbox" id="@item.AdminID" class="InsideSalesCheckbox" value="@item.AdminID"><span class="checkbox-label__text">
                                                                                    @item.AdminName
                                                                                </span>
                                                                            </label>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                <button type="button" id="btn_addIsaAssignment" class="btn btn-primary">Add Users</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" id="btn_CreateLead" class="btn btn-primary">Create</button>
                                            <button type="button" id="btn_CancelLead" class="btn btn-secondary">Cancel</button>

                                        </form>
                                    </div>
                                </div>
                                <div class="row rule1">
                                    <div class="col-sm-2 col-sm-offset-5 col-lg-2 col-lg-offset-5">
                                        <a href="" class="plus_icn"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                                <div class="card-header box1 setting">
                                    <div class="card-header">
                                        <h4><i class="fa fa-lock"></i>Default Settings</h4>
                                    </div>
                                    <div class="content1">
                                        <span><img src="images/user1.png"></span>
                                        <div class="inner_content">
                                            <p><strong>Distribute Equally Between All Users</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="footer">
                                        <p>This dashboard was generated on <span id="date-time"></span> <a href="#" class="page-refresh">Keys2Home</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
}
@section scripts
{
    <script>
        $(function () {
            $('#myDIV > a').click(function () {
                $(this).parent().addClass('active').siblings().removeClass('active')
            })
        })
    </script>
    <script>
        $(function () {
            $('#myDIV > a').click(function () {
                $(this).parent().addClass('active').siblings().removeClass('active')
                //  alert('ff');
            })
        })
    </script>

    <script>
        $(document).ready(function () {
             $("#selectLeadType").find("input[type='checkbox']").click(function () {
                 var result = '';
                 $('input[type="checkbox"]').not(this).prop('checked', false);
                $('#selectLeadType input[type=checkbox]').each(function () {
                    if ($(this).is(':checked')) {
                        checkboxValue = $(this).prop('checked');
                        if (result != "") {
                            result = $(this).val() + ',' + result;
                        }
                        else {
                            result = $(this).val();
                        }
                    }
                });
                 $("#SelectLeadtype").val(result);
            });

            // disabled loan officers
            $('#addUsersInloan').click(function () {
                $("#modalLoanOfficer").show();
                $("#exampleModal").show();
                $('#SelectAll input[type=checkbox]').each(function () {
                    var res = '';
                    var count = $('#SelectAll').find('input[type=checkbox]:checked').length;
                    if (count > 1) {
                       // alert('count >1');
                        if ($(this).is(':checked')) {
                            if (result != "") {
                                result = $(this).val() + ',' + result;
                                var intValArray = result.split(',');
                                for (var i = 0; i < intValArray.length; i++) {
                                    intValArray[i] = parseInt(intValArray[i]);
                                    $('input[id="' + intValArray[i] + '"]').prop("disabled", true);
                                }
                            }
                            else {
                                result = $(this).val();
                            }
                        }
                    }
                    else {
                        if ($(this).is(':checked')) {
                            res = $(this).val();
                         //   alert(res);
                            $('input[id="' + res + '"]').prop("disabled", true);
                        }
                        else {
                            result = $(this).val();
                        }
                    }
                    });
            });

            //Isa Asignmnet code
            $('#addIsaOfficers').click(function () {
                $("#modalIsaAssignment").show();
                $("#exampleModal1").show();
                $('#SelectAllIsa input[type=checkbox]').each(function () {
                    var res = '';
                    var count = $('#SelectAllIsa').find('input[type=checkbox]:checked').length;
                    if (count > 1) {
                        //  alert('count >1');
                        if ($(this).is(':checked')) {
                            if (result != "") {
                                result = $(this).val() + ',' + result;
                                var intValArray = result.split(',');
                                for (var i = 0; i < intValArray.length; i++) {
                                    intValArray[i] = parseInt(intValArray[i]);
                                    $('input[id="' + intValArray[i] + '"]').prop("disabled", true);
                                }
                            }
                            else {
                                result = $(this).val();
                            }
                        }
                    }
                    else {
                        if ($(this).is(':checked')) {
                            res = $(this).val();
                            // alert(res);
                            $('input[id="' + res + '"]').prop("disabled", true);
                        }
                        else {
                            result = $(this).val();
                        }
                    }
                });
            });

            // Select All Loan officers
            $('#checkAll').click(function () {
                $("#checkAllLabel").text(this.checked ? "Deselect All Users" : "Select All Users");
                var checked = $(this).is(':checked');
                if (checked) {
                    $(".LoanCheckbox").each(function () {
                        $(this).prop("checked", true);
                    });
                }
                else {
                    $(".LoanCheckbox").each(function () {
                        $(this).prop("checked", false);
                    });
                }
                var result = '';
                $('#SelectAll input[type=checkbox]').each(function () {
                    if ($(this).is(':checked')) {
                        if (result != "") {
                            result = $(this).val() + ',' + result;
                        }
                        else {
                            result = $(this).val();
                        }
                    }
                });
                $("#SelLoanOfficier").val(result);
            });

            // select loan officers one by one
            $("#SelectAll").find("input[type='checkbox']").click(function () {
                var result = '';
                $('#SelectAll input[type=checkbox]').each(function () {
                    if ($(this).is(':checked') && $(this).prop('disabled') == false) {
                        if (result != "") {
                            result = $(this).val() + ',' + result;
                        }
                        else {
                            result = $(this).val();
                        }
                    }
                    var all_checkboxes = $('#SelectAll input[type="checkbox"]');
                    if (all_checkboxes.length === all_checkboxes.filter(":checked").length) {
                        $("#checkAll").prop("checked", true);
                        $("#checkAllLabel").text("Deselect All Users");
                    }
                    else
                    {
                        $("#checkAll").prop("checked", false);
                        $("#checkAllLabel").text("Select All Users");
                    }
                });
                $("#SelLoanOfficier").val(result);
            });

            $("#selectDays").find("input[type='checkbox']").click(function () {
                        var result = '';
                $('#selectDays input[type=checkbox]').each(function () {
                                if ($(this).is(':checked'))
                                {
                                    if (result != "") {

                                        result = $(this).val() + ',' + result;
                                    }
                                    else {
                                        result = $(this).val();
                                    }
                                }
                });
                $("#SelectDays").val(result);
            });

            $('#checkAllISa').click(function () {
                $("#checkAllISaLabel").text(this.checked ? "Deselect All Users" : "Select All Users");
                var checked = $(this).is(':checked');
                if (checked) {
                    $(".InsideSalesCheckbox").each(function () {
                        $(this).prop("checked", true);
                    });
                }
                else {
                    $(".InsideSalesCheckbox").each(function () {
                        $(this).prop("checked", false);
                    });
                }
                var result = '';
                $('#SelectAllIsa input[type=checkbox]').each(function () {
                    if ($(this).is(':checked')) {
                        if (result != "") {
                            result = $(this).val() + ',' + result;
                        }
                        else {
                            result = $(this).val();
                        }
                    }
                });
                $("#SelIsaAssignments").val(result);
            });
            $("#SelectAllIsa").find("input[type='checkbox']").click(function () {
                //  alert('gggg');
                var result = '';
                $('#SelectAllIsa input[type=checkbox]').each(function () {
                    if ($(this).is(':checked') && $(this).prop('disabled') == false) {
                        if (result != "") {
                            result = $(this).val() + ',' + result;
                        }
                        else {
                            result = $(this).val();
                        }
                    }
                    var all_checkboxes = $('#SelectAllIsa input[type="checkbox"]');
                    if (all_checkboxes.length === all_checkboxes.filter(":checked").length) {
                        $("#checkAllISa").prop("checked", true);
                        $("#checkAllISaLabel").text("Deselect All Users");
                    }
                    else {
                        $("#checkAllISa").prop("checked", false);
                        $("#checkAllISaLabel").text("Select All Users");
                    }
                });
                $("#SelIsaAssignments").val(result);
            });

            var count = 1;
            $("#btn_addIsaAssignment").click(function () {
                $(".quality1").show();
                $("#modalIsaAssignment").hide();
                $(".modal-backdrop  modal fade").remove();
                $(".modal-backdrop").remove();
                //var selectIsaAssignment = $('#SelIsaAssignments').val();
                var IsaIDs = [];
                $(".quality1").find("a").each(function () { IsaIDs.push(this.id); });
                var selectedIsaId;
                var SingleselectedId;
                SingleselectedId = $('#SelIsaAssignments').val();
                selectedIsaId = $('#SelIsaAssignments').val();
                if (IsaIDs == "") {
                    selectedIsaId = SingleselectedId;
                }
                else if (selectedIsaId != "" && IsaIDs != null) {
                    var temp = new Array();
                    temp = selectedIsaId.split(",");
                    var selectedIsa = [];
                    var selectedIsa = temp.filter(function (n) { return IsaIDs.indexOf(n) > -1 ? false : n; });
                    //alert(selected);
                    var arr3 = $.merge(selectedIsa, IsaIDs)
                    selectedIsaId = selectedIsa;
                }
                var countIsa1 = 0;
                var countIsa = 1;
                var CountTextBoxIsa = 1;
                $.ajax({
                    type: 'POST',
                    url: "/Lead/GetIsaAssigments",
                    data: "SelIsaId=" + selectedIsaId,
                    dataType: "json",
                    success: function (jsonList) {
                        $(".quality1").html('');
                        var numOfAdmin = jsonList.AdminIsaCount;
                        //alert(numOfAdmin);
                        var final1Isa = 100 / numOfAdmin;
                        // alert(final1Isa);
                        var finalIsa = Math.trunc(final1Isa) + '%';
                        $("#SelIsaAssignments").val("");
                        for (var i = 0; i < jsonList._listAllAdmin.length; i++) {
                            countIsa1 = countIsa1 + 1;
                            $(".quality1").append('<div id=' + jsonList._listAllAdmin[i].AdminID + ' class="row row_bg1"><div class="col-md-6"><div class="img_box"><h4>' + jsonList._listAllAdmin[i].AdminName + '</h4></div></div><div class="col-md-6"><div class="quality_box"><div class="SaleOfficerInc input-group"><input type="button" value="-" id="subIsa' + (countIsa++) + '" class= "btn btn-default pull-left SubtractsIsa" style = "margin-right: 2%" /><input type="text" style="width: 200px;text-align: center; margin: 0px;" class="onlyNumberIsa form-control pull-left" ids = ' + countIsa1 + ' id="noOfRoomIsa' + countIsa1 + '" value="1" name="noOfRoomIsa"/><input type="button" value="+" id="addIsa' + (countIsa++) + '" class="btn btn-default AddtionIsa" /></div > <span > </span><Div class=SaleOfficierPercent><input class="GetPercentIsa" value= ' + finalIsa + ' type="text" size="5" id="PercenCountIsa' + (CountTextBoxIsa++) + '" readonly=readonly /></div><a style="cursor:pointer" ids = ' + countIsa1 + ' id="' + jsonList._listAllAdmin[i].AdminID + '" class="remove-user"></a></div></div></div>');
                            //  $(".quality").append('<div id=' + jsonList1._listAllAdmin[i].AdminID + ' class="row row_bg1"><div class="col-md-6"><div class="img_box"><h4>' + jsonList1._listAllAdmin[i].AdminName + '</h4></div></div><div class="col-md-6"><div class="quality_box"><div class="LoanOfficerInc input-group"><input type="button" value="-" id="subs' + (count++) + '" class= "btn btn-default pull-left Subtracts" style = "margin-right: 2%" /><input type="text" style="width: 200px;text-align: center; margin: 0px;" class="onlyNumber form-control pull-left" ids = ' + count1 + ' id="noOfRoom' + count1 + '" value="1" name="noOfRoom"/><input type="button" value="+" id="adds' + (count++) + '" class="btn btn-default Addtion" /></div > <span > </span><Div class=LoanOfficierPercent><input class="GetPercent" value= ' + final + ' type="text" size="5" id="PercenCount' + (CountTextBox++) + '" readonly=readonly /></div><a style="cursor:pointer" ids = ' + count1 + ' id="' + jsonList1._listAllAdmin[i].AdminID + '" class="remove-user"></a></div ></div ></div > ');
                            //$(".quality1").append('<div id=' + jsonList._listAllAdmin[i].AdminID + ' class="removeIsaOfficer row row_bg1"><div class="col-md-6"><div class="img_box"><h4>' + jsonList._listAllAdmin[i].AdminName + '</h4></div></div><div class="col-md-6"><div class="quality_box"><div class="LoanOfficerInc input-group"><input type="button" value="-" id="subs' + (countIsa++) + '" class= "btn btn-default pull-left SubtractsIsa" style = "margin-right: 2%" /><input type="text" style="width: 200px;text-align: center; margin: 0px;" class="onlyNumberIsa form-control pull-left" id="noOfRoomIsa' + countIsa1 + '" value="1" name="noOfRoomIsa" /><input type="button" value="+" id="adds' + (countIsa++) + '" class="btn btn-default AddtionIsa" /></div > <span > </span><input class="GetPercentIsa" value= ' + finalIsa + ' type="text" size="5" id="PercenCountIsa' + (CountTextBoxIsa++) + '" readonly=readonly /> <a style="cursor:pointer" id="' + jsonList._listAllAdmin[i].AdminID + '" class="remove-user"><i class="fa fa-times"></i></a></div ></div ></div > ');
                        }

                        $('.SubtractsIsa').one('click', function (e) {
                           
                            e.preventDefault();
                            var id = $(this).attr('id');
                            var UserCountSub = $('input[id= ' + id + ']').next().closest('input[type="text"]').attr("id");
                            var inputCountIsa = $(".onlyNumberIsa").length;
                            $('#' + id).click(function subst() {
                                var $rooms = $("#" + UserCountSub);
                                var b = $rooms.val();
                                if (b >= 1) {
                                    b--;
                                    $rooms.val(b);
                                }
                                var finaltotal = GetTotal();
                                for (i = 0; i < inputCountIsa; i++) {
                                    count2 = i + 1;
                                    var inputValue = $('#noOfRoomIsa' + count2).val();
                                    if (finaltotal != 0) {
                                        var percent = inputValue / finaltotal;
                                        var finalpercent = Math.round(percent * 100) + '%';
                                        $('#PercenCountIsa' + count2).val(finalpercent);
                                    }
                                }
                                function GetTotal() {
                                    var total = 0;
                                    var finaltotal = 0;
                                    $(".onlyNumberIsa").each(function () {
                                        total += +$(this).val();
                                    });
                                    var finaltotal = total;
                                    return finaltotal;
                                }
                            });
                        });

                        // Addition Lead
                        $('.AddtionIsa').one('click', function (e) {
                          
                            e.preventDefault();
                            var id = $(this).attr('id');
                            var UserCount = $('input[id= ' + id + ']').prev().closest('input[type="text"]').attr("id");
                            var inputCount = $(".onlyNumberIsa").length;
                     
                            $('#' + id).click(function add() {
                                var $room = $("#" + UserCount);
                                var a = 0;
                                a = $room.val();
                                a++;
                                $room.val(a);
                                var finaltotal = GetTotal();
                                for (i = 0; i < inputCount; i++) {
                                    count2 = i + 1;
                                    var inputValue = $('#noOfRoomIsa' + count2).val();
                                    if (finaltotal != 0) {
                                        var percent = inputValue / finaltotal;
                                        var finalpercent = Math.round(percent * 100) + '%';
                                        $('#PercenCountIsa' + count2).val(finalpercent);
                                    }
                                }
                                function GetTotal() {
                                    var total = 0;
                                    var finaltotal = 0;
                                    $(".onlyNumberIsa").each(function () {
                                        total += +$(this).val();
                                    });
                                    var finaltotal = total;
                                    return finaltotal;
                                }
                            });
                        });
                    }
                });
            });
            //var count = 1;
            $("#btn_addLoanofficer").click(function () {
                $(".quality").show();
                $("#modalLoanOfficer").hide();
                $("#SelIsaAssignments").val("");              
                $(".modal fade add_user in").remove();
                $(".modal-backdrop modal fade ").remove();
                $(".modal-backdrop").remove();
                var IDs = [];
                $(".quality").find("a").each(function () { IDs.push(this.id); });
                var SingleselectedId;
                var selectedId;
                SingleselectedId = $('#SelLoanOfficier').val();
                //alert(selectedId);
                selectedId = $('#SelLoanOfficier').val();
                if (IDs == "") {
                    selectedId = SingleselectedId;
                }
                else if (selectedId != "" && IDs != null) {
                    var temp = new Array();
                    temp = selectedId.split(",");
                    var selected = [];
                    var selected = temp.filter(function (n) { return IDs.indexOf(n) > -1 ? false : n; });
                    //alert(selected);
                    selectedId = selected;
                   var arr3 = $.merge(selected, IDs)  
                   // alert(arr3);
                }
                ///alert(selectedId);
                    var count1 = 0;
                    var count = 1;
                    var CountTextBox = 1;
                    $.ajax({
                        type: 'POST',
                        url: "/Lead/GetLoanOffficiers",
                        data: "SelAdminId=" + selectedId,
                        dataType: "json",
                        success: function (jsonList1) {
                            $(".quality").html('');
                            var numOfAdmin = jsonList1.AdminCount;
                            var final1 = 100 / numOfAdmin;
                            var final = Math.trunc(final1) + '%';
                            $("#SelLoanOfficier").val("");
                            // $("#SelIsaAssignments").val("");
                            for (var i = 0; i < jsonList1._listAllAdmin.length; i++) {

                                count1 = count1 + 1;
                                $(".quality").append('<div id=' + jsonList1._listAllAdmin[i].AdminID + ' class="row row_bg1"><div class="col-md-6"><div class="img_box"><h4>' + jsonList1._listAllAdmin[i].AdminName + '</h4></div></div><div class="col-md-6"><div class="quality_box"><div class="LoanOfficerInc input-group"><input type="button" value="-" id="subs' + (count++) + '" class= "btn btn-default pull-left Subtracts" style = "margin-right: 2%" /><input type="text" style="width: 200px;text-align: center; margin: 0px;" class="onlyNumber form-control pull-left" ids = ' + count1 + ' id="noOfRoom' + count1 + '" value="1" name="noOfRoom" /><input type="button" value="+" id="adds' + (count++) + '" class="btn btn-default Addtion" /></div > <span > </span><Div class=LoanOfficierPercent><input class="GetPercent" value= ' + final + ' type="text" size="5" id="PercenCount' + (CountTextBox++) + '" readonly=readonly /></div><a style="cursor:pointer" ids = ' + count1 +' id="' + jsonList1._listAllAdmin[i].AdminID + '" class="remove-user"></a></div ></div ></div > ');
                                //$(".quality").append('<div id=' + jsonList1._listAllAdmin[i].AdminID + 'class="removeLoanOfficer row row_bg1"><div class="col-md-6"><div class="img_box"><h4>' + jsonList1._listAllAdmin[i].AdminName + '</h4></div></div><div class="col-md-6"><div class="quality_box"><p><img src="http://i.imgur.com/yOadS1c.png" id="minus1" width="20" height="20" class="minus" /><input id="qty1" type="text" value="1" class="qty"/><img id="add1" src="http://i.imgur.com/98cvZnj.png" width="20" height="20" class="add" /></p></div><a style="cursor:pointer" id="' + jsonList1._listAllAdmin[i].AdminID + '" class="remove-user"><i class="fa fa-times"></i></a></div></div></div>');
                                //$(".quality").append('<div id=' + jsonList1._listAllAdmin[i].AdminID + ' class="removeLoanOfficer row row_bg1"><div class="col-md-6"><div class="img_box"><h4>' + jsonList1._listAllAdmin[i].AdminName + '</h4></div></div><div class="col-md-6"><div class="quality_box"><div class="input-group"><span class="input-group-btn"><button type="button" id="minus1" onClick="decrementValue()" class="quantity-left-minus btn btn-danger btn-number minus" data-type="minus" data-field=""><span class="glyphicon glyphicon-minus"></span></button></span><input type="text" id="qty1" id="number" name="quantity" class="form-control input-number qty" value="0"><span class="input-group-btn"><button  id="add1" type="button" class="quantity-right-plus btn btn-success btn-number add" data-type="plus" data-field=""><span class="glyphicon glyphicon-plus"></span></button></span></div><span>100%</span><a style="cursor:pointer" id="' + jsonList1._listAllAdmin[i].AdminID + '" class="remove-user"><i class="fa fa-times"></i></a></div></div></div>');
                                // $(".quality").append('<div id=' + jsonList1._listAllAdmin[i].AdminID + ' class="removeLoanOfficer row row_bg1" ><div class="col-md-6"><div class="img_box"><h4>' + jsonList1._listAllAdmin[i].AdminName + '</h4></div></div><div class="col-md-6"><div class="quality_box"><div class="input-group"><span class="input-group-btn"><button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field=""><span class="glyphicon glyphicon-minus"></span></button></span><input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100"><span class="input-group-btn"><button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field=""><span class="glyphicon glyphicon-plus"></span></button></span></div><span>100%</span><a style="cursor:pointer" id="' + jsonList1._listAllAdmin[i].AdminID + '" class="remove-user"><i class="fa fa-times"></i></a></div></div></div>');
                            }
                             // Subtraction Lead
                            $('.Subtracts').one('click', function (e) {
                                e.preventDefault();
                                var id = $(this).attr('id');
                                var UserCountSub = $('input[id= ' + id + ']').next().closest('input[type="text"]').attr("id");
                                var inputCount = $(".onlyNumber").length;
                                $('#' + id).click(function subst() {
                                    var $rooms = $("#" + UserCountSub);
                                    var b = $rooms.val();
                                    if (b >= 1) {
                                        b--;
                                        $rooms.val(b);
                                    }
                                    var inputCountPercent = $(".GetPercent").length;
                                    var finaltotal = GetTotal();
                                    for (i = 0; i < inputCount; i++)
                                    {
                                        count2 = i + 1;
                                        var inputValue = $('#noOfRoom' + count2).val();
                                        if (finaltotal != 0) {
                                            var percent = inputValue / finaltotal;
                                            var finalpercent = Math.round(percent * 100) + '%';
                                            $('#PercenCount' + count2).val(finalpercent);
                                        }
                                    }
                                    function GetTotal() {
                                        var total = 0;
                                        var finaltotal = 0;
                                        $(".onlyNumber").each(function () {
                                            total += +$(this).val();
                                        });
                                        var finaltotal = total;
                                        return finaltotal;
                                    }
                                    //else {
                                        //$("#" + id).prop("disabled", true);
                                    //}
                                });
                            });
                            // Addition Lead
                            $('.Addtion').one('click', function (e) {
                                e.preventDefault();
                                var id = $(this).attr('id');
                                var UserCount = $('input[id= ' + id + ']').prev().closest('input[type="text"]').attr("id");
                                var inputCount = $(".onlyNumber").length;
                                    $('#' + id).click(function add() {
                                        var $room = $("#" + UserCount);
                                         var a = 0;
                                         a = $room.val();
                                         a++;
                                         $room.val(a);
                                        var inputCountPercent = $(".GetPercent").length;
                                        var finaltotal = GetTotal();
                                        for (i = 0; i < inputCount; i++)
                                        {
                                            count2 = i + 1;
                                            var inputValue = $('#noOfRoom' + count2).val();
                                            if (finaltotal != 0)
                                            {
                                                var percent = inputValue / finaltotal;
                                                var finalpercent = Math.round(percent * 100) + '%';
                                                $('#PercenCount' + count2).val(finalpercent);
                                            }
                                        }
                                        function GetTotal() {
                                            var total = 0;
                                            var finaltotal = 0;
                                            $(".onlyNumber").each(function () {
                                                total += +$(this).val();
                                            });
                                            var finaltotal = total;
                                            return finaltotal;
                                        }
                            });
                            });
                        }
                    });
            });
          
    

          // Remove selected user from partition

            //$(document).on('click', 'a', function () {
            //    var id = this.id;
            //    var inputCount = $(".onlyNumber").length;
            // //  alert(inputCount);
            // // var textBoxId = $('.onlyNumber').find('input[type=text]').attr('id');
            //    var Checkid = $(this).attr('ids');                    
            //    $(".LoanCheckbox").each(function () {
            //        $("#checkAll").prop("checked", false);
            //        $("#checkAllLabel").text("Select All Users");                
            //        $('input[id="' + id + '"]').prop("checked", false);              
            //        $('#' + id + '.removeLoanOfficer').remove();                
            //         // var inputCount = $(".onlyNumber").length;
            //          //alert(inputCount);                      
            //        var finaltotal = GetTotal();
            //        for (i = 0; i < inputCount; i++)
            //        {
            //                count2 = i + 1;
            //                var inputValue = $('#noOfRoom' + count2).val();
            //               if (inputValue != undefined) {
            //               // alert(inputValue);
            //                if (finaltotal != 0) {
            //                    var percent = inputValue / finaltotal;
            //                    var finalpercent = Math.round(percent * 100) + '%';
            //                    $('#PercenCount' + count2).val(finalpercent);
            //                    }
            //                }
            //        }
            //        function GetTotal()
            //        {
            //                var total = 0;
            //                var finaltotal = 0;
            //                $(".onlyNumber").each(function () {
            //                    total += +$(this).val();
            //                });
            //                var finaltotal = total;
            //                return finaltotal;
            //        }                                                      
            //    });
            //});

            // Code to remove ISa offcier partiitioning


            //$(document).on('click', 'a', function () {
            //    var id = this.id;
            //    var inputCount = $(".onlyNumberIsa").length;
            //    $(".InsideSalesCheckbox").each(function ()
            //    {                  
            //        $("#checkAllISa").prop("checked", false);
            //        $("#checkAllISaLabel").text("Select All Users");
            //        $('input[id="' + id + '"]').prop("disabled", false);
            //        $('input[id="' + id + '"]').prop("checked", false);
            //        // To remove selected Loan Offcier
            //        //  alert('hh');
            //        $('#' + id + '.removeIsaOfficer').remove();              
            //       // alert(inputCount);
            //        var finaltotal = GetTotal();
            //        for (i = 0; i < inputCount; i++) {
            //            count2 = i + 1;
            //            var inputValue = $('#noOfRoomIsa' + count2).val();
            //            if (finaltotal != 0) {
            //                var percent = inputValue / finaltotal;
            //                var finalpercent = Math.round(percent * 100) + '%';
            //                $('#PercenCountIsa' + count2).val(finalpercent);
            //            }
            //        }
            //        function GetTotal() {
            //            var total = 0;
            //            var finaltotal = 0;
            //            $(".onlyNumberIsa").each(function () {
            //                total += +$(this).val();
            //            });
            //            var finaltotal = total;
            //            return finaltotal;
            //        }
            //    });
            //});


            // Save All Data to db
               $("#btn_CreateLead").click(function () {
                   var LoanOffcierIdsresult = '';
                   var LoanOffcierQuanityresult = '';
                   var LoanOffcierDivisionresult = ''
                   var LoanOffcierIds = "";
                   var LoanOffcierQuanity = new Array();
                   var LoanOffcierDivision = new Array();
                   //var LoanOffcierIds = [];
                   ///var LoanOffcierQuanity = [];
                   //var LoanOffcierDivision = [];
                   var SaleOffcierIds = [];
                   var SaleOffcierQuanity = [];
                   var SaleOffcierDivision = [];
                $(".quality").find("a").each(function () {
                       LoanOffcierIds = LoanOffcierIds + "," + this.id;      
                   });
                   LoanOffcierIds = LoanOffcierIds.replace(/^,|,$/g, '');
                   //alert(LoanOffcierIds);                
                   $(".quality1").find("a").each(function ()
                   {
                       SaleOffcierIds = SaleOffcierIds + "," + this.id;
                       SaleOffcierIds = SaleOffcierIds.replace(/^,|,$/g, '');
                       //SaleOffcierIds.push(this.id);
                   });
                   $(".LoanOfficerInc").children("input[type=text]").each(function () {
                      // LoanOffcierQuanity.push(this.value);
                       LoanOffcierQuanity = LoanOffcierQuanity + "," + this.value;
                       LoanOffcierQuanity = LoanOffcierQuanity.replace(/^,|,$/g, '');
                   });
                   $(".LoanOfficierPercent").children("input[type=text]").each(function () {
                       //LoanOffcierDivision.push(this.value);
                       LoanOffcierDivision = LoanOffcierDivision + "," + this.value;
                       LoanOffcierDivision = LoanOffcierDivision.replace(/^,|,$/g, '');
                   });
                   $(".SaleOfficerInc").children("input[type=text]").each(function () {
                      // SaleOffcierQuanity.push(this.value);
                       SaleOffcierQuanity = SaleOffcierQuanity + "," + this.value;
                       SaleOffcierQuanity = SaleOffcierQuanity.replace(/^,|,$/g, '');
                   });
                   $(".SaleofficierPercent").children("input[type=text]").each(function () {
                       //LoanOffcierDivision.push(this.value);
                       SaleOffcierDivision = SaleOffcierDivision + "," + this.value;
                       SaleOffcierDivision = SaleOffcierDivision.replace(/^,|,$/g, '');
                   });                 
                   var model = {
                       "PriceMin": $("#PriceMin").val(),
                       "PriceMax": $("#PriceMax").val(),
                       "Locations": $("#Locations").val(),
                       "LeadType": $("#SelectLeadtype").val(),
                       "Title": $("#Title").val(),
                       "ActiveDays": $("#SelectDays").val(),
                       "LoanOffcierIds": LoanOffcierIds,
                       "LoanOffcierQuanity": LoanOffcierQuanity,
                       "LoanOffcierDivision": LoanOffcierDivision,
                       "SaleOffcierIds": SaleOffcierIds,
                       "SaleOffcierQuanity": SaleOffcierQuanity,
                       "SaleOffcierDivision": SaleOffcierDivision
                   }
                   $.ajax({
                       url: '/Lead/AddLead/',
                       type: 'POST',
                       async: false,                  
                       data: JSON.stringify({ AddLeadDistribution: model }),         
                       traditional : true,
                       contentType : "application/json; charset=utf-8",
                    dataType: 'json',
                    cache: false,
                    success: function (data) {
                        if (data == "Success") {
                            alert('done');

                    }
                    //  var CardCode = $("#UserID").val();
                    window.location = '@Url.Action("AddLead", "Lead")';
                    },
                    error: function () {
                        alert('Something Wrong !!!');
                    }
                });
            });

            //$(document).on('click', '.LoanOfficerInc', function () {
            //    $('#adds1').click(function add() {
            //        var $rooms = $("#noOfRoom");
            //        var a = $rooms.val();
            //        a++;
            //        $("#subs").prop("disabled", !a);
            //        $rooms.val(a);
            //    });
            //});

            var quantitiy = 0;
            $('.quantity-right-plus').click(function (e) {
               // alert('j');
                e.preventDefault();
                var quantity = parseInt($('#quantity').val());
                $('#quantity').val(quantity + 1);
            });
            $('.quantity-left-minus').click(function (e) {
              //  alert('j');
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());
                // If is not undefined
                // Increment
                if (quantity > 0) {
                    $('#quantity').val(quantity - 1);
                }
            });
            var quantitiy = 0;
            $('.quantity-right-plus-1').click(function (e) {
              //  alert('j');
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity1').val());
                // If is not undefined
                $('#quantity1').val(quantity + 1);
                // Increment
            });
            $('.quantity-left-minus-1').click(function (e) {
                   // alert('j');
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity1').val());
                // If is not undefined
                // Increment
                if (quantity > 0) {
                    $('#quantity1').val(quantity - 1);
                }
            });
        });
    </script>

}