﻿
@foreach (var item in Model._listNote)
{
    <div class="user_act_div">
        <table>
            <thead>
                <tr>
                    <th width="60px" style="color:#f16522;padding-left:20px"> <i class="fa fa-file fa fa-2x"></i></th>
                    <th width="60px"><img class="avatar-img" src="/Assests/images/user.png" alt=""></th>
                    <th width="20%">
                        <h5>You added a note</h5>
                        <p>@item.Description</p>
                    </th>
                    <th width="800px"><a id="@item.NoteId" date="@item.CreatedOn" href="#" class="text-danger">Delete</a></th>
                    <th class="color-dark" style="float:right">@item.CreatedOn</th>
                </tr>
            </thead>
        </table>
    </div>
}
@foreach (var item in Model._listPhone)
{
    <div class="user_act_div">
        <table>
            <thead>
                <tr>
                    <th width="60px" style="color:#f16522;padding-left:20px"> <i class="fa fa-phone fa fa-2x"></i></th>
                    <th width="60px"><img class="avatar-img" src="/Assests/images/user.png" alt=""></th>
                    <th width="20%">
                        <h5>You added a phone call</h5>
                        <p>@item.Description</p>
                    </th>
                    <th width="800px"><a id="@item.NoteId" date="@item.CreatedOn" href="#" class="text-danger">Delete</a></th>
                    <th class="color-dark" style="float:right">@item.CreatedOn</th>
                </tr>
            </thead>
        </table>
    </div>
}
@foreach (var item in Model._listEmail)
{
    <div class="user_act_div">
        <table>
            <thead>
                <tr>
                    <th width="60px" style="color:#f16522;padding-left:20px"> <i class="fa fa-envelope fa fa-2x"></i></th>
                    <th width="60px"><img class="avatar-img" src="/Assests/images/user.png" alt=""></th>
                    <th width="20%">
                        <h5>You added a email</h5>
                        <p>@item.Description</p>
                    </th>
                    <th width="800px"><a id="@item.NoteId" date="@item.CreatedOn" href="#" class="text-danger">Delete</a></th>
                    <th class="color-dark" style="float:right">@item.CreatedOn</th>
                </tr>
            </thead>
        </table>
    </div>
}
@foreach (var item in Model._listSocial)
{
    <div class="user_act_div">
        <table>
            <thead>
                <tr>
                    <th width="60px" style="color:#f16522;padding-left:20px"> <i class="fa fa-users fa fa-2x"></i></th>
                    <th width="60px"><img class="avatar-img" src="/Assests/images/user.png" alt=""></th>
                    <th width="20%">
                        <h5>You interacted on social media</h5>
                        <p>@item.Description</p>
                    </th>
                    <th width="800px"><a id="@item.NoteId" date="@item.CreatedOn" href="#" class="text-danger">Delete</a></th>
                    <th class="color-dark" style="float:right">@item.CreatedOn</th>
                </tr>
            </thead>
        </table>
    </div>
}
@foreach (var item in Model._listFace)
{
    <div class="user_act_div">
        <table>
            <thead>
                <tr>
                    <th width="60px" style="color:#f16522;padding-left:20px"> <i class="fa fa-weixin fa fa-2x"></i></th>
                    <th width="60px"><img class="avatar-img" src="/Assests/images/user.png" alt=""></th>
                    <th width="20%">
                        <h5>You met face to face</h5>
                        <p>@item.Description</p>
                    </th>
                    <th width="800px"><a id="@item.NoteId" date="@item.CreatedOn" href="#" class="text-danger">Delete</a></th>
                    <th class="color-dark" style="float:right">@item.CreatedOn</th>
                </tr>
            </thead>
        </table>
    </div>
}
