﻿@model Key2Home.Models.user
<div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">User Details</h4>
    </div>
    <hr />
    <div class="modal-body">
        <div>
            <h1>dhsdh</h1>
            <table class="table table-bordered">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.FirstName)</td>
                    <td>@Html.DisplayFor(model => model.FirstName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.LastName)</td>
                    <td>@Html.DisplayFor(model => model.LastName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Email)</td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DOB)</td>
                    <td>@Html.DisplayFor(model => model.DOB)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Phone1)</td>
                    <td>@Html.DisplayFor(model => model.Phone1)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Notes)</td>
                    <td>@Html.DisplayFor(model => model.Notes)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Warnings)</td>
                    <td>@Html.DisplayFor(model => model.Warnings)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.roles)</td>
                    <td>@Html.DisplayFor(model => model.roles)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.status)</td>
                    <td>@Html.DisplayFor(model => model.status)</td>
                         
               </tr>              
            </table>
        </div>
    </div>
</div>
