﻿@model Key2Home.ViewModel.ViewModelUserTextMessage

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <!-- /# row -->
    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <div>
                        <div class="compose-email">
                            <div class="mail-box">
                                <aside class="sm-side">
                                    <div class="user-head" style="display: table-caption">
                                        <a class="inbox-avatar" href="#">
                                        </a>
                                        @Html.HiddenFor(m => m.UserID)
                                        <div class="user-name">
                                            <h5><a href="#" style="color:#fff">@Model.FirstName @Model.LastName</a></h5>
                                            <h6>Keys2Home</h6><h6></h6>
                                            <span> <a href="@Url.Action("ComposeUserMail", "User", new { UserId = @Model.UserID })"><b>Email :</b>@Model.Email</a></span>
                                            <h6><b>Phone No :</b>@Model.Phone1&gt;</h6>
                                            <h6 style="text-align:center" class="text-success">
                                                <i class="fa fa-check-circle "></i>
                                                <a href="@Url.Action("EditContactDetails", "User", new { UserId = @Model.UserID })">@Model.status</a>
                                            </h6>
                                        </div>
                                        <div class="inbox-body">
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-default" href="#">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-success" href="javascript:;">
                                                    <i class="fa fa-phone"></i>
                                                </a>
                                            </div>
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-default" href="javascript:;">
                                                    <i class="fa fa-cog"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">
                                        <li>
                                            <h4>Header</h4>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ActivitiesTasks", "User", new { UserId = @Model.UserID })">
                                                <i class=" fa fa-home text-danger"></i>Activities and Tasks
                                            </a>
                                        </li>
                                        @*<li>
                                                <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-success"></i> Tasks
                                                </a>
                                            </li>*@
                                        <li>
                                            <a href="@Url.Action("UserContactDetails", "User", new { UserId = @Model.UserID })">
                                                <i class=" fa fa-user text-success"></i> Contact Details
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class=" fa fa-envelope text-info"></i> Email
                                            </a>
                                            <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                <li>
                                                    <a href="@Url.Action("ComposeUserMail", "User", new { UserId = @Model.UserID })">
                                                        <i class="fa fa-plus-square text-info"></i> Compose Email
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("UserEmail", "User", new { UserId = @Model.UserID })">
                                                        <i class="fa fa-inbox text-info"></i> Inbox
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("SentUserMail", "User", new { UserId = @Model.UserID })">
                                                        <i class="fa fa-paper-plane text-info"></i> Send Mail
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("TextMessage", "User", new { UserId = @Model.UserID })">
                                                <i class=" fa fa-user text-warning"></i> Text Messages
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("LiveActivity", "User", new { UserId = @Model.UserID })">
                                                <i class=" fa fa-user text-warning"></i> Campaigns
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class=" fa fa-search text-primary"></i> Searching</a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-pills nav-stacked labels-info"></ul>
                                </aside>

                                <aside class="lg-side">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="inbox-head">
                                                <h3 class="input-text" style="color: #fff">User's Activities</h3>
                                                <form action="#" class="pull-right position"></form>
                                            </div>
                                            <div class="mail-option">
                                                <div class="btn-group" style="width:200px">
                                                    <select id="simpleList" class="form-control">
                                                        <option id="0">--Select--</option>
                                                        <option id="1">Notes </option>
                                                        <option id="2">Phone Call</option>
                                                        <option id="3">Email</option>
                                                        <option id="4">Social Media</option>
                                                        <option id="5">Face To Face</option>
                                                    </select>
                                                </div>
                                                <div class="btn-group hidden-phone" style="width:722px">
                                                    <input placeholder="Description" id="addDescription" class="form-control" type="text">
                                                </div>
                                                <div class="btn-group ">
                                                    <a href="javascript:;" class="btn btn-primary btn-flat" id="addNote"><i class="ti-plus"></i>Add</a>
                                                </div>
                                            </div>
                                            <div id="ShowNotesFromDb">
                                                @foreach (var item in Model._listNote)
                                                {
                                                    <div class="user_act_div">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th width="60px" style="color:#f16522;padding-left:20px"> <i class="fa fa-file fa fa-2x"></i></th>
                                                                    <th width="60px"><img class="avatar-img" src="/Assests/images/user.png" alt=""></th>
                                                                    <th width="20%">
                                                                        <h5>You added a note</h5>
                                                                        <p>@item.Description</p>
                                                                    </th>
                                                                    <th width="800px"><a id="@item.NoteId" date="@item.CreatedOn" href="#" class="text-danger">Delete</a></th>
                                                                    <th class="color-dark" style="float:right">@item.CreatedOn</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                }
                                                @foreach (var item in Model._listPhone)
                                                {
                                                    <div class="user_act_div">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th width="60px" style="color:#f16522;padding-left:20px"> <i class="fa fa-phone fa fa-2x"></i></th>
                                                                    <th width="60px"><img class="avatar-img" src="/Assests/images/user.png" alt=""></th>
                                                                    <th width="20%">
                                                                        <h5>You added a phone call</h5>
                                                                        <p>@item.Description</p>
                                                                    </th>
                                                                    <th width="800px"><a id="@item.NoteId" date="@item.CreatedOn" href="#" class="text-danger">Delete</a></th>
                                                                    <th class="color-dark" style="float:right">@item.CreatedOn</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                }
                                                @foreach (var item in Model._listEmail)
                                                {
                                                    <div class="user_act_div">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th width="60px" style="color:#f16522;padding-left:20px"> <i class="fa fa-envelope fa fa-2x"></i></th>
                                                                    <th width="60px"><img class="avatar-img" src="/Assests/images/user.png" alt=""></th>
                                                                    <th width="20%">
                                                                        <h5>You added a email</h5>
                                                                        <p>@item.Description</p>
                                                                    </th>
                                                                    <th width="800px"><a id="@item.NoteId" date="@item.CreatedOn" href="#" class="text-danger">Delete</a></th>
                                                                    <th class="color-dark" style="float:right">@item.CreatedOn</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                }
                                                @foreach (var item in Model._listSocial)
                                                {
                                                    <div class="user_act_div">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th width="60px" style="color:#f16522;padding-left:20px"> <i class="fa fa-users fa fa-2x"></i></th>
                                                                    <th width="60px"><img class="avatar-img" src="/Assests/images/user.png" alt=""></th>
                                                                    <th width="20%">
                                                                        <h5>You interacted on social media</h5>
                                                                        <p>@item.Description</p>
                                                                    </th>
                                                                    <th width="800px"><a id="@item.NoteId" date="@item.CreatedOn" href="#" class="text-danger">Delete</a></th>
                                                                    <th class="color-dark" style="float:right">@item.CreatedOn</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                }
                                                @foreach (var item in Model._listFace)
                                                {
                                                    <div class="user_act_div">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th width="60px" style="color:#f16522;padding-left:20px"> <i class="fa fa-weixin fa fa-2x"></i></th>
                                                                    <th width="60px"><img class="avatar-img" src="/Assests/images/user.png" alt=""></th>
                                                                    <th width="20%">
                                                                        <h5>You met face to face</h5>
                                                                        <p>@item.Description</p>
                                                                    </th>
                                                                    <th width="800px"><a id="@item.NoteId" date="@item.CreatedOn" href="#" class="text-danger">Delete</a></th>
                                                                    <th class="color-dark" style="float:right">@item.CreatedOn</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                }

                                            </div>

                                            <div id='myModal' class='modal'>
                                                <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
                                                    <div class="modal-content">
                                                        <div id='myModalContent'></div>
                                                    </div>
                                                </div>
                                            </div>
                                            @foreach (var item in Model._objMessageList)
                                            {
                                                <div class="table-responsive">
                                                    <div>
                                                        <select name="dropdown" class="form-control deleteActions" id="delete_actions">
                                                            <option value="0">Select an action...</option>
                                                            <option value="1">Delete Selected</option>
                                                            <option value="2">Delete All</option>
                                                        </select>
                                                    </div>
                                                    <input type="checkbox" class="checkAllCheck" id="checkAll">Select All
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td class="inbox-small-cells">
                                                                    <input class="myCheckBox" type="checkbox" id="@item.Id" value="@item.Id">
                                                                    @*<input type="checkbox" class="mail-checkbox">*@
                                                                </td>
                                                                @Html.Hidden("allcardsname")
                                                                <td class="inbox-small-cells"><img src="~/Key2HomeImages/user.png" style="width:36px" alt=""></td>
                                                                <td class="view-message  dont-show">@Model.FirstName @Model.LastName</td>
                                                                <td class="view-message">
                                                                    <b>You sent a text message to @Model.FirstName @Model.LastName @Model.Phone1</b>
                                                                    <p>@item.Message</p>
                                                                </td>
                                                                <td class="view-message  inbox-small-cells"></td>
                                                                <td class="view-message  text-right">
                                                                    <button type="button" id="@item.Id" class="btndelete btn btn-danger btn-xs  btn-flat" btnid="@item.Id" deleteid="@("box" + item.Id)" disabled>Delete</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <div class="box-header card" style="background-color:#0d97ef;color:#ececec">
                                                    <h3 class="box-title">My Task</h3>
                                                </div>
                                                <!-- /.box-header -->
                                                <div class="nav-tabs-custom card-body">
                                                    <ul class="nav nav-tabs">
                                                        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false" style="color: #000">TODAY(<label id="lbcount"></label>)</a></li>
                                                        <button id="btnShow" class="btn btn-danger pull-right" style="margin-right: 16px" data-toggle="modal" data-target="#myModalAdd">Create New</button>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <!-- /.tab-pane -->
                                                        <div class="tab-pane active" id="tab_2">
                                                            <div class="box box-solid">
                                                                <div class="box-header with-border">

                                                                    <h4 class="box-title"> Today's Task</h4>
                                                                </div>
                                                                <div id="ShowTasksFromDb">
                                                                    @foreach (var item in Model._listTasks)
                                                                    {
                                                                        <div class="box-body card-body" style="background:#d6d6d6;padding:0px;border-left:40px solid #297EA2;">
                                                                            <table class="table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th><i class="fa fa-phone"></i></th>
                                                                                        <th>@item.TaskTitle<br><a href="#" class="btn btn-primary btn-flat btn-xs">@item.Priority</a><br>@item.TaskDay @item.DueDate</th>
                                                                                        <th><img src="images/user.png" alt="" style="width:20px"> </th>
                                                                                        <th>
                                                                                            <div class="task-menu task-card-section dropdown">
                                                                                                <div data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
                                                                                                    <i class="fa fa-caret-down"></i>
                                                                                                </div>
                                                                                                <ul class="dropdown-menu dropdown-menu-right">
                                                                                                    <li><a href="#" data-toggle="modal" id="@item.Id" Userid="@item.UserId" data-target="#myModalComplete" class="openmodal complete-task">Complete Task</a></li>
                                                                                                    @*<button id="btnShow" class="btn btn-danger pull-right" style="margin-right: 16px" data-toggle="modal" data-target="#myModalAdd">Create New</button>*@
                                                                                                    <li><a href="#" id="@item.Id" Userid="@item.UserId" class="deletemodalTask">Delete Task</a></li>
                                                                                                    @*   <li><a href="#" class="delete-task">Delete Task</a></li>*@
                                                                                                </ul>
                                                                                            </div>
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                            </table>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalAdd" role="dialog" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        @Html.HiddenFor(m => m.UserID)
        <!-- Modal content-->
        <div class="modal-content" style="width:60%;left:120px;top:50px">
            <div class="modal-header inbox-head">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="color:#fff">Create Task</h3>
            </div>
            <div class="modal-body">
                <form class="new-look material-form">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" value="11/05/2018 07:19 am">
                    <div class="form-group">
                        <label>Task Title</label>
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Enter task title" })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter task description" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label>Due Date</label>

                                @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Due Date", @readonly = "true" } })
                                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Due Time</label>
                                @Html.EditorFor(model => model.DueTime, new { htmlAttributes = new { @class = "form-control", placeholder = "Due Time", @readonly = "true" } })
                                @Html.ValidationMessageFor(model => model.DueTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <input type="hidden" value="3849364">
                        <label>Lead</label>
                        <div class="form-control">
                            <span class="owner-name">
                                @Model.FirstName@Model.LastName
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Assignee</label>
                        <div>
                            <div class="material-select-input">
                                <div class="form-group">
                                    <div>
                                        @Html.DropDownListFor(m => m.Assignee, (SelectList)ViewBag.TeamAgentList, "-- Select Assignee--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Assignee, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="task_lead_interaction_type_id">Task Type</label>
                        <div>
                            <div class="material-select-input">
                                <div class="form-group">
                                    <div>
                                        @Html.DropDownListFor(m => m.Lead, ViewData["TaskTypelist"] as List<SelectListItem>, new { @class = " form-control" })
                                        @Html.ValidationMessageFor(model => model.Lead, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="error-block"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="task_priority">Priority</label>
                        <div>
                            <div>
                                @Html.DropDownListFor(m => m.Priority, ViewData["Prioritylist"] as List<SelectListItem>, new { @class = " form-control" })
                                @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                            </div>
                            <div class="error-block"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" id="btnSaveTask" class="btn btn-danger">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>
<div class="modal fade" id="myModalComplete" role="dialog">
    <div class="modal-dialog">
        @Html.HiddenFor(m => m.UserID)

        <!-- Modal content-->
        <div class="modal-content" style="width:60%;left:120px;top:50px">
            <div class="modal-header inbox-head">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="color:#fff">Complete Task</h3>
            </div>
            <div class="modal-body">
                <form class="new-look material-form">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" value="11/05/2018 07:19 am">
                    <div class="form-group">
                        <label>Task Title</label>
                        <label id="TaskIds"></label>
                        <div><label id="lbTitle"></label></div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <div><label id="lbDescription"></label></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Created By</label>
                                <div><label id="lbCreatedBy"></label></div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Created At</label>
                                <div><label id="lbCreatedAt"></label></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Due Date</label>
                                <div><label id="lbDueDate"></label></div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Due Time</label>
                                <div><label id="lbDueTime"></label></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Assignee</label>
                        <div>
                            <div><label id="lbAssignee"></label></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="task_lead_interaction_type_id">Task Type</label>
                        <div>
                            <div class="material-select-input">
                                <select class="form-control" id="DrpTaskType">
                                    <option value="1">Phone Call</option>
                                    <option value="2">E-Mail</option>
                                    <option value="3">Social Media</option>
                                    <option value="4">Face to Face</option>
                                    <option value="5">Text (SMS)</option>
                                    <option value="6">Administrative</option>
                                </select>
                                <div class="error-block"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" id="btnCompleteTask" class="btn btn-danger">Complete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>


                </form>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>
<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<div class="modal fade" id="deleteModalTaskModal" role="dialog" style="opacity:1">
    <div class="modal-dialog" style="width:50%;margin-top:-190px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <p>DO YOU WANT TO DELETE SELECTED TASK?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnYesTask" class="btn btn-primary">Yes</a>
                <a href="#" id="btnNoTask" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <p>DO YOU WANT TO DELETE SELECTED MESSAGE?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnYes" class="btn btn-primary">Yes</a>
                <a href="#" id="btnNo" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MessageModal" role="dialog">
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <p>SELECTED MESSAGE WHICH YOU WANT TO DELETE</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModalAllMessage" role="dialog">
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <p>DO YOU WANT TO DELETE All MESSAGE?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnAllYes" class="btn btn-primary">Yes</a>
                <a href="#" id="btnAllNo" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteNoteModal" role="dialog">
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <p>DO YOU WANT TO DELETE THIS NOTE?</p>
                <input type="hidden" id="hdnId" />
                <input type="hidden" id="hdnDate" />
            </div>
            <div class="modal-footer">
                <a href="#" id="btnNoteYes" class="btn btn-primary">Yes</a>
                <a href="#" id="btnNoteNo" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
            </div>
        </div>
    </div>
</div>
<!-- /# main -->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Assests/css/timepicki.css" rel="stylesheet" />
    <script src="~/Assests/js/timepicki.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
                $('#DueDate').datepicker({
                    dateFormat: "mm/dd/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });
                $('#DueTime').timepicki();
                $('#btnShow').click(function () {
                    $('#myModalAdd').css('display', 'block');
                });
        $('#checkAll').click(function () {
            if ($(this).is(':checked')) {
                if ($('input:checkbox').not(this).prop('checked', this.checked));
                $('#delete_actions').removeAttr('disabled');
                $(".table").find("button").attr("disabled", false);
            }
            else {
                $(".table").find('input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                    $('#delete_actions').attr('disabled', true);
                    $(".table").find("button").attr("disabled",true);
                });
            }
            var result = '';
            $('.table input[type=checkbox]').each(function () {
                if ($(this).is(':checked')) {
                    if (result != "") {
                        result = $(this).val() + ',' + result;
                    }
                    else {
                        result = $(this).val();
                    }
                }
            });
            $("#allcardsname").val(result);
        });
            //$("#checkAll").click(function () {
            //    if ($('input:checkbox').not(this).prop('checked', this.checked));
            //        $("#delete_actions").prop("disabled", false);
            //      //  $("#delete_actions").prop("disabled", true);
            //});
            $(document).on('change', '.myCheckBox', function () {
                var row = $(this).closest('tr');

                if ($(this).is(':checked')) {
                    $(row).find('.btndelete').prop("disabled", false);

                }
                else {
                    $(row).find('.btndelete').prop("disabled", true);
                }
            });
            if ($(".table").find('input[type="checkbox"]').prop("checked") == false) {
                $("#allcardsname").val("");
                $("#delete_actions").prop("disabled", true);
            }

            $('.table input[type=checkbox]').change(function () {
                var checkBoxes = $('tbody .myCheckBox');
                $('#delete_actions').prop('disabled', checkBoxes.filter(':checked').length < 1);
               $('tbody .myCheckBox').change();
            });

                    $(".table").find("input[type='checkbox']").click(function () {
                        var result = '';
                        $('.table input[type=checkbox]').each(function () {
                                if ($(this).is(':checked'))
                                {
                                    if (result != "") {
                                        result = $(this).val() + ',' + result;
                                    }
                                    else {
                                        result = $(this).val();
                                    }
                                }
                            });
                        $("#delete_actions").prop("disabled", false);
                            $("#allcardsname").val(result);
                });

                // For deleting all Messages of particular users
                $('select[name="dropdown"]').change(function () {
                if ($(this).val() == "1") {
                    $('#deleteModal').modal('show');
                    $('#btnYes').click(function () {
                        //    var comments = $('#txtComments').val();
                        var selectedId = $('#allcardsname').val();
                        var selectedId = $('#allcardsname').val();
                       // alert(selectedId);
                        $.ajax({
                            type: "POST",
                            url: '/User/DeleteSelMessage',
                            data: "id=" + selectedId,
                            datatype: "json",
                            success: function () {
                                $('#deleteModal').modal('hide');
                                var UserId = $("#UserID").val();
                                window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);
                            },
                        });
                    });
                    $('#btnNo').click(function () {
                       // alert('No clicked');
                        var UserId = $("#UserID").val();
                        window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);

                        @*$.ajax({
                            type: "POST",
                         //   url: '/User/ActivitiesTasks',
                           // data: "id=" + selectedId,
                            datatype: "json",
                            success: function () {
                                  var UserId = $("#UserID").val();
                                alert(UserId);
                                window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);
                            },
                        });*@
                    });
                    }
                else if ($(this).val() == "2") {
                   // alert('2');
                    $('#deleteModalAllMessage').modal('show');
                    //var options = { "backdrop": "static", keyboard: true };
                    //alert('All');
                 //  var table = $(e.target).closest('table');
                  // $('td input:checkbox', table).prop('checked', this.checked);
                 //   alert(table);
                    $('#btnAllYes').click(function () {
                    var selectedId = $('#allcardsname').val();
                  //  alert(selectedId);
                    $.ajax({
                        type: "POST",
                        url: '/User/DeleteSelMessage',
                        data: "id=" + selectedId,
                        datatype: "json",
                        success: function (data) {
                            $('#deleteModalAllMessage').modal('hide');
                           // $('#myModalContent').html(data);
                           // $('#myModal').modal(options);
                            //$('#myModal').modal('show');
                            var UserId = $("#UserID").val();
                               // alert(UserId);
                         window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);
                        },
                        });
                    });
                      $('#btnAllNo').click(function () {
                     var UserId = $("#UserID").val();

                         window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);

            });
                    }
            });

                // For deleting single message
                $(".table").find("input[type='checkbox']").click(function () {
                    var result = '';
                    $('.table input[type=checkbox]').each(function () {
                        if ($(this).is(':checked')) {
                            if (result != "") {
                                result = $(this).val() + ',' + result;
                            }
                            else {
                                result = $(this).val();
                            }
                        }
                    });
                    $("#lead_actions").prop("disabled", false);
                    $("#allcardsname").val(result);
                });

            $('.btndelete').click(function () {
                var id = $(this).attr('btnid');
                  var UserId = $("#UserID").val();
            //    alert(id);
                   $('#deleteModal').modal('show');
                         $('#btnYes').click(function () {
                        var selectedId = $('#allcardsname').val();
                        //alert(selectedId);
                        $.ajax({
                            type: "POST",
                            url: '/User/DeleteSelSingleMessage',
                            data: "id=" + id,
                            datatype: "json",
                            success: function () {
                                $('#deleteModal').modal('hide');
                                var UserId = $("#UserID").val();
                               // alert(UserId);
                                window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);
                            },
                        });
                    });
            });
            var NoteTex = '';

            // Adding Description
            $("#simpleList").change(function () {
                NoteTex = $(this).children(":selected").attr("id");
            });

           $('#addNote').click(function () {
                $('#ShowNotesFromDb').html('');
                     var notes =  $("#addDescription").val();
                       var UserId = $("#UserID").val();
                       $.ajax({
                           url: '/User/AddNote',
                           type: "POST",
                           async: false,
                           data: "NoteDes=" + notes + "&NoteId=" + NoteTex + "&UserIdentity=" + UserId,
                           datatype: "json",
                           success: function (obj)
                           {
                               $("#ShowNotesFromDb").html("");
                               $('#addDescription').val("");
                               var listItems = "";
                               for (var i = 0; i < obj.length; i++) {
                                   ///listItems += "<div class='box-body card-body' style=background:#d6d6d6;padding:0px;border-left:40px solid #297EA2;><table class=table><thead><tr><th><i class=fa fa-phone></i></th><th>" + obj[i].TaskTitle + "<br><a href=# class=btn btn-primary btn-flat btn-xs></a><br>" + obj[i].TaskDay + "" + obj[i].DueDate + "</th><th><img src=images/user.png style=width:20px></th><th><div class='task-menu task-card-section dropdown'><div data-toggle=dropdown class=dropdown-toggle aria-expanded=false><i class='fa fa-caret-down'></i></div><ul class='dropdown-menu dropdown-menu-right'><li><a href=# data-toggle=modal id=" + obj[i].Id + " Userid=" + obj[i].UserId + " data-target=#myModalComplete class=openmodal complete-task>Complete Task</a></li><li><a href=# id=" + obj[i].Id + " Userid=" + obj[i].UserId + " class=deletemodalTask>Delete Task</a></li></ul></div></th></tr></thead></table></div>"
                                 listItems += "<div class=user_act_div><table><thead><tr><th style=color:#f16522;padding-left:20px;width:60px><i class='fa fa-" + obj[i].Icons + " fa fa-2x'></i></th><th width=60px><img class=avatar-img src=/Assests/images/user.png></th><th width=20%><h5>You added a " + obj[i].NoteText + "</h5><p>" + obj[i].Description + "</p></th><th width=800px><a id=" + obj[i].NoteId + " date='" + obj[i].CreatedOn + "' href=# class=text-danger>Delete</a></th><th class=color-dark style=float:right>" + obj[i].CreatedOn + "</th></tr></thead></table></div>";
                               }
                               $("#ShowNotesFromDb").append(listItems);
                           },
                           error: function () {
                               alert('Something Wrong !!!');
                           }
                        });
            });

            // open modal to see detials and update complete task
            var SelTaskId = "";
            //$('#openmodal').on('click', 'li', function (e) {
            $('.openmodal').on('click', function (e) {
                //akert('jj');
                var UserId = $("#UserID").val();
                var id = $(this).attr('id');
                var Usid = $(this).attr('Userid');
                $.ajax({
                    type: "POST",
                    url: '/User/GetTaskDetails',
                    data: "Taskid=" + id + "&UserId=" + Usid,
                    datatype: "json",
                    success: function (obj)
                    {
                        $('#myModalComplete').show();
                        SelTaskId = obj.Id;
                        $('#lbTitle').text(obj.TaskTitle);
                        $('#lbDescription').text(obj.Description);
                        $('#lbCreatedBy').text(obj.Assignee);
                        $('#lbCreatedAt').text(obj.CreatedDate);
                        $('#lbDueDate').text(obj.DueDate);
                        $('#lbDueTime').text(obj.DueTime);
                        $('#lbAssignee').text(obj.Assignee);
                        $("#DrpTaskType option").filter(function () {
                            return this.text == obj.Lead;
                        }).attr('selected', true);
                       // $("#ShowTasks").append(listItem);
                    },
                    error: function () {
                        alert('Something Wrong !!!');
                    }
                });
            });

            var SelTaskId = "";
            $('.deletemodalTask').on('click', function (e) {
                $('#deleteModalTaskModal').show();
                var UserId = $("#UserID").val();
                var id = $(this).attr('id');
                var Usid = $(this).attr('Userid');
                //alert('jjj');
                $("#btnYesTask").one('click', function () {
                $.ajax({
                    type: "POST",
                    url: '/User/deleteTask',
                    data: "Taskid=" + id + "&UserId=" + Usid,
                    datatype: "json",
                    success: function (obj) {
                        $('#deleteModalTaskModal').hide();
                        $('#ShowTasksFromDb').html('');
                        $('#lbcount').text(obj.TaskCounts);
                        var listItem = "";
                        for (var i = 0; i < obj.AllTasks.length; i++) {
                            listItem += "<div class=box-body card-body style=background:#d6d6d6;padding:0px;border-left:40px solid #297EA2;><table class=table><thead><tr><th><i class=fa fa-phone></i></th><th>" + obj.AllTasks[i].TaskTitle + "<br><a href=# class=btn btn-primary btn-flat btn-xs>" + obj.AllTasks[i].Priority + "</a><br>" + obj.AllTasks[i].DueTime + "" + obj.AllTasks[i].DueDate + " </th><th><img src=/Assests/images/user.png style=width:20px> </th><th><div class='task-menu task-card-section dropdown'><div data-toggle='dropdown' class='dropdown-toggle' aria-expanded=false><i class='fa fa-caret-down'></i></div><ul class='dropdown-menu dropdown-menu-right' style=display:block><li><a href=# data-toggle=modal data-target=#completeModal class='complete-task'>Complete Task</a></li><li><a href=# class='delete-task'>Delete Task</a></li></ul></div></th></tr></thead></table></div>"
                        }
                        $("#ShowTasksFromDb").append(listItem);
                    },
                    error: function () {
                        alert('Something Wrong !!!');
                    }
                    });
                });

                $('#btnNoTask').click(function () {
                     var UserId = $("#UserID").val();
                         window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);
            });
            });
            // delete Task

            // updated to complete task
            $('#btnCompleteTask').click(function () {
                var LeadName = $('#DrpTaskType').find(":selected").text();
               // $('#ShowNotesFromDb').hide();
                var UserId = $("#UserID").val();
                $.ajax({
                    url: '/User/CompleteTask',
                    type: "POST",
                    async: false,
                    data: "UserId=" + UserId + "&TaskId=" + SelTaskId + "&LeadName=" + LeadName,
                    datatype: "json",
                    success: function (obj) {
                        $('#ShowTasksFromDb').html('');
                        $('#myModalComplete').hide();
                        $('#lbcount').text(obj.TaskCount);
                        $(".modal-backdrop").remove();
                        var listItem = "";
                        for (var i = 0; i < obj.AllTask.length; i++) {
                            listItem += "<div class='box-body card-body' style=background:#d6d6d6;padding:0px;border-left:40px solid #297EA2;><table class=table><thead><tr><th><i class=fa fa-phone></i></th><th>" + obj.AllTask[i].TaskTitle + "<br><a href=# class=btn btn-primary btn-flat btn-xs>" + obj.AllTask[i].Priority + "</a><br>" + obj.AllTask[i].DueTime + "" + obj.AllTask[i].DueDate + " </th><th><img src=/Assests/images/user.png style=width:20px> </th><th><div class='task-menu task-card-section dropdown'><div data-toggle='dropdown' class='dropdown-toggle' aria-expanded=false><i class='fa fa-caret-down'></i></div><ul class='dropdown-menu dropdown-menu-right' style=display:block><li><a href=# data-toggle=modal data-target=#completeModal class='complete-task'>Complete Task</a></li><li><a href=# class='delete-task'>Delete Task</a></li></ul></div></th></tr></thead></table></div>"
                        }
                        $("#ShowTasksFromDb").append(listItem);
                    },
                    error: function () {
                        alert('Something Wrong !!!');
                    }
                });
            });

            $('#btnSaveTask').click(function () {
                var isValid = true;
                if ($("#Title").val() == '') {
                    isValid = false;
                    $("#Title").css({
                        "background": "#FFCECE"
                    });
                    show_message("Please enter title", 2);
                    return false;
                }
                else {
                    $("#Title").css({
                        "background": ""
                    });
                }
                if ($("#Description").val() == '') {
                    isValid = false;
                    $("#Description").css({
                        "background": "#FFCECE"
                    });
                    show_message("Please enter description", 2);
                    return false;
                }
                else {
                    $("#Description").css({
                        "background": ""
                    });
                }
                if ($("#DueTime").val() == '') {
                    isValid = false;
                    $("#DueTime").css({
                        "background": "#FFCECE"
                    });
                    show_message("Please enter duetime ", 2);
                    return false;
                }
                else {
                    $("#DueTime").css({
                        "background": ""
                    });
                }
                if ($("#DueDate").val() == '') {
                    isValid = false;
                    $("#DueDate").css({
                        "background": "#FFCECE"
                    });
                    show_message("Please provide duedate", 2);
                    return false;
                }
                else {
                    $("#DueDate").css({
                        "background": ""
                    });
                }
                if ($("#Assignee").val() == '') {
                    isValid = false;
                    $("#Assignee").css({
                        "background": "#FFCECE"
                    });
                    show_message("Please enter assignee", 2);
                    return false;
                }
                else {
                    $("#Assignee").css({
                        "background": ""
                    });
                }
                    var model = {
                        "UserID": $("#UserID").val(),
                        "Title": $("#Title").val(),
                        "Description": $("#Description").val(),
                        "DueTime": $("#DueTime").val(),
                        "DueDate": $("#DueDate").val(),
                        "Assignee": $("#Assignee").val(),
                        "Lead": $("#Lead").val(),
                        "Priority": $("#Priority").val()
                    }

                    //alert(JSON.stringify(model));
                    $.ajax({
                        url: '/User/AddTask',
                        type: 'POST',
                        data: JSON.stringify({ AddUserTask: model }),
                        contentType: 'application/json',
                        dataType: 'json',
                       success: function (obj) {
                           $('#myModalAdd').hide();
                           $('#ShowTasksFromDb').html('');
                            $('#lbcount').text(obj.TaskCount);
                            $(".modal-backdrop modal fade ").remove();
                            $(".modal-backdrop").remove();
                            var listItem = "";
                            for (var i = 0; i < obj.AllTask.length; i++) {
                                //listItem += "<div class=box-body card-body style=background:#d6d6d6;padding:0px;border-left:40px solid #297EA2;><table class=table><thead><tr><th><i class=fa fa-phone></i></th><th>" + obj.AllTask[i].TaskTitle + "<br><a href=# class=btn btn - primaryhigh btn - flat btn - xs>" + obj.AllTask[i].Priority + "</a><br>" + obj.AllTask[i].DueTime + "" + obj.AllTask[i].DueDate + "</th><th><img class=avatar-img src=/Assests/images/user.png ></th><th><div class=task-menu task-card-section dropdown><div data-toggle=dropdown class=dropdown-toggle aria-expanded=false><i class=fa fa-user></i></div><ul class=dropdown-menu dropdown-menu-right><li><a href=# data-toggle=modal data-target=#completeModal class=complete-task>Complete Task</a></li> <li><a href=# class=delete-task>Delete Task</a></li><li><a href=# class=postpone-task>Postpone for 1 Day</a></li></ul></div ></th ></tr></thead></table></div>"
                                listItem += "<div class=box-body card-body style=background:#d6d6d6;padding:0px;border-left:40px solid #297EA2;><table class=table><thead><tr><th><i class=fa fa-phone></i></th><th>" + obj.AllTask[i].TaskTitle + "<br><a href=# class=btn btn-primary btn-flat btn-xs>" + obj.AllTask[i].Priority + "</a><br>" + obj.AllTask[i].DueTime + "" + obj.AllTask[i].DueDate + " </th><th><img src=/Assests/images/user.png style=width:20px> </th><th><div class='task-menu task-card-section dropdown'><div data-toggle='dropdown' class='dropdown-toggle' aria-expanded=false><i class='fa fa-caret-down'></i></div><ul class='dropdown-menu dropdown-menu-right' style=display:block><li><a href=# data-toggle=modal data-target=#completeModal class='complete-task'>Complete Task</a></li><li><a href=# class='delete-task'>Delete Task</a></li></ul></div></th></tr></thead></table></div>"
                            }
                           $("#ShowTasksFromDb").append(listItem);
                        },
                        error: function () {
                            alert('Something Wrong !!!');
                        }
                    });
                });

            // delete Selected Note
            $(document).on('click', '.user_act_div a', function () {
                    var id = $(this).attr('id');
                    var dates = $(this).attr('date');
                $('#hdnId').val(id);
                $('#hdnDate').val(dates);
                    var UserId = $("#UserID").val();
                    $('#deleteNoteModal').modal('show');
                    $("#btnNoteYes").one('click', function () {
                        $.ajax({
                            type: "POST",
                            url: '/User/DeleteSelNote',
                            data: "id=" + $('#hdnId').val() + "&date=" + $('#hdnDate').val() + "&UserIdentity=" + UserId,
                            datatype: "json",
                            success: function (obj) {
                                $("#ShowNotesFromDb").html("");
                                $('#deleteNoteModal').modal('hide');
                                var listItem = "";
                                for (var i = 0; i < obj.length; i++) {
                                    listItem += "<div class=user_act_div><table><thead><tr><th width=60px style=color:#f16522;padding-left:20px><i class='fa fa-" + obj[i].Icons + " fa fa-2x'></i></th><th width=60px><img class=avatar-img src=/Assests/images/user.png></th><th width=20%><h5>You added a " + obj[i].NoteText + "</h5><p>" + obj[i].Description + "</p></th><th width=800px><a id=" + obj[i].NoteId + " date='" + obj[i].CreatedOn + "' href=# class=text-danger>Delete</a></th><th class=color-dark style=float:right>" + obj[i].CreatedOn + "</th></tr></thead></table></div>";
                                }
                                $("#ShowNotesFromDb").append(listItem);
                            },
                            error: function () {
                                alert('Something Wrong !!!');
                            }
                        });
                         });
            });
        });
    </script>



    <script>
        $(document).ready(function () {
            $("#hide").click(function () {
                $("p").toggle();
            });

        });
    </script>



}
