﻿@model Key2Home.ViewModel.ViewModelUserMail
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ComposeUserMail", "User", FormMethod.Post,
                           new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.UserID)
    <div class="main">
        <div class="">
            <!-- /# row -->
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="">
                            <div>
                                <div class="compose-email">
                                    <div class="mail-box">
                                        <aside class="sm-side">
                                            <div class="user-head" style="display: table-caption">
                                                <a class="inbox-avatar" href="#">
                                                </a>
                                                <div class="user-name">
                                                    <h5><a href="#" style="color:#fff">@Model.FirstName @Model.LastName</a></h5>
                                                    <h6>Keys2Home</h6><h6></h6>
                                                    <span> <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })"><b>Email :</b>@Model.Email</a></span>
                                                    <h6><b>Phone No :</b>@Model.Phone1&gt;</h6>
                                                    <h6 style="text-align:center" class="text-success">
                                                        <i class="fa fa-check-circle "></i>
                                                        <a href="@Url.Action("EditContactDetails","User",new { UserId=@Model.UserID })">@Model.status</a>
                                                    </h6>
                                                </div>
                                                <div class="inbox-body">
                                                    <div class="btn-group">
                                                        <a class="btn btn-xs btn-default" href="#">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-xs btn-success" href="javascript:;">
                                                            <i class="fa fa-phone"></i>
                                                        </a>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-xs btn-default" href="javascript:;">
                                                            <i class="fa fa-cog"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">*@
                                            <ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                <li>
                                                    <h4>Header</h4>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ActivitiesTasks", "User", new { UserId = @Model.UserID })">
                                                        <i class=" fa fa-home text-danger"></i>Activities and Tasks
                                                    </a>
                                                </li>
                                                @*<li>
                                                    <a href="@Url.Action("LiveActivity", "User", new { UserId = @Model.UserID })">
                                                        <i class=" fa fa-user text-success"></i> Tasks
                                                    </a>
                                                </li>*@
                                                <li>
                                                    <a href="@Url.Action("UserContactDetails", "User", new { UserId = @Model.UserID })">
                                                        @*<li id="btn_Contactdetails" UserId=@Model.UserID>*@
                                                        <i class=" fa fa-user text-success"></i> Contact Details
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class=" fa fa-envelope text-info"></i> Email
                                                    </a>
                                                    <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                        <li>
                                                            <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })">
                                                                <i class="fa fa-plus-square text-info"></i> Compose Email
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("UserEmail","User",new { UserId=@Model.UserID })">
                                                                <i class="fa fa-inbox text-info"></i> Inbox
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("SentUserMail","User",new { UserId=@Model.UserID })">
                                                                <i class="fa fa-paper-plane text-info"></i> Send Mail
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("TextMessage","User",new { UserId=@Model.UserID })">
                                                        <i class=" fa fa-user text-warning"></i> Text Messages
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("LiveActivity", "User", new { UserId = @Model.UserID })">
                                                        <i class=" fa fa-user text-warning"></i> Campaigns
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"> <i class=" fa fa-search text-primary"></i> Searching</a>
                                                </li>
                                            </ul>
                                            <ul class="nav nav-pills nav-stacked labels-info"></ul>
                                        </aside>
                                        <aside class="lg-side">
                                            <div class="inbox-head">
                                                <h3 class="input-text" style="color: #fff">Compose Email</h3>
                                            </div>
                                            <div class="table-responsive">
                                                <div class="col-lg-12">
                                                    <div class="card alert">

                                                        <div class="card-body">
                                                            <form class="form-horizontal">

                                                                <div class="form-group">
                                                                    <label class="col-lg-2 control-label">To</label>
                                                                    <div class="col-lg-10">

                                                                        @Html.TextBoxFor(model => model.To, new { @class = "form-control", @placeholder = "To" })
                                                                        @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })

                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-lg-2 control-label">Cc / Bcc</label>
                                                                    <div class="col-lg-10">
                                                                        @Html.TextBoxFor(model => model.Bcc, new { @class = "form-control", @placeholder = "Cc/Bcc" })
                                                                        @Html.ValidationMessageFor(model => model.Bcc, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-lg-2 control-label">Subject</label>
                                                                    <div class="col-lg-10">
                                                                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @placeholder = "Subject" })
                                                                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-lg-2 control-label">Message</label>
                                                                    <div class="col-lg-10">
                                                                        @Html.TextAreaFor(model => model.Message, new { @id = "editor1", @cols = "80", @rows = "10" })
                                                                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="col-lg-offset-2 col-lg-10">
                                                                        <span class="btn green fileinput-button">
                                                                            <i class="fa fa-plus fa fa-white"></i>
                                                                            <span>Attachment</span>
                                                                            @*@Html.TextBoxFor(model => model.Attachment, "", new { @type = "file", @multiple = "multiple" })*@

                                                                            <input type="file" name="Attachment" id="Attachment" multiple="multiple" />

                                                                           @*@Html.TextBoxFor(model => model.Attachment, new { @id = "FileUpload1", @type = "files", @multiple = "multiple" })*@

                                                                        </span>
                                                                        <button class="btn btn-primary" type="submit">Send</button>
                                                                    </div>
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
@section scripts
    {
    <script src="~/Themes/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Editorplugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('editor1', {
            htmlEncodeOutput: true
        });
    </script>
}

