﻿@model Key2Home.Models.user
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("EditContactDetails", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.IsActive)
    @Html.HiddenFor(m => m.DOB)

    <div class="main">
        <div class="">
            <!-- /# row -->
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="">
                            <div>
                                <div class="compose-email">
                                    <div class="mail-box">
                                        <aside class="sm-side">
                                            <div class="user-head" style="display: table-caption">
                                                <a class="inbox-avatar" href="#">
                                                </a>
                                                <div class="user-name">
                                                    <h5><a href="#" style="color:#fff">@Model.FirstName @Model.LastName</a></h5>
                                                    <h6>Keys2Home</h6><h6></h6>
                                                    <span> <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })"><b>Email :</b>@Model.Email</a></span>
                                                    <h6><b>Phone No :</b>@Model.Phone1&gt;</h6>
                                                    <h6 style="text-align:center" class="text-success">
                                                        <i class="fa fa-check-circle "></i>
                                                        <a href="@Url.Action("EditContactDetails","User",new { UserId=@Model.UserID })">@Model.status</a>
                                                    </h6>
                                                </div>
                                                <div class="inbox-body">
                                                    <div class="btn-group">
                                                        <a class="btn btn-xs btn-default" href="#">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-xs btn-success" href="javascript:;">
                                                            <i class="fa fa-phone"></i>
                                                        </a>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-xs btn-default" href="javascript:;">
                                                            <i class="fa fa-cog"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">*@
                                            <ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                <li>
                                                    <h4>Header</h4>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                                                        <i class=" fa fa-home text-danger"></i>Activities and Tasks
                                                    </a>
                                                </li>
                                                @*<li>
            <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                <i class=" fa fa-user text-success"></i> Tasks
            </a>
        </li>*@
                                                <li>
                                                    <a href="@Url.Action("UserContactDetails","User",new { UserId=@Model.UserID })">
                                                        @*<li id="btn_Contactdetails" UserId=@Model.UserID>*@
                                                        <i class=" fa fa-user text-success"></i> Contact Details
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class=" fa fa-envelope text-info"></i> Email
                                                    </a>
                                                    <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                        <li>
                                                            <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })">
                                                                <i class="fa fa-plus-square text-info"></i> Compose Email
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("UserEmail","User",new { UserId=@Model.UserID })">
                                                                <i class="fa fa-inbox text-info"></i> Inbox
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("SentUserMail","User",new { UserId=@Model.UserID })">
                                                                <i class="fa fa-paper-plane text-info"></i> Send Mail
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action(" TextMessage","User",new { UserId=@Model.UserID })">
                                                        <i class=" fa fa-user text-warning"></i> Text Messages
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                                                        <i class=" fa fa-user text-warning"></i> Campaigns
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"> <i class=" fa fa-search text-primary"></i> Searching</a>
                                                </li>
                                            </ul>
                                            <ul class="nav nav-pills nav-stacked labels-info"></ul>
                                        </aside>
                                        <aside class="lg-side">
                                            <div class="inbox-head">
                                                <h3 class="input-text" style="color: #fff">Edit Contact Details</h3>

                                            </div>
                                            <div class="box-body">
                                                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                                                <form class="card form-horizontal">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputEmail4">First Name</label>
                                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputPassword4">Last Name</label>
                                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "First Name" })
                                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputCity">Email Id</label>
                                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputCity">Phone No</label>
                                                            @Html.TextBoxFor(model => model.Phone1, new { @class = "form-control", @placeholder = "Phone" })
                                                            @Html.ValidationMessageFor(model => model.Phone2, "", new { @class = "text-danger" })

                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputState">Status</label>

                                                            @Html.DropDownListFor(m => m.status, ViewData["statusList"] as List<SelectListItem>, new { @class = " form-control" })
                                                            @*@Html.DropDownListFor(m => m.status, ViewData["statusList"] as List<SelectListItem>, new { @class = " form-control" })*@
                                                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                        </div>

                                                        <div class="form-group col-md-6">
                                                            <label for="inputState">Type</label>
                                                            @Html.DropDownListFor(m => m.roles, ViewData["LeadTypelist"] as List<SelectListItem>, new { @class = " form-control" })
                                                            @* @Html.DropDownListFor(m => m.status, ViewData["LeadTypelist"] as List<SelectListItem>, new { @class = " form-control" })*@
                                                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputState">Became Member</label>
                                                            @Html.TextBoxFor(m => m.CreatedOn, new { @class = "form-control", @placeholder = "CreatedOn" })
                                                            @Html.ValidationMessageFor(model => model.CreatedOn, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Special Notes</label>
                                                            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @placeholder = "Phone" })
                                                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Warnings</label>
                                                            @Html.TextAreaFor(model => model.Warnings, new { @class = "form-control", @placeholder = "Phone" })
                                                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                                        </div>


                                                        <div class="form-group col-md-6" style="text-align: center;margin-top: 20px">

                                                        </div>

                                                        <div class="form-group col-md-1" style="text-align: center;margin-top: 20px;margin-left:-30px">
                                                            <input type="submit" class="btn btn-danger" id="btn_EditContact" value="Save">
                                                        </div>

                                                        @*<input id="btnSubmit" type="submit" value="Submit" />*@
                                                    </div>
                                                </form>
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">

    </script>
}
