﻿@model Key2Home.Models.user
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.roles)
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.CreatedOn)
    @Html.HiddenFor(model => model.IsActive)
   
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Edit User</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <form class="card form-horizontal">
                        <div id="div_success" style="display: none; width: 100%; height: auto; overflow: hidden; position: fixed; top: 0; left: 0; z-index: 9999; line-height: 30px; font-size: 15px; text-align: center; padding: 10px">
                            Test Message
                        </div>
                        <div class="form-group">
                            <label>First Name</label>
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>

                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Date Of Birth</label>

                            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", placeholder = "Date Of Birth", @readonly = "true" } })
                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @placeholder = "Email" })
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <span><i class="fa fa-key" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", type = "password" })
                            <div class="validate-error">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Primary Phone</label>
                            @Html.TextBoxFor(model => model.Phone1, new { @class = "form-control", @placeholder = "Phone" })
                            @Html.ValidationMessageFor(model => model.Phone1, "", new { @class = "text-danger" })
                            @*<div class="input-group input-group-default">
                <span class="input-group-btn"><button class="btn btn-primary" type="submit"><b>Mobile</b></button></span>
                <input placeholder="Mobile No" class="form-control" type="text">
            </div>
            <p></p><a href="#" class="text-danger">ADD ALTERNATE PHONE </a>*@
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            @*@Html.DropDownList("Status", ViewData["statusList"] as List<SelectListItem>)*@
                            @Html.DropDownListFor(m => m.status, ViewData["statusList"] as List<SelectListItem>, new { @class = " form-control" })
                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <div>
                                @Html.Hidden("roles")
                                <input type="hidden" value=""><label class="radio-inline">  </label>
                                @Html.RadioButton("status-type", "Buyer", new { @style = "margin-left:10%", @id = "Buyer" }) <label>Buyer</label>
                                @Html.RadioButton("status-type", "Seller", new { @id = "Seller" }) <label>Seller</label>
                                @Html.RadioButton("status-type", "BuyerandSeller", new { @id = "BuyerandSeller" }) <label>Buyer and Seller</label>
                                @Html.Hidden("roles")
                                <div class="error-block"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Team</label>
                            <div>
                                @Html.DropDownListFor(m => m.TeamXID, (SelectList)ViewBag.TeamAgentList, "-- Select Team Agent--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TeamXID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>	Special notes</label>
                            @Html.TextBoxFor(model => model.Notes, new { @class = "form-control", @placeholder = "Special notes" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>	Warnings</label>
                            @Html.TextBoxFor(model => model.Warnings, new { @class = "form-control", @placeholder = "Warnings" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Upload Image </label>
                            <input type="file" name="fileS" id="fileS" multiple onchange="showpreview(this);" />
                            @*<img id="imgpreview" height="150" width="150" src="" style="border-width: 0px; visibility: hidden;" />*@
                            <div class="col-md-1">
                                <img src="/Key2HomeImages/@Html.DisplayFor(model => model.pic)" style="width:130px; height:130px; border-radius:50%;margin:20px;" />
                            </div>
                            <div class="col-md-8" style="float:right">
                                <img id="imgpreview" height="130" width="130" src="" style="border-width: 0px; visibility: hidden;" />
                            </div>
                         </div>
                        @*<div class="form-group">
                            <label> Upload Image </label>
                            <input type="file" name="fileS" id="fileS" multiple onchange="showpreview(this);" />
                            <img id="imgpreview" height="150" width="150" src="" style="border-width: 0px; visibility: hidden;" />
                            @*<div id="image-holder"></div>
                        </div>*@

                        @*<div class="form-group">
                        <div class="checkbox">
                            <label for="lead_send_welcome_email">
                                @Html.CheckBoxFor(x => x.SendWelcomeEmail)
                                <label>Send welcome email with login information</label>
                                @*<input type="checkbox" value="1"> Send welcome email with login information
                                        </label>
                </div>
        </div>*@
                        <div class="form-group">
                            <input type="submit" class="btn btn-danger" id="btn_CreateLead" value="Save Lead">
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                </div>
            </div>    <!-- /# row -->
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

            //if ($('input[name=status-type]:checked').val() == "Api") {
            //    $("#IsBookNowAPI").val(true)
            //    $('.showtextbox').hide();
            //} else if ($('input[name=user-type]:checked').val() == "ExternalLink") {
            //    $('.showApi').hide();
            //    $("#IsBookNowAPI").val(false)
            //    $('.showtextbox').show();
            //}

            if ($("#roles").val() == 'Buyer') {
                // alert("#roles");
                $('#Buyer').prop("checked", true);
            }
            else if ($("#roles").val() == 'Seller') {
                //alert("#roles");
                $('#Seller').prop("checked", true);
            }
            else if ($("#roles").val() == 'BuyerandSeller') {
                //  alert("#roles");
                $('#BuyerandSeller').prop("checked", true);
            }

            
        });
        function showpreview(input) {
         //   alert('k');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgpreview').css('visibility', 'visible');
                    $('#imgpreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("input:radio").click(function () {
            if ($('input[name=status-type]:checked').val() == "Buyer") {
                var role = $('#Buyer').val();
                $('#roles').val(role);
                //  alert($('#roles').val());
                // values.push(this.value);
                $('#Seller').prop("checked", false);
                $('#BuyerandSeller').prop("checked", false);
            }
            if ($('input[name=status-type]:checked').val() == "Seller") {
                var role = $('#Seller').val();
                $('#roles').val(role);
                $('#Buyer').prop("checked", false);
                $('#BuyerandSeller').prop("checked", false);
            }
            if ($('input[name=status-type]:checked').val() == "BuyerandSeller") {
                var role = $('#BuyerandSeller').val();
                $('#roles').val(role);
                $('#Seller').prop("checked", false);
                $('#Buyer').prop("checked", false);
            }
        });
    </script>
    <script type="text/javascript">
        function show_message(msg, type) {
            if (type == 1) {
                $('#div_success').css('background-color', 'green');
                $('#div_success').css('color', 'white');
            }
            else if (type == 2) {
                $('#div_success').css('background-color', 'red');
                $('#div_success').css('color', 'white');
            }
            else {
                $('#div_success').css('background-color', 'orange');
                $('#div_success').css('color', 'white');
            }
            $('#div_success').html(msg);
            // $('#div_success').show();
            $('#div_success').slideDown().delay(5000).slideUp('slow');
            return false;
        }
    </script>
    <script>
        $("#btn_CreateLead").click(function (e) {
            var isValid = true;
            if ($("#FirstName").val() == '') {
                isValid = false;
                $("#FirstName").css({
                    "background": "#FFCECE"
                });
                show_message("Please FirstName", 2);
                return false;
            }
            else {
                $("#FirstName").css({
                    "background": ""
                });
            }
            if ($("#LastName").val() == '') {
                isValid = false;
                $("#LastName").css({
                    "background": "#FFCECE"
                });
                show_message("Please LastName", 2);
                return false;
            }
            else {
                $("#LastName").css({
                    "background": ""
                });
            }
            if ($("#Email").val() == '') {
                isValid = false;
                $("#Email").css({
                    "background": "#FFCECE"
                });
                show_message("Please Provide Correct Email Address", 2);
                return false;
            }
            else {
                var emailField = $("#Email").val();
                // alert(emailField);
                var reg = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (reg.test(emailField) == false) {
                    // alert('Invalid Email Address');
                    $("#Email").css({
                        "background": "#FFCECE"
                    });
                    show_message("Please Provide Correct Email Address", 2);
                    return false;
                }
                else {
                    $("#Email").css({
                        "background": ""
                    });
                }
            }
            if ($("#Password").val() == '') {
                isValid = false;
                $("#Password").css({
                    "background": "#FFCECE"
                });
                show_message("Please Provide Password", 2);
                return false;
            }
            else {
                $("#Password").css({
                    "background": ""
                });
            }
            if ($("#Phone1").val() == '') {
                isValid = false;
                $("#Phone1").css({
                    "background": "#FFCECE"
                });
                show_message("Please Provide Phone No", 2);
                return false;
            }
            else {
                $("#Phone1").css({
                    "background": ""
                });
            }
            if ($("#Phone1").val().length < 10 || $("#Phone1").val().length > 10) {
                isValid = false;
                $("#Phone1").css({
                    "background": "#FFCECE"
                });
                show_message("No is not valid", 2);
                return false;
            }
            else {
                $("#Phone1").css({
                    "background": ""
                });
            }
            //if ($("#Notes").val() == '') {
            //    isValid = false;
            //    $("#Notes").css({
            //        "background": "#FFCECE"
            //    });
            //    show_message("Please Provide Notes", 2);
            //    return false;
            //}
            //else {
            //    $("#Notes").css({
            //        "background": ""
            //    });
            //}
            //if ($("#Warnings").val() == '') {
            //    isValid = false;
            //    $("#Warnings").css({
            //        "background": "#FFCECE"
            //    });
            //    show_message("Please Provide Warnings", 2);
            //    return false;
            //}
            //else {
            //    $("#Warnings").css({
            //        "background": ""
            //    });
            //}
        });

    </script>
}