﻿@model Key2Home.Models.user
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="">
        <!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <div>
                            <div class="compose-email">
                                <div class="mail-box">
                                    <aside class="sm-side">
                                        <div class="user-head" style="display: table-caption">
                                            <a class="inbox-avatar" href="#">
                                            </a>
                                            <div class="user-name">
                                                <h5><a href="#" style="color:#fff">@Model.FirstName @Model.LastName</a></h5>
                                                <h6>Keys2Home</h6><h6></h6>
                                                <span> <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })"><b>Email :</b>@Model.Email</a></span>
                                                <h6><b>Phone No :</b>@Model.Phone1&gt;</h6>
                                                <h6 style="text-align:center" class="text-success">
                                                    <i class="fa fa-check-circle "></i>
                                                    <a href="@Url.Action("EditContactDetails","User",new { UserId=@Model.UserID })">@Model.status</a>
                                                </h6>
                                            </div>
                                            <div class="inbox-body">
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="#">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-success" href="javascript:;">
                                                        <i class="fa fa-phone"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="javascript:;">
                                                        <i class="fa fa-cog"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        @*<ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">*@
                                        <ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">
                                            <li>
                                                <h4>Header</h4>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ActivitiesTasks","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-home text-danger"></i>Activities and Tasks
                                                </a>
                                            </li>
                                            @*<li>
            <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                <i class=" fa fa-user text-success"></i> Tasks
            </a>
        </li>*@
                                            <li>
                                                <a href="@Url.Action("UserContactDetails","User",new { UserId=@Model.UserID })">
                                                    @*<li id="btn_Contactdetails" UserId=@Model.UserID>*@
                                                    <i class=" fa fa-user text-success"></i> Contact Details
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class=" fa fa-envelope text-info"></i> Email
                                                </a>
                                                <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                    <li>
                                                        <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-plus-square text-info"></i> Compose Email
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("UserEmail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-inbox text-info"></i> Inbox
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("SentUserMail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-paper-plane text-info"></i> Send Mail
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("TextMessage","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-warning"></i> Campaigns
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-warning"></i> Campaigns
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class=" fa fa-search text-primary"></i> Searching</a>
                                            </li>
                                        </ul>
                                        <ul class="nav nav-pills nav-stacked labels-info"></ul>
                                    </aside>
                                    <aside class="lg-side">
                                        <div class="inbox-head">
                                            <h3 class="input-text" style="color: #fff">Inbox</h3>
                                            <form action="#" class="pull-right position"></form>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-inbox table-hover table-responsive">
                                                <tbody>
                                                    <tr class="unread">
                                                        <td class="inbox-small-cells"></td>
                                                        <td class="inbox-small-cells"><i class="ti-star"></i></td>
                                                        <td class="view-message  dont-show">PHPClass</td>
                                                        <td class="view-message">Added a new class: Login Class Fast Site</td>
                                                        <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                                        <td class="view-message  text-right">9:27 AM</td>
                                                    </tr>
                                                    <tr class="unread">
                                                        <td class="inbox-small-cells"></td>
                                                        <td class="inbox-small-cells"><i class="ti-star"></i></td>
                                                        <td class="view-message dont-show">Google Webmaster </td>
                                                        <td class="view-message">Improve the search presence of WebSite</td>
                                                        <td class="view-message inbox-small-cells"></td>
                                                        <td class="view-message text-right">March 15</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="inbox-small-cells"></td>
                                                        <td class="inbox-small-cells"><i class="ti-star"></i></td>
                                                        <td class="view-message dont-show">JW Player</td>
                                                        <td class="view-message">Last Chance: Upgrade to Pro for </td>
                                                        <td class="view-message inbox-small-cells"></td>
                                                        <td class="view-message text-right">March 15</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="inbox-small-cells"></td>
                                                        <td class="inbox-small-cells"><i class="ti-star"></i></td>
                                                        <td class="view-message dont-show">Tim Reid, S P N</td>
                                                        <td class="view-message">Boost Your Website Traffic</td>
                                                        <td class="view-message inbox-small-cells"></td>
                                                        <td class="view-message text-right">April 01</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="inbox-small-cells"></td>
                                                        <td class="inbox-small-cells"><i class="ti-star inbox-started"></i></td>
                                                        <td class="view-message dont-show">Freelancer.com </td>
                                                        <td class="view-message">Stop wasting your visitors </td>
                                                        <td class="view-message inbox-small-cells"></td>
                                                        <td class="view-message text-right">May 23</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </aside>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer footer-user">
                        <p>This dashboard was generated on <span id="date-time"></span> <a href="#" class="page-refresh">Keys2Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script src="~/Themes/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Editorplugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('editor1', {
            htmlEncodeOutput: true
            });
    </script>
}


