﻿
@model Key2Home.ViewModel.ViewModelUserMail
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tool_tip {
        position: relative;
    }

        .tool_tip .tooltip_text {
            background-color: black;
            border-radius: 3px;
            color: #fff;
            left: 0;
            padding: 5px;
            position: absolute;
            text-align: center;
            top: -30px;
            visibility: hidden;
            z-index: 1;
            font-weight: normal;
        }

        .tool_tip:hover .tooltip_text {
            visibility: visible;
        }
</style>
<div class="main">
    <div class="">
        <!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <div>
                            <div class="compose-email">
                                <div class="mail-box">
                                    <aside class="sm-side">
                                        <div class="user-head" style="display: table-caption">
                                            <a class="inbox-avatar" href="#">
                                            </a>
                                            <div class="user-name">
                                                <h5><a href="#" style="color:#fff">@Model.FirstName @Model.LastName</a></h5>
                                                <h6>Keys2Home</h6><h6></h6>
                                                <span> <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })"><b>Email :</b>@Model.Email</a></span>
                                                <h6><b>Phone No :</b>@Model.Phone1&gt;</h6>
                                                <h6 style="text-align:center" class="text-success">
                                                    <i class="fa fa-check-circle "></i>
                                                    <a href="@Url.Action("EditContactDetails","User",new { UserId=@Model.UserID })">@Model.status</a>
                                                </h6>
                                            </div>
                                            <div class="inbox-body">
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="#">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-success" href="javascript:;">
                                                        <i class="fa fa-phone"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="javascript:;">
                                                        <i class="fa fa-cog"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">
                                            <li>
                                                <h4>Header</h4>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ActivitiesTasks","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-home text-danger"></i>Activities and Tasks
                                                </a>
                                            </li>

                                            <li>
                                                <a href="@Url.Action("UserContactDetails","User",new { UserId=@Model.UserID })">

                                                    <i class=" fa fa-user text-success"></i> Contact Details
                                                </a>
                                            </li>
                                            
                                            <li>
                                                <a href="">
                                                    <i class=" fa fa-envelope text-info"></i> Email
                                                </a>
                                                <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                    <li>
                                                        <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-plus-square text-info"></i> Compose Email
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("UserEmail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-inbox text-info"></i> Inbox
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("SentUserMail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-paper-plane text-info"></i> Send Mail
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("TextMessage","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-warning"></i> Campaigns
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-warning"></i> Campaigns
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class=" fa fa-search text-primary"></i> Searching</a>
                                            </li>
                                        </ul>
                                        <ul class="nav nav-pills nav-stacked labels-info"></ul>
                                    </aside>
                                    <aside class="lg-side">
                                        <div class="table-responsive">
                                            <div class="col-lg-12">
                                                <div class="card alert">
                                                    <div class="card-body p-t-0">
                                                        <div class="card b-all shadow-none">
                                                            <div class="inbox-head">
                                                                <h3 class="input-text" style="color: #fff">Inbox</h3>
                                                            </div>
                                                            @*<div class="card-body">
                                                                <h3 class="card-title m-b-0">Inbox</h3>
                                                            </div>*@
                                                            <div>
                                                                <hr class="m-t-0">
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="d-flex m-b-40">
                                                                    @*<div>
                                                                        <a><img src="images/user.png" alt="user" width="40" class="img-circle"></a>
                                                                    </div>*@
                                                                    <div class="p-l-10">
                                                                        <h4 class="m-b-0">@Model.FirstName @Model.LastName</h4>
                                                                        <small class="text-muted">@Model.SendFrom</small>
                                                                    </div>
                                                                </div>
                                                                <p><b>@Html.Raw(Model.Message)</b></p>                                                           
                                                            </div>
                                                            <div>
                                                                <hr class="m-t-0">
                                                            </div>
                                                            @*<div class="card-body">
                                                                <h4><i class="fa fa-paperclip m-r-10 m-b-10"></i> Attachments <span>(3)</span></h4>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <a href="javascript:void(0)"> <img class="img-thumbnail img-responsive" alt="attachment" src="images/img1.jpg"> </a>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <a href="javascript:void(0)"> <img class="img-thumbnail img-responsive" alt="attachment" src="images/img1.jpg"> </a>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <a href="javascript:void(0)"> <img class="img-thumbnail img-responsive" alt="attachment" src="images/img1.jpg"> </a>
                                                                    </div>
                                                                </div>
                                                                <div class="b-all m-t-20 p-20">
                                                                    <p class="p-b-20">click here to <a class="text-danger">Reply</a> or <a class="text-danger">Forward</a></p>
                                                                </div>
                                                            </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer footer-user">
                        <p>This dashboard was generated on <span id="date-time"></span> <a href="#" class="page-refresh">Keys2Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script src="~/Themes/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Editorplugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('editor1', {
            htmlEncodeOutput: true
        });
    </script>
}



