﻿@model Key2Home.Models.user
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .color_div {
        color: #269e56 !important;
    }
    .signupsubmit {
        line-height: 32px;
        position: absolute;
        left: 36px;
        top: 527px;
        font-family: arial;
        font-size: 17px;
        font-weight: 600;
        width: 137px;
        height: 30px;
        border: 1px solid #00297A;
        border-radius: 4px;
        background-color: #FFB630;
        text-indent: 30px;
        color: white; <!--
        NEW LINE OF CODE -->
    }
</style>
<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 p-r-0 title-margin-right">
                <div class="page-header">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <!-- /# column -->
            <div class="col-lg-4 p-l-0 title-margin-left">
                <div class="page-header">
                    <div class="page-title">
                    </div>
                </div>
            </div>
        </div>
        <div id="main-content">
            <div class="row">
                <div class="col-lg-3">
                    <a href="user-status-new.html">
                        <div class="card">
                            <div class="stat-widget-two">
                                <div class="stat-content">
                                    <div class="stat-text">Leads with no assigned tasks</div>
                                    <div class="stat-digit"> 1670</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                @*<div class="col-lg-3">
                    <a href="user-status-new.html">
                        <div class="card">
                            <div class="stat-widget-two">
                                <div class="stat-content">
                                    <div class="stat-text">Leads with no saved searches</div>
                                    <div class="stat-digit"> 7300</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary w-75" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>*@
                <div class="col-lg-3">
                    <a href="user-status-new.html">
                        <div class="card">
                            <div class="stat-widget-two">
                                <div class="stat-content">
                                    <div class="stat-text">Leads with status - New</div>
                                    <div class="stat-digit">@ViewBag.StatusCount</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="user-status-new.html">
                        <div class="card">
                            <div class="stat-widget-two">
                                <div class="stat-content">
                                    <div class="stat-text">Leads not checked</div>
                                    <div class="stat-digit">60</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- /# card -->
                </div>
                <!-- /# column -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>Recently Active Leads (last 7 days)</h4>
                            <div class="card-header-right-icon">

                            </div>
                        </div>
                        <div class="bootstrap-data-table-panel" style="margin-top: 25px">
                            <div class="table-responsive">
                                <div class="box-body">
                                    <table class="table table-bordered table-striped" id="Users">
                                        <thead>
                                            <tr>
                                                <th>User Image</th>
                                                <th>User Name</th>
                                                <th>Status</th>
                                                <th>Phone No</th>
                                                <th>Email Id</th>
                                                <th>Created On</th>
                                                <th>Action</th>
                                                <th style="width:150px !important">View Detail</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# card -->
            <!-- /# row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer">
                        <p>This dashboard was generated on<span id="date-time"></span> <a href="#" class="page-refresh">Keys2Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='myModal' class='modal'>
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts
    {
    @*<script type="text/javascript" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">
    <script>
        var myTable;
        myTable = $("#Users").DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10,20,30,40,50,-1], [10, 20,30,40,50, "All"]],
        });
        $.date = function (dateObject) {
            var d = new Date(dateObject);
            var day = d.getDate();
            var month = d.getMonth() + 1;
            var year = d.getFullYear();
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }
           // var date = day + "/" + month + "/" + year;
            var date = month + "/" + day + "/" + year;
           // alert(date);
            return date;
        };
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "/User/GetAllUsers",
            async: false,
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {                  
                       // var date = new Date(data);
                      //  var month = date.getMonth() + 1;
                       // return (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();     
                    var str = data[i].CreatedOn;
                   // var myDate = new Date(parseInt(str.substr(6)));
                   // var result = "";
                    var dt = new Date(parseInt(str.replace(/(^.*\()|([+-].*$)/g, '')));
                   // var dateTimeFormat = dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                    var dateTimeFormat = (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
                   // result = myDate.format("dd/mm/yyyy")"
                    $('#Users').dataTable().fnAddData([      
                        "<img src='/Key2HomeImages/" + data[i].pic + "' style='width:50px; height:50px;border-radius :50px'/>",
                        data[i].FirstName,
                        data[i].status,
                        data[i].Phone1,
                        data[i].Email,                  
                        dateTimeFormat,
                        "<a class='fa fa-trash-o color_div' href='/User/EditUser/" + data[i].UserID + "'>&nbsp; Edit</a>",
                        "<a class='btn btn-primary' id=btn_details data-id= " + data[i].UserID + ">&nbsp;View Details</a>"                     
                    ]);
                }
            }
        });
    </script>
    <script>
        $(function () {
           
            // $("#btn_details").click(function () {
            $("#Users").on("click", "#btn_details", function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                //alert(id);
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: '/User/UserDetails',
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        // alert(data);
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>
}