﻿@model Key2Home.ViewModel.ViewModelUserTextMessage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="">
        <!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <div>
                            <div class="compose-email">
                                <div class="mail-box">
                                    <aside class="sm-side">
                                        <div class="user-head" style="display: table-caption">
                                            <a class="inbox-avatar" href="#">
                                            </a>
                                            @Html.HiddenFor(m => m.UserID)
                                            <div class="user-name">
                                                <h5><a href="#" style="color:#fff">@Model.FirstName @Model.LastName</a></h5>
                                                <h6>Keys2Home</h6><h6></h6>
                                      <span> <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })"><b>Email :</b>@Model.Email</a></span>
                                                <h6><b>Phone No :</b>@Model.Phone1&gt;</h6>
                                            <h6 style="text-align:center" class="text-success"><i class="fa fa-check-circle "></i>
                                                <a href="@Url.Action("EditContactDetails","User",new { UserId=@Model.UserID })">@Model.status</a></h6>
                                            </div>
                                            <div class="inbox-body">
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="#">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-success" href="javascript:;">
                                                        <i class="fa fa-phone"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="javascript:;">
                                                        <i class="fa fa-cog"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">
                                            <li>
                                                <h4>Header</h4>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ActivitiesTasks","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-home text-danger"></i>Activities and Tasks
                                                </a>
                                            </li>
                                            @*<li>
                                                    <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                                                        <i class=" fa fa-user text-success"></i> Tasks
                                                    </a>
                                                </li>*@
                                            <li>
                                                <a href="@Url.Action("UserContactDetails","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-success"></i> Contact Details
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class=" fa fa-envelope text-info"></i> Email
                                                </a>
                                                <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                    <li>
                                                        <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-plus-square text-info"></i> Compose Email
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("UserEmail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-inbox text-info"></i> Inbox
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("SentUserMail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-paper-plane text-info"></i> Send Mail
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="@Url.Action("TextMessage","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-warning"></i> Text Messages
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("UserCampaigns","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-warning"></i> Campaigns
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class=" fa fa-search text-primary"></i> Searching</a>
                                            </li>
                                        </ul>
                                        <ul class="nav nav-pills nav-stacked labels-info"></ul>
                                    </aside>
                                    <aside class="lg-side">
                                        <div class="inbox-head">
                                            <h3 class="input-text" style="color: #fff">User's Activities</h3>
                                            <form action="#" class="pull-right position"></form>
                                        </div>
                                        <div class="mail-option">
                                            <div class="btn-group" style="width:200px">
                                                <select class="form-control">
                                                    <option id="1">Notes </option>
                                                    <option id="2">Phone Call</option>
                                                    <option id="3">Email</option>
                                                    <option id="4">Social Media</option>
                                                    <option id="5">Face To Face</option>
                                                </select>
                                            </div>
                                            <div class="btn-group hidden-phone" style="width:722px">
                                                <input placeholder="Discription" class="form-control" type="text">
                                            </div>
                                            <div class="btn-group ">
                                                <a href="#" class="btn btn-primary  btn-flat"><i class="ti-plus"></i>Add</a>
                                            </div>
                                            
                                        </div>
                                        <div id='myModal' class='modal'>
                                            <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
                                                <div class="modal-content">
                                                    <div id='myModalContent'></div>
                                                </div>
                                            </div>
                                        </div>                                    
                                        @foreach (var item in Model._objMessageList)
                                        {
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="inbox-small-cells">
                                                                <input class="myCheckBox" type="checkbox" id="@item.Id" value="@item.Id">
                                                                @*<input type="checkbox" class="mail-checkbox">*@
                                                            </td>
                                                            @Html.Hidden("allcardsname")
                                                            <td class="inbox-small-cells"><img src="~/Key2HomeImages/user.png" style="width:36px" alt=""></td>
                                                            <td class="view-message  dont-show">@Model.FirstName @Model.LastName</td>
                                                            <td class="view-message">
                                                                <b>You sent a text message to @Model.FirstName @Model.LastName @Model.Phone1</b>
                                                                <p>@item.Message</p>
                                                            </td>
                                                            <td class="view-message  inbox-small-cells"></td>

                                                            <td class="view-message  text-right">

                                                                <button type="button" id="@item.Id" class="btndelete btn btn-danger btn-xs  btn-flat" btnid="@item.Id" deleteid="@("box"+item.Id)" disabled>Delete</button>
                                                                @*<button id="btndelete" class="btn btn-success" btnid ="@item.Id"><i class="ti-trash" ></i>Delete</button>*@
                                                                @*<a id="@item.Id" class="DeleteMessage btn btn-danger btn-xs btn-flat"><i class="ti-trash"></i>Delete</a>*@
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        }
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-lg-12">
                        <div class="footer footer-user">
                            <p>This dashboard was generated on <span id="date-time"></span> <a href="#" class="page-refresh">Keys2Home</a></p>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <p>DO YOU WANT TO DELETE SELECTED MESSAGE?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnYes" class="btn btn-primary">Yes</a>
                <a href="#" id="btnNo" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MessageModal" role="dialog">
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <p>SELECTED MESSAGE WHICH YOU WANT TO DELETE</p>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="deleteModalAllMessage" role="dialog">
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <p>DO YOU WANT TO DELETE All MESSAGE?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnAllYes" class="btn btn-primary">Yes</a>
                <a href="#" id="btnAllNo" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
            </div>
        </div>
    </div>
</div>
<!-- /# main -->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
}
@section scripts{
    <script>

        $('#checkAll').click(function () {
            if ($(this).is(':checked')) {
                if ($('input:checkbox').not(this).prop('checked', this.checked));
                $('#delete_actions').removeAttr('disabled'); //enable input
            }
            else {
                $(".table").find('input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                });
                $('#delete_actions').attr('disabled', true); //disable input
            }
            var result = '';
            $('.table input[type=checkbox]').each(function () {
                if ($(this).is(':checked')) {
                    if (result != "") {
                        result = $(this).val() + ',' + result;
                    }
                    else {
                        result = $(this).val();
                    }
                }
            });
          //  $("#delete_actions").prop("disabled", false);
            $("#allcardsname").val(result);

        });
        $(document).ready(function () {
            //$("#checkAll").click(function () {
            //    if ($('input:checkbox').not(this).prop('checked', this.checked));
            //        $("#delete_actions").prop("disabled", false);
            //      //  $("#delete_actions").prop("disabled", true);
            //});
            $(document).on('change', '.myCheckBox', function () {
                var row = $(this).closest('tr');

                if ($(this).is(':checked')) {
                    $(row).find('.btndelete').prop("disabled", false);

                }
                else {
                    $(row).find('.btndelete').prop("disabled", true);
                }
            });
            if ($(".table").find('input[type="checkbox"]').prop("checked") == false) {
                $("#allcardsname").val("");
                $("#delete_actions").prop("disabled", true);
            }

            $('.table input[type=checkbox]').change(function () {
                var checkBoxes = $('tbody .myCheckBox');
                $('#delete_actions').prop('disabled', checkBoxes.filter(':checked').length < 1);
               $('tbody .myCheckBox').change();
            });

                    $(".table").find("input[type='checkbox']").click(function () {
                        var result = '';
                        $('.table input[type=checkbox]').each(function () {
                                if ($(this).is(':checked'))
                                {
                                    if (result != "") {
                                        result = $(this).val() + ',' + result;
                                    }
                                    else {
                                        result = $(this).val();
                                    }
                                }
                            });
                        $("#delete_actions").prop("disabled", false);
                            $("#allcardsname").val(result);
                });

                // For deleting all Messages of particular users
                $('select[name="dropdown"]').change(function () {
                if ($(this).val() == "1") {
                    $('#deleteModal').modal('show');
                    $('#btnYes').click(function () {
                        //    var comments = $('#txtComments').val();
                        var selectedId = $('#allcardsname').val();
                       // alert(selectedId);
                        $.ajax({
                            type: "POST",
                            url: '/User/DeleteSelMessage',
                            data: "id=" + selectedId,
                            datatype: "json",
                            success: function () {
                                $('#deleteModal').modal('hide');
                                var UserId = $("#UserID").val();
                             //   alert(UserId);
                                window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);
                            },
                        });
                    });
                    $('#btnNo').click(function () {
                       // alert('No clicked');
                        var UserId = $("#UserID").val();
                        window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);

                        @*$.ajax({
                            type: "POST",
                         //   url: '/User/ActivitiesTasks',
                           // data: "id=" + selectedId,
                            datatype: "json",
                            success: function () {
                                  var UserId = $("#UserID").val();
                                alert(UserId);
                                window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);
                            },
                        });*@
                    });
                    }
                else if ($(this).val() == "2") {
                   // alert('2');
                    $('#deleteModalAllMessage').modal('show');
                    //var options = { "backdrop": "static", keyboard: true };
                    //alert('All');
                 //  var table = $(e.target).closest('table');
                  // $('td input:checkbox', table).prop('checked', this.checked);
                 //   alert(table);
                    $('#btnAllYes').click(function () {
                    var selectedId = $('#allcardsname').val();
                  //  alert(selectedId);
                    $.ajax({
                        type: "POST",
                        url: '/User/DeleteSelMessage',
                        data: "id=" + selectedId,
                        datatype: "json",
                        success: function (data) {
                            $('#deleteModalAllMessage').modal('hide');
                           // $('#myModalContent').html(data);
                           // $('#myModal').modal(options);
                            //$('#myModal').modal('show');
                            var UserId = $("#UserID").val();
                               // alert(UserId);
                         window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);
                        },
                        });
                    });
                      $('#btnAllNo').click(function () {
                     var UserId = $("#UserID").val();
                               // alert(UserId);
                         window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);
                        @*$.ajax({
                          //  type: "POST",
                           // url: '/User/ActivitiesTasks',
                           // data: "id=" + selectedId,
                            datatype: "json",
                            success: function () {
                                  var UserId = $("#UserID").val();
                                alert(UserId);
                                window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);
                            },
                        });*@
            });
                    }
            });
                // For deleting single message
                $(".table").find("input[type='checkbox']").click(function () {
                    var result = '';
                    $('.table input[type=checkbox]').each(function () {
                        if ($(this).is(':checked')) {
                            if (result != "") {
                                result = $(this).val() + ',' + result;
                            }
                            else {
                                result = $(this).val();
                            }
                        }
                    });
                    $("#lead_actions").prop("disabled", false);
                    $("#allcardsname").val(result);
                });
            $('.btndelete').click(function () {
                    var id = $(this).attr('btnid');
            //    alert(id);
                   $('#deleteModal').modal('show');
                         $('#btnYes').click(function () {
                        var selectedId = $('#allcardsname').val();
                        //alert(selectedId);
                        $.ajax({
                            type: "POST",
                            url: '/User/DeleteSelSingleMessage',
                            data: "id=" + id,
                            datatype: "json",
                            success: function () {
                                $('#deleteModal').modal('hide');
                                var UserId = $("#UserID").val();
                               // alert(UserId);
                                window.location = '@Url.Action("ActivitiesTasks", "User", new { UserId = "CC"})'.replace("CC", UserId);
                            },
                        });
                    });
            });
        });

    </script>
  

}
