﻿
@model Key2Home.ViewModel.ViewModelSendMassMail
<title>Index</title>
<link rel="stylesheet" href="~/Editorplugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<script src="~/Themes/ckeditor/samples/js/sample.js"></script>
<script src="~/Themes/ckeditor/ckeditor.js"></script>
<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }
    table th, table td {
        padding: 5px;
    }
</style>
<style type="text/css">

    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .modal-ku {
        width: 750px;
        margin: auto;
    }

    table th, table td {
        padding: 5px;
    }
</style>
<style>
    .editor-field textarea {
        /*width: 400px;*/
        height: 100px;
    }
</style>

<h4 class="modal-title">New Mass Email</h4>
@using (Html.BeginForm("MassEMail", "User", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="card-body">
            <div class="dropdown open pull-right">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-file-o"></i>
                    <span class="caret"></span>
                </button> 
                <ul id="simpleList" class="dropdown-menu">
                    <li role="presentation" class="dropdown-header">Office Templates</li>
                    @foreach (var item in Model._listAllTemplates)
                    {
                        @*<li><a href="@Url.Action("ChangePassword","Login")">@item.TemplateName</a></li>
                            <a href="#" id='ProductSelect_@(item.Id)' class="select-link">Select this</a>*@
                        <li TemplateID="@item.TemplateId">@item.Name</li>
                    }
                </ul>
            </div>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 200px"></td>
                    @Html.Hidden("selUser")
                    <td>
                        @Html.TextBoxFor(model => model.UserCount, new { @class = "form-control", @placeholder = "To" })
                        @Html.ValidationMessageFor(model => model.UserCount, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @placeholder = "Subject" })
                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td valign="top"></td>
                    <td>
                        @*@Html.TextAreaFor(model => model.Body, new { rows = "3", cols = "20" })*@
                        @Html.TextAreaFor(model => model.Body, new { @id = "editor1", @cols = "80", @rows = "10" })
                        @*@Html.TextAreaFor(model => model.Body, new { @class = "form-control", @placeholder = "Subject" })*@
                    </td>
                </tr>
                <tr>
                    <td>
                        Attachment
                    </td>
                    <td>
                        @* @Html.TextBoxFor(model => model.Attachment, new { type = "file" })*@

                        @Html.TextBoxFor(model => model.Attachment, "", new { @id = "FileUpload1", @type = "file", @multiple = "multiple" })

                        @*<input type="button" id="btnUpload" value="Upload Files" />*@
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="btn btn-danger" id="btn_SendMassMails" value="Send">
                        @*<input type="submit" class="btn btn-danger" value="Send">*@
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" onclick="window.close()" id ="btnModalClose" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Delete</h3>
                </div>
                <div class="modal-body">
                    <p>DO YOU WANT TO DELETE SELECTED USERS?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" id="btnYes" class="btn btn-primary">Yes</a>
                    <a href="#" id="btnNo" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                </div>
            </div>
        </div>
    </div>

}
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
<script>
        $('#simpleList').on('click', 'li', function () {
            //var temPid = $('#templateid').val();
            var temPid = $(this).attr('templateid');
            alert(temPid);
               $.ajax({
                type: "POST",
                url: '/User/Addtemplate',
                // contentType: "application/json; charset=utf-8",
                //data: "Users=" + ids,
                   data: "templateid=" + temPid,
                dataType: "json",
                async: false,
                   success: function (html) {
                       alert(html);
               
                       CKEDITOR.instances['editor1'].setData(html)
                    alert("success")
                    success = true;
                },
                error: function (data) {

                    alert("fail")
                    success = false;
                }
            });
    });
      $('#btnModalClose').click(function () {
                        $.ajax({
                            type: "POST",
                            url: '/User/Users',
                           // data: "id=" + selectedId,
                            datatype: "json",
                            success: function () {
                                  window.location = '@Url.Action("Users", "User")';
                            },
                        });
                    });
    $("#btn_SendMassMails").click(function (e) {
        alert('Entered');
            //if (window.FormData !== undefined) {
                var fileUpload = $("#FileUpload1").get(0);
                var files = fileUpload.files;
                // Create FormData object
              var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
            var other_data = $('form').serializeArray();
             $.each(other_data, function (key, input) {
           fileData.append(input.name, input.value);
        });
            var ids = $('#allcardsname').val();
            alert(ids);
            //  e.preventDefault();
            var success = false;
            @*$.ajax({
                type: "POST",
                url: '/User/MassEmail',
                // contentType: "application/json; charset=utf-8",
                data: fileData,
               // data: fileData,
                dataType: "json",
                async: false,
                success: function (data) {
                    alert("success")
                    success = true;
                  //  $.modal.alert("Document saved successfully !");
                     window.location = '@Url.Action("Users", "User")';
                },
                error: function (data) {
                    alert("fail")
                    success = false;
                }
            });
            return success;*@
        });
</script>
<script src="~/Themes/ckeditor/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="~/Editorplugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('editor1', {
        htmlEncodeOutput: true
    });</script>




