﻿@model Key2Home.Models.user
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="">
        <!-- /# row -->
        @Html.HiddenFor(m => m.UserID)
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <div>
                            <div class="compose-email">
                                <div class="mail-box">
                                    <aside class="sm-side">
                                        <div class="user-head" style="display: table-caption">
                                            <a class="inbox-avatar" href="#">
                                            </a>
                                            <div class="user-name">
                                                <h5><a href="#" style="color:#fff">@Model.FirstName @Model.LastName</a></h5>
                                                <h6>Keys2Home</h6><h6></h6>
                                                <span> <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })"><b>Email :</b>@Model.Email</a></span>
                                                <h6><b>Phone No :</b>@Model.Phone1&gt;</h6>
                                                <h6 style="text-align:center" class="text-success">
                                                    <i class="fa fa-check-circle "></i>
                                                    <a href="@Url.Action("EditContactDetails","User",new { UserId=@Model.UserID })">@Model.status</a>
                                                </h6>
                                            </div>
                                            <div class="inbox-body">
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="#">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-success" href="javascript:;">
                                                        <i class="fa fa-phone"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="javascript:;">
                                                        <i class="fa fa-cog"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        @*<ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">*@
                                        <ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">
                                            <li>
                                                <h4>Header</h4>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ActivitiesTasks","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-home text-danger"></i>Activities and Tasks
                                                </a>
                                            </li>
                                            @*<li>
            <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                <i class=" fa fa-user text-success"></i> Tasks
            </a>
        </li>*@
                                            <li>
                                                <a href="@Url.Action("UserContactDetails","User",new { UserId=@Model.UserID })">
                                                    @*<li id="btn_Contactdetails" UserId=@Model.UserID>*@
                                                    <i class=" fa fa-user text-success"></i> Contact Details
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class=" fa fa-envelope text-info"></i> Email
                                                </a>
                                            <li>
                                                <a href="">
                                                    <i class=" fa fa-envelope text-info"></i> Email
                                                </a>
                                                <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                    <li>
                                                        <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-plus-square text-info"></i> Compose Email
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("UserEmail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-inbox text-info"></i> Inbox
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("SentUserMail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-paper-plane text-info"></i> Send Mail
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="@Url.Action("TextMessage","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-warning"></i> Text Messages
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-warning"></i> Campaigns
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"><i class=" fa fa-search text-primary"></i> Searching</a>
                                            </li>
                                        </ul>
                                        <ul class="nav nav-pills nav-stacked labels-info"></ul>
                                    </aside>
                                    <aside class="lg-side">
                                        <div class="inbox-head">
                                            <h3 class="input-text" style="color: #fff">All Email</h3>

                                        </div>
                                        <div class="bootstrap-data-table-panel" style="margin-top: 25px">
                                            <div class="table-responsive">
                                                <div class="box-body">
                                                    <table class="table table-bordered table-striped" id="UserSentMail">
                                                        <thead>
                                                            <tr>                                                              
                                                                <th>To</th>
                                                                <th>Subject</th>
                                                                <th>Content</th>
                                                                <th>Sent Date</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer footer-user">
                        <p>This dashboard was generated on <span id="date-time"></span> <a href="#" class="page-refresh">Keys2Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    @*<script type="text/javascript" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">
    <script>
        // var input = $("#UserID").val();
        var input = $('#UserID').val();
        var ii = $('#UserID').val();
        alert(ii);
        var myTable;
        myTable = $("#UserSentMail").DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20, 30, 40, 50, -1], [10, 20, 30, 40, 50, "All"]],
        });
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "/User/GetAllSentMail",
            async: false,
            data: { "UserId": input },
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('#UserSentMail').dataTable().fnAddData([                     
                        data[i].SendTo,
                        data[i].Subject,
                        data[i].Message,
                        data[i].CreatedDate
                    ]);
                }
            }
        });
    </script>
    <script src="~/Themes/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Editorplugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('editor1', {
            htmlEncodeOutput: true
        });
    </script>
}
