﻿@model Key2Home.ViewModel.ViewModelUserTextMessage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(m => m.UserID)
@Html.HiddenFor(m => m.TeamXID)
@Html.HiddenFor(m => m.FirstName)
@Html.HiddenFor(m => m.LastName)
@Html.HiddenFor(m => m.Phone1)
<style>
    .tool_tip {
        position: relative;
    }

    .container {
        max-width: 1170px;
        margin: auto;
    }

    img {
        max-width: 100%;
    }

    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%;
        border-right: 1px solid #c4c4c4;
    }

    .inbox_msg {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;
    }

    .top_spac {
        margin: 20px 0 0;
    }


    .recent_heading {
        float: left;
        width: 40%;
    }

    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
        padding:
    }

    .headind_srch {
        padding: 10px 29px 10px 20px;
        overflow: hidden;
        border-bottom: 1px solid #c4c4c4;
    }

    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }

    .srch_bar input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }

    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }

    .srch_bar .input-group-addon {
        margin: 0 0 0 -27px;
    }

    .chat_ib h5 {
        font-size: 15px;
        color: #464646;
        margin: 0 0 8px 0;
    }

        .chat_ib h5 span {
            font-size: 13px;
            float: right;
        }

    .chat_ib p {
        font-size: 14px;
        color: #989898;
        margin: auto
    }

    .chat_img {
        float: left;
        width: 11%;
    }

    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }

    .chat_people {
        overflow: hidden;
        clear: both;
    }

    .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
    }

    .inbox_chat {
        height: 550px;
        overflow-y: scroll;
    }

    .active_chat {
        background: #ebebeb;
    }

    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }

    .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
    }

    .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 0px 6px 6px 6px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 12px 14px 12px 14px;
        width: 100%;
    }

    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }

    .received_withd_msg {
        width: 57%;
    }

    .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 100%;
    }

    .sent_msg p {
        background: #0d97ef none repeat scroll 0 0;
        border-radius: 6px 6px 0px 6px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 12px 14px 12px 14px;
        width: 100%;
    }

    .outgoing_msg {
        overflow: hidden;
        margin: 26px 0 26px;
    }

    .sent_msg {
        float: right;
        width: 46%;
    }

    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .type_msg {
        border-top: 1px solid #c4c4c4;
        position: relative;
    }

    .msg_send_btn {
        background: #0d97ef none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }

    .messaging {
        padding: 0 0 50px 0;
    }

    .msg_history {
        height: 516px;
        overflow-y: auto;
    }

    .tool_tip .tooltip_text {
        background-color: black;
        border-radius: 3px;
        color: #fff;
        left: 0;
        padding: 5px;
        position: absolute;
        text-align: center;
        top: -30px;
        visibility: hidden;
        z-index: 1;
        font-weight: normal;
    }

    .tool_tip:hover .tooltip_text {
        visibility: visible;
    }
</style>

<div class="main">
    <div class="">
        <!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <div>
                            <div class="compose-email">
                                <div class="mail-box">
                                    <aside class="sm-side">
                                        <div class="user-head" style="display: table-caption">
                                            <a class="inbox-avatar" href="#">
                                            </a>
                                            <div class="user-name">
                                                <h5><a href="#" style="color:#fff">@Model.FirstName @Model.LastName</a></h5>
                                                <h6>Keys2Home</h6><h6></h6>
                                                <span> <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })"><b>Email :</b>@Model.Email</a></span>
                                                <h6><b>Phone No :</b>@Model.Phone1&gt;</h6>
                                                <h6 style="text-align:center" class="text-success">
                                                    <i class="fa fa-check-circle "></i>
                                                    <a href="@Url.Action("EditContactDetails","User",new { UserId=@Model.UserID })">@Model.status</a>
                                                </h6>
                                            </div>
                                            <div class="inbox-body">
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="#">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-success" href="javascript:;">
                                                        <i class="fa fa-phone"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="javascript:;">
                                                        <i class="fa fa-cog"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        @*<ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">*@
                                        <ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">
                                            <li>
                                                <h4>Header</h4>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ActivitiesTasks", "User", new { UserId = @Model.UserID })">
                                                    <i class=" fa fa-home text-danger"></i>Activities and Tasks
                                                </a>
                                            </li>
                                            @*<li>
                    <a href="@Url.Action("LiveActivity", "User", new { UserId = @Model.UserID })">
                        <i class=" fa fa-user text-success"></i> Tasks
                    </a>
                </li>*@
                                            <li>
                                                <a href="@Url.Action("UserContactDetails", "User", new { UserId = @Model.UserID })">
                                                    @*<li id="btn_Contactdetails" UserId=@Model.UserID>*@
                                                    <i class=" fa fa-user text-success"></i> Contact Details
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class=" fa fa-envelope text-info"></i> Email
                                                </a>
                                                <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                    <li>
                                                        <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-plus-square text-info"></i> Compose Email
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("UserEmail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-inbox text-info"></i> Inbox
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("SentUserMail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-paper-plane text-info"></i> Send Mail
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("TextMessage","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-warning"></i> Text Messages
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("LiveActivity", "User", new { UserId = @Model.UserID })">
                                                    <i class=" fa fa-user text-warning"></i> Campaigns
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class=" fa fa-search text-primary"></i> Searching</a>
                                            </li>
                                        </ul>
                                        <ul class="nav nav-pills nav-stacked labels-info"></ul>
                                    </aside>
                                    <aside class="lg-side">
                                        <div class="inbox-head">
                                            <h3 class="input-text" style="color: #fff">Text Messages</h3>
                                        </div>
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <div class="card-header-right-icon">
                                                <a id="btn" class="btn btn-primary btn-xs btn-flat"><i class="ti-plus"></i>Add</a>
                                            </div>
                                        </div>
                                        <div id="displayUserName" style="display:none;  height: 40px;width: 50%; background-color: lightpink;">
                                            <ul>
                                                <li>
                                                </li>
                                                <li class="displayChat">
                                                    <div class="contact-name">
                                                        @Model.FirstName @Model.LastName
                                                    </div>
                                                    <div class="phone-number">@Model.Phone1</div>
                                                    @*<div class="phone-type">Other</div>*@
                                                </li>
                                            </ul>
                                        </div>
                                        @if (@Model.count == 0)
                                        {
                                            <div id="displayUserInfo" style="height: 150px;width: 100%; background-color: powderblue;">
                                                <div class="icon">
                                                    <img width="50" height="50" src="~/Key2HomeImages/user.png" />
                                                </div>
                                                <div>
                                                    <div>8/26/18</div>
                                                    <div class="contact-name"> @Model.FirstName @Model.LastName <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text><span class="phone-type">Other</span></div>
                                                    <div>Hi @Model.FirstName, Thanks for registering and searching for buying a home on our Website. What type of ho...</div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="ShowChat" class="compose-text-message">
                                                @foreach (var item in Model._objMessageList)
                                                {
                                                    <p> @item.SentDate </p>
                                                    <div style="background-color:white;border-style: ridge">
                                                        <div id="divUserImage">
                                                            <img width="50" height="50" src="~/Key2HomeImages/user.png" />
                                                        </div>
                                                        <p> @item.Message</p>
                                                    </div>
                                                }
                                                <div class="table-responsive">
                                                    <div class="col-lg-12">
                                                        <div class="card alert">
                                                            <div class="card-body">

                                                                <div class="form-group">
                                                                    <label class="col-lg-2 control-label">To</label>
                                                                    <div class="col-lg-10">
                                                                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @placeholder = "Send a message" })
                                                                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })

                                                                    </div>
                                                                </div>
                                                                @*<input type="submit" class="btn btn-danger" id="btn_EditContact" value="Save">*@
                                                                <input type="submit" class="btn btn-danger" id="btn_EditContact" value="Save" onclick="return GetFilter()">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div id="ShowChat" class="compose-text-message" style="display:none">
                                            @foreach (var item in Model._objMessageList)
                                            {
                                                <p> @item.SentDate </p>
                                                <div style="background-color:white;border-style: ridge; height: 50px; width:50px">
                                                    <div id="divUserImage">
                                                        <img width="50" height="50" src="~/Key2HomeImages/user.png" />
                                                    </div>
                                                    <p> @item.Message</p>
                                                </div>
                                            }
                                            <div class="table-responsive">
                                                <div class="col-lg-12">
                                                    <div class="card alert">
                                                        <div class="card-body">
                                                            <div class="form-group">
                                                                <label class="col-lg-2 control-label">To</label>
                                                                <div class="col-lg-10">
                                                                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @placeholder = "Send a message" })
                                                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            @*<input type="submit" class="btn btn-danger" id="btn_EditContact" value="Save">*@
                                                            <input type="submit" class="btn btn-danger" id="btn_EditContact" value="Save" onclick="return GetFilter()">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>                
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn").click(function () {
             //   alert("clicked");
                $("#displayUserName").toggle();
                $("#displayUserInfo").hide();
            });
            $('.displayChat').on('click', function () {
                $("#ShowChat").toggle();
                $("#displayUserInfo").hide();
                $("#displayUserName").hide();
            });
            $("#displayUserInfo").on('click', function () {
              //  alert("clicked");
                $("#ShowChat").toggle();
                $("#displayChat").toggle();
            });
            $("#btn_EditContact").click(function () {
               alert("Hello");
                var model = {
                    "UserID": $("#UserID").val(),
                    "TeamXID": $("#TeamXID").val(),
                    "FirstName": $("#FirstName").val(),
                    "LastName": $("#LastName").val(),
                    "CreatedOn": $("#CreatedOn").val(),
                    "DOB": $("#DOB").val(),
                    "Email": $("#Email").val(),
                    "Phone1": $("#Phone1").val(),
                    "Phone2": $("#Phone2").val(),
                    "Warnings": $("#Warnings").val(),
                    "SendWelcomeEmail": $("#SendWelcomeEmail").val(),
                    "roles": $("#roles").val(),
                    "status": $("#status").val(),
                    "pic": $("#pic").val(),
                    "Location": $("#Location").val(),
                    "Mode": $("#Mode").val(),
                    "ID": $("#ID").val(),
                    "IsActive": $("#IsActive").val(),
                    "Email": $("#Email").val(),
                    "Message": $("#Message").val()
                }
                var UserIdtt = $("#UserID").val();
              //  var data = $("#Message").val()
              // @Model.Message  = data;
              // var model = @Html.Raw(Json.Encode(Model))
                //var model = {
                //    "UserID": $("#Message").val()
                //}
                $.ajax({
                    url: '/User/TextMessage/',
                    type: 'POST',
                    async: false,
                    //data: JSON.stringify(model),
                    data: JSON.stringify({ ViewModelAddTextMessage: model }),
                    contentType: 'application/json',
                    dataType: 'json',
                    cache: false,
                    success: function (data) {                
                        if (data == "Success") {                           
                            //window.location.href = "/User/Chat";
                        }                  
                        var CardCode = $("#UserID").val();                  
                      window.location = '@Url.Action("TextMessage", "User", new { UserId = "CC"})'.replace("CC", CardCode);                    
                    },
                    error: function () {
                        alert('Something Wrong !!!');
                    }
                });
            });
        });

    </script>

    <script src="~/Themes/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Editorplugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('editor1', {
            htmlEncodeOutput: true
        });
    </script>
}




