﻿@model Key2Home.Models.user
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="">
        <!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <div>
                            <div class="compose-email">
                                <div class="mail-box">
                                    <aside class="sm-side">
                                        <div class="user-head" style="display: table-caption">
                                            <a class="inbox-avatar" href="#">
                                            </a>
                                            <div class="user-name">
                                                <h5><a href="#" style="color:#fff">@Model.FirstName @Model.LastName</a></h5>
                                                <h6>Keys2Home</h6><h6></h6>
                                                <span> <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })"><b>Email :</b>@Model.Email</a></span>
                                                <h6><b>Phone No :</b>@Model.Phone1&gt;</h6>
                                                <h6 style="text-align:center" class="text-success">
                                                    <i class="fa fa-check-circle "></i>
                                                    <a href="@Url.Action("EditContactDetails","User",new { UserId=@Model.UserID })">@Model.status</a>
                                                </h6>
                                            </div>
                                            <div class="inbox-body">
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="#">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-success" href="javascript:;">
                                                        <i class="fa fa-phone"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="javascript:;">
                                                        <i class="fa fa-cog"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        @*<ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">*@
                                        <ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">
                                            <li>
                                                <h4>Header</h4>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("ActivitiesTasks","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-home text-danger"></i>Activities and Tasks
                                                </a>
                                            </li>
                                            @*<li>
            <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                <i class=" fa fa-user text-success"></i> Tasks
            </a>
        </li>*@
                                            <li>
                                                <a href="@Url.Action("UserContactDetails","User",new { UserId=@Model.UserID })">
                                                    @*<li id="btn_Contactdetails" UserId=@Model.UserID>*@
                                                    <i class=" fa fa-user text-success"></i> Contact Details
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class=" fa fa-envelope text-info"></i> Email
                                                </a>
                                                <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                    <li>
                                                        <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-plus-square text-info"></i> Compose Email
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("UserEmail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-inbox text-info"></i> Inbox
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("SentUserMail","User",new { UserId=@Model.UserID })">
                                                            <i class="fa fa-paper-plane text-info"></i> Send Mail
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("TextMessage","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-warning"></i> Text Messages
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("LiveActivity","User",new { UserId=@Model.UserID })">
                                                    <i class=" fa fa-user text-warning"></i> Campaigns
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class=" fa fa-search text-primary"></i> Searching</a>
                                            </li>
                                        </ul>
                                        <ul class="nav nav-pills nav-stacked labels-info"></ul>
                                    </aside>
                                    <aside class="lg-side">
                                        <div class="inbox-head">
                                            <h3 class="input-text" style="color: #fff">Contact Details</h3>
                                            <form action="#" class="pull-right position"></form>
                                        </div>
                                        <div>
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                <div class="card-header-right-icon">
                                                    <a href="@Url.Action("EditContactDetails",new { UserId=@Model.UserID })" id="btn" class="btn btn-primary btn-xs btn-flat"><i class="ti-plus"></i>Edit</a>
                                                    
                                                </div>
                                                <h4 class="modal-title" id="myModalLabel">@Model.FirstName @Model.LastName</h4>
                                            </div>
                                            <hr />
                                            <div class="modal-body">
                                                <div>
                                                    <h1></h1>
                                                    <table class="table table-bordered">
                                                        @*<tr>
                                                            <td>@Html.DisplayNameFor(model => model.FirstName)</td>
                                                            <td>@Html.DisplayFor(model => model.FirstName)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.LastName)</td>
                                                            <td>@Html.DisplayFor(model => model.LastName)</td>
                                                        </tr>*@
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Email)</td>
                                                            <td>@Html.DisplayFor(model => model.Email)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.DOB)</td>
                                                            <td>@Html.DisplayFor(model => model.DOB)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Phone1)</td>
                                                            <td>@Html.DisplayFor(model => model.Phone1)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Notes)</td>
                                                            <td>@Html.DisplayFor(model => model.Notes)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Warnings)</td>
                                                            <td>@Html.DisplayFor(model => model.Warnings)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.roles)</td>
                                                            <td>@Html.DisplayFor(model => model.roles)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.status)</td>
                                                            <td>@Html.DisplayFor(model => model.status)</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer footer-user">
                        <p>This dashboard was generated on <span id="date-time"></span> <a href="#" class="page-refresh">Keys2Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    @*<script>
        $(function () {
            // $("#btn_details").click(function () {
            $('#UserDetails').on('click', 'li', function () {
                var temPid = $(this).attr('UserId');
                alert(temPid);
                //alert(id);
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: '/User/UserContactDetails',
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": temPid },
                    datatype: "json",
                    success: function (data) {
                        // alert(data);
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>*@
}
