﻿@model Key2Home.ViewModel.ViewModelShowAllUsers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Assests/js/lib/bootstrap.min.js"></script>

@using (Html.BeginForm("Users", "User", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal" }))
{
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .modal-ku {
            width: 850px;
            margin: auto;
        }

        table th, table td {
            padding: 5px;
        }
    </style>
    <style>
        .editor-field textarea {
            /*width: 400px;*/
            height: 100px;
        }
    </style>
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Users List</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">

                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div style="padding:30px">

                <div class="btn-group">
                    <a type="button" class="btn btn-default"><i class="fa fa-clock-o"></i> Activity:<b>Last 7 Days</b></a>
                    <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul id="droplistdays" class="dropdown-menu" role="menu">
                        <li id="1"><a href="@Url.Action("Users","User",new { DateId = 1})">Last 24 hours</a></li>
                        <li id="2"><a href="@Url.Action("Users","User",new { DateId = 2})">Last 7 Days</a></li>
                        <li id="3"><a href="@Url.Action("Users","User",new { DateId = 3})">Last 30 Days</a></li>
                        <li id="4"><a href="@Url.Action("Users","User",new { DateId = 4})">Last 90 Days</a></li>
                        <li id="5"><a href="@Url.Action("Users","User",new { DateId = 5})">Last 180 Days</a></li>
                        <li id="6"><a href="@Url.Action("Users","User",new { DateId = 6})">Last 365 Days</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a type="button" class="btn btn-default"><i class="fa fa-sort-amount-asc"></i> Sort By:<b>Creation Date</b></a>
                    <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul id="droplistcred" class="dropdown-menu" role="menu">
                        <li id="1"><a href="@Url.Action("Users","User",new { sortId = 1})">Name</a></li>
                        <li id="2"><a href="@Url.Action("Users","User",new { sortId = 2})">Status</a></li>
                        <li id="3"><a href="@Url.Action("Users","User",new { sortId = 3})">Creation Date</a></li>
                        <li id="4"><a href="@Url.Action("Users","User",new { sortId = 4})">Last Login</a></li>

                    </ul>
                </div>
                <button class="btn btn-dark pull-right btn-xs">User Status : <b>New</b></button>
            </div>
            <div class="main-content">
                @foreach (var item in Model._listAllUsers)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card alert">
                                <div class="product-2-details">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td><input class="myCheckBox" type="checkbox" id="@item.UserID" value="@item.UserID"></td>
                                                @Html.Hidden("allcardsname")
                                                <td style="width:50px">
                                                    <div class="product-2-img">
                                                        <img src="/Key2HomeImages/@Html.DisplayFor(model => item.pic)" alt="" style="width:66px;margin-top:15px" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="product-2-des">
                                                        <div class="product_name">

                                                            <h3><a href="@Url.Action("ActivitiesTasks","User",new { UserId=@item.UserID })" class="text-info">@item.FirstName @item.LastName </a></h3>
                                                        </div>
                                                        <div class="product_des" style="margin-top: 25px">
                                                            <span class="label label-info tool_tip"><span class="tooltip_text"></span><i class="fa fa-phone"></i> 0</span>
                                                            <span class="label label-success tool_tip"><span class="tooltip_text"></span><i class="fa fa-search"></i> 0</span>
                                                            <span class="label label-danger  tool_tip"><span class="tooltip_text"></span><i class="fa fa-heart"></i> 0</span>
                                                            <span class="label label-default tool_tip"><span class="tooltip_text"></span><i class="fa fa-home"></i> 0</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="product-2-button">
                                                        <div class="prdt_add_to_cart">

                                                            <button type="button" class="btn btn-default  btn-sm m-b-10 m-l-5">Register on :@item.CreatedOn</button><br>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>

                    </div>
                }
            </div>
            <div style="padding:70px">
                <div class="btn-group">
                    <button class="btn btn-default" id="SelAllCheck" value="Check All">
                        <i class="fa fa-check"></i> Select All <b> On this page</b>
                    </button>
                </div>
                <div class="btn-group">
                    @*<ul class="dropdown-menu" name="dropdown" role="menu">
                            <li><a value="1">Move to trash</a></li>
                            <li><a value="2" data-toggle="modal" data-target="#email-popup">Mass email</a></li>
                        </ul>*@
                    <select name="dropdown" class="form-control" id="lead_actions">
                        <option value="0">Select an action...</option>
                        <option value="1">Move to Trash</option>
                        <option value="2">Mass Email</option>
                    </select>
                    @*<select class="dropdown-menu" name="dropdown" size=1>
                            <option value="1">option 1</option>
                            <option value="2">option 2</option>
                        </select>*@
                    <div id="email-popup" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-sm">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="background:#009cff;color:#fff">
                                    <div class="dropdown open pull-right">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                            <i class="fa fa-file-o"></i>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li role="presentation" class="dropdown-header">Office Templates</li>
                                            <li><a href="#">3 Question About</a></li>
                                            <li><a href="#">Are Weekends Better?</a></li>
                                            <li><a href="#">Basic Welcome Email Template</a></li>
                                        </ul>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                                    <h4 class="modal-title">New Mass Email</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="card-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">To</label>
                                                <div class="col-lg-10">
                                                    <input placeholder="" id="inputEmail1" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Cc / Bcc</label>
                                                <div class="col-lg-10">
                                                    <input placeholder="" id="cc" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Subject</label>
                                                <div class="col-lg-10">
                                                    <input placeholder="" id="inputPassword1" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Message</label>
                                                <div class="col-lg-10">
                                                    <textarea rows="10" cols="30" class="form-control" id="texarea1" name="texarea" placeholder="Your company address and an unsubscribe link will be appended automatically to this message to help reduce spam reports and improve email quality.
Please note: Emails sent to invalid email addresses, or emails that are spam reported by recipients, will negatively affect your office's mass email reputation. In order to ensure that your office can continue to send mass emails, please do all you can to verify mass emails are sent to valid email addresses.
"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-offset-2 col-lg-10">
                                                    <span class="btn green fileinput-button">
                                                        <i class="fa fa-plus fa fa-white"></i>
                                                        <span>Attachment</span>
                                                        <input name="files[]" multiple="" type="file">
                                                    </span>
                                                    <button class="btn btn-primary" type="submit">Send</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# container-fluid -->
    </div>
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Delete</h3>
                </div>
                <div class="modal-body">
                    <p>DO YOU WANT TO DELETE SELECTED USERS?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" id="btnYes" class="btn btn-primary">Yes</a>
                    <a href="#" id="btnNo" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /# main -->
    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script>
            $(document).ready(function () {
            if ($(".table").find('input[type="checkbox"]').prop("checked") == false) {
                $("#allcardsname").val("");
                $("#lead_actions").prop("disabled", true);
                }
                 $('.table input[type=checkbox]').change(function () {
                        var checkBoxes = $('tbody .myCheckBox');
                        $('#lead_actions').prop('disabled', checkBoxes.filter(':checked').length < 1);
                     $('tbody .myCheckBox').change();
                     });
                $(".table").find("input[type='checkbox']").click(function () {
                        var result = '';
                            $('.table input[type=checkbox]').each(function () {
                                if ($(this).is(':checked'))
                                {
                                    if (result != "") {
                                       result = $(this).val() + ',' + result;
                                    }
                                    else {
                                        //$(this).prop("disabled", true);
                                       // alert('hi');
                                        result = $(this).val();
                                    }
                                }
                            });
                            $("#lead_actions").prop("disabled", false);
                            $("#allcardsname").val(result);

                });
                $('select[name="dropdown"]').change(function () {
                if ($(this).val() == "1") {
                    $('#deleteModal').modal('show');
                    $('#btnYes').click(function () {
                        //    var comments = $('#txtComments').val();
                        var selectedId = $('#allcardsname').val();
                        alert(selectedId);
                        $.ajax({
                            type: "POST",
                            url: '/User/DeleteSelUser',
                            data: "id=" + selectedId,
                            datatype: "json",
                            success: function () {
                                window.location = '@Url.Action("Users", "User")';
                            },
                        });
                    });
                    $('#btnNo').click(function () {
                        $.ajax({
                            type: "POST",
                            url: '/User/Users',
                           // data: "id=" + selectedId,
                            datatype: "json",
                            success: function () {
                                  window.location = '@Url.Action("Users", "User")';
                            },
                        });
                    });
                }
                else if ($(this).val() == "2")
                {
                     var options = { "backdrop": "static", keyboard: true };
                       var selectedId = $('#allcardsname').val();
                      //  alert(selectedId);
                        $.ajax({
                            type: "POST",
                            url: '/User/SendMassEmail',
                            data: "SelectedUser=" + selectedId,
                            datatype: "json",
                            success: function (data) {
                                $('#myModalContent').html(data);
                                $('#myModal').modal(options);
                                $('#myModal').modal('show');
                          },
                        });
                }
                });
                $(document).on('click', '#SelAllCheck', function (ev) {
                    if ($(this).val() == 'Check All') {
                        $('.table input[type=checkbox]').prop('checked', true);
                        $(this).val('Uncheck All');
                        $("#lead_actions").prop("disabled", false);
                    } else {
                        $('.table input[type=checkbox]').prop('checked', false);
                        $(this).val('Check All');
                        $("#lead_actions").prop("disabled", true);
                    }
                    ev.preventDefault();
                });
        });
    </script>
   

        <script type="text/javascript">
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
    </script>


   
}