﻿@model Key2Home.ViewModel.ViewModelUserTextMessage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @Html.HiddenFor(m => m.UserID)
    <div class="main">
        <div class="">
            <!-- /# row -->
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="">
                            <div>
                                <div class="compose-email">
                                    <div class="mail-box">
                                        <aside class="sm-side">
                                            <div class="user-head">
                                                <a class="inbox-avatar" href="#">
                                                </a>
                                                <div class="user-name">
                                                    <h5><a href="#" style="color:#fff">@Model.FirstName @Model.LastName</a></h5>
                                                    <h6>Keys2Home</h6><h6></h6>
                                                    <span> <a href="@Url.Action("ComposeUserMail","User",new { UserId=@Model.UserID })"><b>Email :</b>@Model.Email</a></span>
                                                    <h6><b>Phone No :</b>@Model.Phone1&gt;</h6>
                                                    <h6 style="text-align:center" class="text-success">
                                                        <i class="fa fa-check-circle "></i>
                                                        <a href="@Url.Action("EditContactDetails","User",new { UserId=@Model.UserID })">@Model.status</a>
                                                    </h6>
                                                </div>
                                                <div class="inbox-body">
                                                    <div class="btn-group">
                                                        <a class="btn btn-xs btn-default" href="#">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-xs btn-success" href="javascript:;">
                                                            <i class="fa fa-phone"></i>
                                                        </a>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-xs btn-default" href="javascript:;">
                                                            <i class="fa fa-cog"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">*@
                                            <ul id="UserDetails" class="nav nav-pills nav-stacked labels-info inbox-divider">
                                                <li>
                                                    <h4>Header</h4>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("LiveActivity", "User", new { UserId = @Model.UserID })">
                                                        <i class=" fa fa-home text-danger"></i>Activities and Tasks
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("LiveActivity", "User", new { UserId = @Model.UserID })">
                                                        <i class=" fa fa-user text-success"></i> Tasks
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("UserContactDetails", "User", new { UserId = @Model.UserID })">
                                                        @*<li id="btn_Contactdetails" UserId=@Model.UserID>*@
                                                        <i class=" fa fa-user text-success"></i> Contact Details
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("LiveActivity", "User", new { UserId = @Model.UserID })">  <i class=" fa fa-envelope text-info"></i> Email </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("LiveActivity", "User", new { UserId = @Model.UserID })">
                                                        <i class=" fa fa-user text-warning"></i> Campaigns
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#"> <i class=" fa fa-search text-primary"></i> Searching</a>
                                                </li>
                                            </ul>
                                            <ul class="nav nav-pills nav-stacked labels-info"></ul>
                                        </aside>

                                        <aside class="lg-side">
                                            <div class="card-head">
                                                <div class="inbox-head">
                                                    <h3 class="input-text" style="color: #fff">Campaigns</h3>
                                                    @* <a href="@Url.Action("AddUserCampaigns","User",new { UserID=@Model.UserID })" style="float:right">
                <i class="fa fa-plus"></i></a>*@
                                                    <a id="ShowUserCampaign" style="float:right"><i class="fa fa-plus"></i></a>

                                                </div>
                                            </div>
                                           

                                            <div id="UserCampaign" class="card-body text-center" style=" display:none">
                                                <div class="col-lg-6">
                                                    
                                                        <div id="div_success" style="display: none; width: 100%; height: auto; overflow: hidden; position: fixed; top: 0; left: 0; z-index: 9999; line-height: 30px; font-size: 15px; text-align: center; padding: 10px">
                                                            Test Message
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Team Member</label>
                                                            @Html.DropDownListFor(m => m.AgentId, (SelectList)ViewBag.TeamAgentList, "-- Select Team Agent--", new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Team Member</label>

                                                            @Html.DropDownListFor(m => m.CampaignId, (SelectList)ViewBag.CampaignList, "-- Select Campaign--", new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="form-group">

                                                            <input type="submit" class="btn btn-danger" id="btn_SaveUserCampaign" value="Save">

                                                        </div>
                                                    
                                                </div>

                                            </div>
                                            <div class="table-responsive">
                                                <div class="col-lg-10">
                                                    <div class="card alert">
                                                        <div class="card-header">
                                                            <h4>Contact Detail</h4>
                                                        </div>
                                                        <div class="bootstrap-data-table-panel" style="margin-top: 25px">
                                                            <div class="table-responsive">
                                                                <div class="box-body">
                                                                    <table class="table table-bordered table-striped" id="UserCampaigntable">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Name</th>
                                                                                <th>Start Date</th>
                                                                                <th>End Date</th>
                                                                                <th>Resolution</th>


                                                                            </tr>
                                                                        </thead>
                                                                    </table>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /# card -->
                                                </div>
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts
    {
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">
    <script>
        $("#ShowUserCampaign").click(function () {
             
        
            $("#UserCampaign").show();
        });
        $("#btn_SaveUserCampaign").click(function () {
              
                var model = {
                    "UserID": $("#UserID").val(),
                    "TeamXID": $("#TeamXID").val(),
                    "FirstName": $("#FirstName").val(),
                    "LastName": $("#LastName").val(),
                    "CreatedOn": $("#CreatedOn").val(),
                    "DOB": $("#DOB").val(),
                    "Email": $("#Email").val(),
                    "Phone1": $("#Phone1").val(),
                    "Phone2": $("#Phone2").val(),
                    "Warnings": $("#Warnings").val(),
                    "SendWelcomeEmail": $("#SendWelcomeEmail").val(),
                    "roles": $("#roles").val(),
                    "status": $("#status").val(),
                    "pic": $("#pic").val(),
                    "Location": $("#Location").val(),
                    "Mode": $("#Mode").val(),
                    "ID": $("#ID").val(),
                    "IsActive": $("#IsActive").val(),
                    "Email": $("#Email").val(),
                    "AgentId": $("#AgentId").val(),
                    "CampaignId": $("#CampaignId").val()
                }         
                $.ajax({
                    url: '/User/AddUserCampaigns/',
                    type: 'POST',
                    async: false,
                    //data: JSON.stringify(model),
                    data: JSON.stringify({ AddUserCampaign: model }),
                    contentType: 'application/json',
                    dataType: 'json',
                    cache: false,
                    success: function (data) {

                       
                        var UserId = $("#UserID").val();
                            alert(UserId);
                            window.location = '@Url.Action("UserCampaigns", "User", new { UserId = "CC"})'.replace("CC", UserId);
                    },
                    error: function () {
                        alert('Something Wrong !!!');
                    }
                });
            });

    </script>

    <script>
        var input = $("#UserID").val();
        //var input = $('#UserID').val();
        //var ii = $('#UserID').val();
        // alert(ii);
        var myTable;
        myTable = $("#UserCampaigntable").DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20, 30, 40, 50, -1], [10, 20, 30, 40, 50, "All"]],
        });
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "/User/GetAllUserCampaign",
            async: false,
            data: { "UserID": input },
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('#UserCampaigntable').dataTable().fnAddData([
                        data[i].Name,
                        data[i].CreatedDate,
                        data[i].EndDate,
                        data[i].Resolution
                    ]);
                }
            }
        });
    </script>
    <script src="~/Themes/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Editorplugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('editor1', {
            htmlEncodeOutput: true
        });
    </script>
}

