<p><br />
&nbsp; &nbsp; &nbsp; &nbsp; Hello<br />
&nbsp;<br />
&nbsp; &nbsp; &nbsp; &nbsp; I wanted to reach out and let you know that I have set you up on my new website, Home Search Website! &nbsp;You will begin receiving listings from me shortly.<br />
&nbsp; &nbsp; &nbsp;&nbsp;<br />
&nbsp; &nbsp; &nbsp; &nbsp; To access the new site, please go to Home Search Website and log in using your email address and password. If you have forgotten your password, try your phone number (including the area code) or let me know!<br />
&nbsp; &nbsp; &nbsp;&nbsp;<br />
&nbsp; &nbsp; &nbsp; &nbsp; I am excited to share with you the new modern and easy to use layout, along with the great search features you are accustomed to in your home search.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; Please let me know if you have any questions,<br />
&nbsp; &nbsp; &nbsp; &nbsp; Max Nimer<br />
&nbsp; &nbsp; &nbsp; &nbsp; Realtor<br />
&nbsp; &nbsp; &nbsp; &nbsp; Phone: (734) 883-3808<br />
&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; Regards,<br />
&nbsp; &nbsp;&nbsp;<br />
&nbsp; &nbsp; &nbsp; &nbsp; Keys2Home</p>

<p>&nbsp;</p>
