﻿@model Key2Home.Models.Template
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Editorplugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<script src="~/Themes/ckeditor/samples/js/sample.js"></script>
<script src="~/Themes/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm("Edit", "Template", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.TemplateId)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.IsActive)
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Edit Campaign</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <form class="card form-horizontal">
                        <div class="form-group">
                            <label>Name</label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Internal Name" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @placeholder = "Subject" })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Description</label>

                            @Html.TextAreaFor(model => model.Description, new { @id = "editor1", @cols = "80", @rows = "10" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>This template is</label>
                            <div>
                                <input type="hidden" value=""><label class="radio-inline">  </label>
                                @Html.RadioButton("Owner-type", "Private", new { @style = "margin-left:10%", @id = "Private" }) <label>Private</label>
                                @Html.RadioButton("Owner-type", "Office", new { @id = "Office" }) <label>Office</label>
                                @Html.Hidden("OwnerShip")
                                <div class="error-block"></div>
                                <p></p><small class="help-block">Select "Office" if you would like to share this template with your team.</small>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" id="btn_CreateCampaign" value="Save">
                                <input type="submit" value="Cancel" class="btn btn-default">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <h3 style="text-align: center">When this campaign is assigned</h3>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <form class="card form-horizontal">
                        <h4>Send an email</h4>
                        <div class="form-group">
                            <label>Description</label>
                            <input class="form-control" placeholder="Subject" type="text">
                        </div>
                        <div class="form-group">
                            <label>Body</label>
                            <div class="input-group input-group-default">
                                <span class="input-group-btn"><button class="btn btn-primary"><i class="fa fa-edit"></i></button></span>
                                <input placeholder="Type Something" class="form-control" type="text">
                            </div>
                            <small class="help-block">When this email is delivered, the user's email signature, your company's address, and an unsubscribe link will be automatically appended to help reduce spam reports and improve email quality.</small>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Done" class="btn btn-primary">
                            <input type="submit" value="Cancel" class="btn btn-default">
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>

                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#OwnerShip").val() == 'Private') {
                $('#Private').prop("checked", true);
            }
            else if ($("#OwnerShip").val() == 'Office') {
                $('#Office').prop("checked", true);
            }
            $("input:radio").click(function () {
                if ($('input[name=Owner-type]:checked').val() == "Private") {
                    var OwnerShip = $('#Private').val();
                    $('#OwnerShip').val(OwnerShip);
                    //  alert($('#roles').val());
                    // values.push(this.value);
                    $('#Office').prop("checked", false);
                }
                if ($('input[name=Owner-type]:checked').val() == "Office") {
                    var OwnerShip = $('#Office').val();
                    $('#OwnerShip').val(OwnerShip);
                    $('#Private').prop("checked", false);
                }
            });
        });
    </script>
    <script src="~/Themes/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Editorplugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('editor1', {
            htmlEncodeOutput: true
        });
    </script>

}