﻿@model Key2Home.Models.Template
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .color_div {
        color: #269e56 !important;
    }
</style>
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <p>DO YOU WANT TO DELETE SELECTED USERS?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnYes" class="btn btn-primary">Yes</a>
                <a href="#" id="btnNo" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 p-r-0 title-margin-right">
                <div class="page-header">
                    <div class="page-title">
                        <h1>
                            Templates
                        </h1>
                    </div>
                </div>
            </div>
            <!-- /# column -->
            <div class="col-lg-4 p-l-0 title-margin-left">
                <div class="page-header">
                    <div class="page-title">
                    </div>
                </div>
            </div>
            <!-- /# column -->
        </div>
        <div id="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>Template</h4>
                            <div class="card-header-right-icon">
                                <a href="@Url.Action("Create","Template")" class="btn btn-primary btn-xs btn-flat"><i class="ti-plus"></i> Add New</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="Templates">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Subject</th>
                                            <th>Owner</th>
                                            <th>Created Date</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# card -->
            <!-- /# row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer">
                        <p>This dashboard was generated on <span id="date-time"></span> <a href="#" class="page-refresh">Keys2Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='myModal' class='modal'>
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts
    {

    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">
    <script>

        function convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            return [date.getFullYear(), mnth, day].join("-");
        }
        var myTable;
        myTable = $("#Templates").DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20, 30, 40, 50, -1], [10, 20, 30, 40, 50, "All"]],
        });
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "/Template/GetAllTemplate",
            async: false,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $('#Templates').dataTable().fnAddData([
                        data[i].Name,
                        data[i].Subject,
                        data[i].OwnerShip,
                        convert(parseInt(data[i].CreatedDate.substr(6))),
                        "<a class='fa fa-trash-o color_div' href='/Template/Edit/" + data[i].TemplateId + "'>&nbsp; Edit</a>",
                        "<a class='fa fa-trash-o color_div' id=btn_DelTemplate data-id=" + data[i].TemplateId + ">&nbsp; Delete</a>"
                    ]);
                }
            }
        });
    </script>
    <script>
        $(function () {
            $("#Templates").on("click", "#btn_DelTemplate", function () {
                //alert("entred");
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                alert(id);
                $('#deleteModal').modal('show');
                $('#btnYes').click(function () {
                //var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "Get",
                    url: '/Template/Delete',
                    contentType: "application/json; charset=utf-8",
                    data: { "id": id },
                    datatype: "json",
                    success: function (data) {
                        alert(data);
                        window.location.href = "/Template/Index";
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                    });
                });
                $('#btnNo').click(function () {
                    $.ajax({
                        type: "POST",
                        url: '/Campaign/Index',
                        // data: "id=" + selectedId,
                        datatype: "json",
                        success: function () {
                        },
                    });
                });
            });
        });
    </script>

}