﻿@model Key2Home.ViewModel.ChangePasswordViewModel
@{
    Layout = null;
}
@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
{
    <style>
        .success-message {
            width: 100%;
            text-align: center;
            float: left;
            padding-bottom: 15px;
        }
        </style>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Keys2Home Admin Panel</title>
        <link href="~/Assests/css/lib/themify-icons.css" rel="stylesheet">
        <link href="~/Assests/css/lib/font-awesome.min.css" rel="stylesheet">
        <link href="~/Assests/css/lib/menubar/sidebar.css" rel="stylesheet">
        <link href="~/Assests/css/lib/bootstrap.min.css" rel="stylesheet">
        <link href="~/Assests/css/lib/Unix.css" rel="stylesheet">
        <link href="~/Assests/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
        <div class="unix-login">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="index.html"><span><b>Keys2Home</b></span></a>
                            </div>
                            <div class="login-form">
                                <h4>Change Password</h4>
                                <form>
                                    @Html.HiddenFor(m => m.UserEmailId, (object)ViewBag.Results)
                                    @if (ViewBag.result != null)
                                    {
                                    <div class="success-message">
                                        <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>@ViewBag.result</p>
                                    </div>
                                    }
                                    @if (ViewBag.Message != null)
                                    {
                                    <div class="success-message invalid-message">
                                        <p><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>@ViewBag.Message</p>
                                    </div>
                                    }
                                    <div class="form-group">
                                        <label>Old Password</label>
                                       
                                            @*<span><i class="fa fa-key" aria-hidden="true"></i></span>*@
                                            @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Password", type = "password" })
                                       
                                        <div class="validate-error">
                                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>New Password</label>
                                      
                                            @*<span><i class="fa fa-key" aria-hidden="true"></i></span>*@
                                            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Password", type = "password" })
                                       
                                        <div class="validate-error">
                                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                      
                                            @*<span><i class="fa fa-key" aria-hidden="true"></i></span>*@
                                            @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = "form-control", @placeholder = "Password", type = "password" })
                                      
                                        <div class="validate-error">
                                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" value="Recover">
                                  
                                    <a href="@Url.Action("Index", "User")" class="btn btn-primary btn-flat m-b-30 m-t-30" value="Cancel">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
}
