﻿@model Key2Home.ViewModel.LostPasswordModel
@{
    Layout = null;
}
@using (Html.BeginForm("ForgetPassword", "Login", FormMethod.Post))
{
    <style>
        .success-message {
            width: 100%;
            text-align: center;
            float: left;
            padding-bottom: 15px;
        }
    </style>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Keys2Home Admin Panel</title>
        <link href="~/Assests/css/lib/themify-icons.css" rel="stylesheet">
        <link href="~/Assests/css/lib/font-awesome.min.css" rel="stylesheet">
        <link href="~/Assests/css/lib/menubar/sidebar.css" rel="stylesheet">
        <link href="~/Assests/css/lib/bootstrap.min.css" rel="stylesheet">
        <link href="~/Assests/css/lib/Unix.css" rel="stylesheet">
        <link href="~/Assests/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
        <div class="unix-login">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="index.html"><span><b>Keys2Home</b></span></a>
                            </div>
                            <div class="login-form">
                                <h4>PASSWORD RECOVERY</h4>
                                <form>
                                    @Html.AntiForgeryToken()
                                    @if (ViewBag.result != null)
                                    {
                                        <div class="success-message">
                                            <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>@ViewBag.result</p>
                                        </div>
                                    }
                                    @if (ViewBag.error != null)
                                    {
                                        <div class="success-message invalid-message">
                                            <p><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>@ViewBag.Error</p>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <label>Email address</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter Email" })
                                        <div class="validate-error">
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" value="Recover">
                                    <a href="@Url.Action("Login", "Login")"  class="btn btn-primary btn-flat m-b-30 m-t-30" value="Login">Login</a>
                                    <a href="@Url.Action("Login", "Login")" class="btn btn-primary btn-flat m-b-30 m-t-30" value="Cancel">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
}
