﻿@model Key2Home.ViewModel.AdminLoginViewModel
@{
    Layout = null;
}
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <html>
   <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Keys2Home Admin Panel</title>
        <link href="~/Assests/css/lib/themify-icons.css" rel="stylesheet">
        <link href="~/Assests/css/lib/font-awesome.min.css" rel="stylesheet">
        <link href="~/Assests/css/lib/menubar/sidebar.css" rel="stylesheet">
        <link href="~/Assests/css/lib/bootstrap.min.css" rel="stylesheet">
        <link href="~/Assests/css/lib/Unix.css" rel="stylesheet">
        <link href="~/Assests/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
        <div class="unix-login">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="index.html"><span><b>Keys2Home</b></span></a>
                            </div>
                            <div class="login-form">
                                <h4>Administration Login</h4>
                                <form>
                                    <div class="form-group">
                                        <label>Email address</label>
                                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @placeholder = "Email" })
                                        <div class="validate-error">
                                            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                     
                                            @*<span><i class="fa fa-key" aria-hidden="true"></i></span>*@
                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", type = "password" })
                                        
                                        <div class="validate-error">
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(x => x.RememberMe)
                                        <label for="RememberMe">Remember me</label>
                                        <label class="pull-right">
                                            <a href="@Url.Action("ForgetPassword","Login")">Forgot Password?</a>
                                        </label>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" value="Sign in">

                                    @*<div class="register-link m-t-15 text-center">
                                        <p>Don't have account ? <a href="#"> Sign Up Here</a></p>
                                    </div>*@
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

    </html>
}
