﻿@model Key2Home.Models.admin
@{
    /**/
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("EditAdmin", "Admin", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.AdminID)
    @Html.HiddenFor(m => m.IsActive)
    @Html.HiddenFor(m => m.IsDeleted)
    @Html.HiddenFor(m => m.AdminStatusID)
    @Html.HiddenFor(m => m.AppXID) 
        @Html.HiddenFor(m => m.CreateOn)

        <style>
            .validation-summary-valid {
                display: none;
            }

            .success-message {
                background-color: #3be0a3;
                width: 400px;
                border-radius: 3px;
                height: 35px;
                padding: 7px;
            }

            .error-message {
                background-color: #f76060;
                width: 400px;
                border-radius: 3px;
                height: 35px;
                padding: 7px;
            }
        </style>
        if (ViewBag.Result != null)
        {
            <div id="successMessage" class="success-message">
                <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>@ViewBag.Result</p>
            </div>
        }
        if (ViewBag.Error != null)
        {
            <div id="ErrorMessage" class="error-message">
                <p><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>@ViewBag.Error</p>
            </div>
        }
        <div class="loder_mane" id="PageLoder">
            <div class="cssload-container">
                <div class="cssload-whirlpool"></div>
            </div>
        </div>
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Edit Admin</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        <form class="card form-horizontal">
                            <div id="div_success" style="display: none; width: 100%; height: auto; overflow: hidden; position: fixed; top: 0; left: 0; z-index: 9999; line-height: 30px; font-size: 15px; text-align: center; padding: 10px">
                                Test Message
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                @Html.TextBoxFor(model => model.AdminName, new { @class = "form-control", @placeholder = "Name" })
                                @Html.ValidationMessageFor(model => model.AdminName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(model => model.AdminEmail, new { @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(model => model.AdminEmail, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <span><i class="fa fa-key" aria-hidden="true"></i></span>
                                @Html.TextBoxFor(m => m.AdminPassword, new { @class = "form-control", @placeholder = "Password", type = "password" })
                                <div class="validate-error">
                                    @Html.ValidationMessageFor(model => model.AdminPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                @Html.DropDownListFor(m => m.Type, ViewData["TypeList"] as List<SelectListItem>, new { @class = " form-control" })
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Primary Phone</label>
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Phone" })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                @Html.TextBoxFor(model => model.AdminAddress, new { @class = "form-control", @placeholder = "Address" })
                                @Html.ValidationMessageFor(model => model.AdminAddress, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Post Desc</label>
                                @Html.TextBoxFor(model => model.PostDesc, new { @class = "form-control", @placeholder = "Post description" })
                                @Html.ValidationMessageFor(model => model.PostDesc, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>MLSID</label>
                                @Html.TextBoxFor(model => model.MLSID, new { @class = "form-control", @placeholder = "MLSID" })
                                @Html.ValidationMessageFor(model => model.MLSID, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Plans</label>
                                @Html.TextBoxFor(model => model.PLans, new { @class = "form-control", @placeholder = "Plans", @id = "PLans" })
                                @Html.ValidationMessageFor(model => model.PLans, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group">
                                <label>Upload Image </label>
                                <input type="file" name="fileS" id="fileS" multiple onchange="showpreview(this);" />
                                <div class="col-md-1">
                                    <img src="/Key2HomeImages/@Html.DisplayFor(model => model.AdminImage)" style="width:130px; height:130px; border-radius:50%;margin:20px;" />
                                </div>
                                <div class="col-md-8" style="float:right">
                                    <img id="imgpreview" height="130" width="130" src="" style="border-width: 0px; visibility: hidden;" />
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-danger" id="btn_SaveAdmin" value="Save">
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>    <!-- /# row -->
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Record saved successfully!</p>
                    </div>
                </div>
            </div>
        </div>
    }
    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('input[type=datetime]').datepicker({
                    dateFormat: "mm/dd/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });
            });

            $("input:radio").click(function () {
                if ($('input[name=status-type]:checked').val() == "Buyer") {
                    var role = $('#Buyer').val();
                    $('#roles').val(role);
                    //  alert($('#roles').val());
                    // values.push(this.value);
                    $('#Seller').prop("checked", false);
                    $('#BuyerandSeller').prop("checked", false);
                }
                if ($('input[name=status-type]:checked').val() == "Seller") {
                    var role = $('#Seller').val();
                    $('#roles').val(role);
                    $('#Buyer').prop("checked", false);
                    $('#BuyerandSeller').prop("checked", false);
                }
                if ($('input[name=status-type]:checked').val() == "BuyerandSeller") {
                    var role = $('#BuyerandSeller').val();
                    $('#roles').val(role);
                    $('#Seller').prop("checked", false);
                    $('#Buyer').prop("checked", false);
                }
            });
        </script>
        <script type="text/javascript">
            function show_message(msg, type) {
                if (type == 1) {
                    $('#div_success').css('background-color', 'green');
                    $('#div_success').css('color', 'white');
                }
                else if (type == 2) {
                    $('#div_success').css('background-color', 'red');
                    $('#div_success').css('color', 'white');
                }
                else {
                    $('#div_success').css('background-color', 'orange');
                    $('#div_success').css('color', 'white');
                }
                $('#div_success').html(msg);
                // $('#div_success').show();
                $('#div_success').slideDown().delay(5000).slideUp('slow');
                return false;
            }
        </script>
        <script>
            function showpreview(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imgpreview').css('visibility', 'visible');
                        $('#imgpreview').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('#PLans').keydown(function (event) {


                if (event.shiftKey == true) {
                    event.preventDefault();
                }
                if ((event.keyCode >= 48 && event.keyCode <= 57) ||
                    (event.keyCode >= 96 && event.keyCode <= 105) ||
                    event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
                    event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {
                } else {
                    event.preventDefault();
                }
                if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                    event.preventDefault();
            });

            $("#btn_SaveAdmin").click(function (e) {
                var isValid = true;
                if ($("#AdminName").val() == '') {
                    isValid = false;
                    $("#AdminName").css({
                        "background": "#FFCECE"
                    });
                    show_message("Please enter name", 2);
                    return false;
                }
                else {
                    $("#AdminName").css({
                        "background": ""
                    });
                }
                if ($("#Type").val() == '') {
                    isValid = false;
                    $("#Type").css({
                        "background": "#FFCECE"
                    });
                    show_message("Please select type", 2);
                    return false;
                }
                else {
                    $("#Type").css({
                        "background": ""
                    });
                }
                if ($("#Address").val() == '') {
                    isValid = false;
                    $("#Address").css({
                        "background": "#FFCECE"
                    });
                    show_message("Please enter address", 2);
                    return false;
                }
                else {
                    $("#Address").css({
                        "background": ""
                    });
                }
                if ($("#AdminEmail").val() == '') {
                    isValid = false;
                    $("#AdminEmail").css({
                        "background": "#FFCECE"
                    });
                    show_message("Please provide correct email address", 2);
                    return false;
                }
                else {
                    var emailField = $("#AdminEmail").val();
                    // alert(emailField);
                    var reg = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    if (reg.test(emailField) == false) {
                        $("#AdminEmail").css({
                            "background": "#FFCECE"
                        });
                        show_message("Please provide correct email address", 2);
                        return false;
                    }
                    else {
                        $("#AdminEmail").css({
                            "background": ""
                        });
                    }
                }
                if ($("#AdminPassword").val() == '') {
                    isValid = false;
                    $("#AdminPassword").css({
                        "background": "#FFCECE"
                    });
                    show_message("Please Provide Password", 2);
                    return false;
                }
                else {
                    $("#AdminPassword").css({
                        "background": ""
                    });
                }
                if ($("#Phone").val() == '') {
                    isValid = false;
                    $("#Phone").css({
                        "background": "#FFCECE"
                    });
                    show_message("Please Pprovide phone no.", 2);
                    return false;
                }
                else {
                    $("#Phone").css({
                        "background": ""
                    });
                }
                if ($("#Phone").val().length < 10 || $("#Phone").val().length > 10) {
                    isValid = false;
                    $("#Phone").css({
                        "background": "#FFCECE"
                    });
                    show_message("No is not valid", 2);
                    return false;
                }
                else {
                    $("#Phone").css({
                        "background": ""
                    });
                }
            });

        </script>
    }