﻿@model Key2Home.Models.admin
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .color_div {
        color: #269e56 !important;
    }
</style>
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <p>DO YOU WANT TO DELETE SELECTED USERS?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnYes" class="btn btn-primary">Yes</a>
                <a href="#" id="btnNo" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">No</a>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="container-fluid">

        <div id="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>Admin Details:</h4>
                            <div class="card-header-right-icon">
                                <a href="@Url.Action("AddAdmin","Admin")" class="btn btn-primary btn-xs btn-flat"><i class="ti-plus"></i> Add New</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="Admins">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Type</th>
                                            <th>Post Desc</th>
                                            <th>Address</th>
                                            <th>Phone</th>
                                            <th>PLans</th>
                                            <th>Action</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# card -->
            <!-- /# row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer">
                        <p>This dashboard was generated on <span id="date-time"></span> <a href="#" class="page-refresh">Keys2Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='myModal' class='modal'>
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts
     {
    @*<script type="text/javascript" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">
    <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyA6IhoXJwXviWWBh424e1FRPQ6mTlEpeMA",
            authDomain: "key2home-213305.firebaseapp.com",
            databaseURL: "https://key2home-213305.firebaseio.com",
            projectId: "key2home-213305",
            storageBucket: "key2home-213305.appspot.com",
            messagingSenderId: "644355605358"
        };

        firebase.initializeApp(config);

    </script>
    <script>
        function convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            return [date.getFullYear(), mnth, day].join("-");
        }
        var myTable;
        myTable = $("#Admins").DataTable({
            "pagingType": "full_numbers"
        });
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "/Admin/GetAllAdmins",
            async: false,
            success: function (data) {
                for (var j = 0; j < data.length; j++) {
                    var rootRef = firebase.database().ref();
                    var Id = data[j].AdminID;
                   // alert(Id);
                    //  //  var storesRef = rootRef.child('"' + Id + '"/adminDetails');

                    var newStoreRef = rootRef.child('agents/' + Id + '').child('messages').child('agent_user_chat_room').child(Id+'_1');
                    var newStoreRef1 = rootRef.child('agents/' + Id + '').child('agentDetails');;
                    var UserModel = rootRef.child('agents/' + Id + '').child('agentDetails').child('userModel');;
                    var newStoreRef3 = rootRef.child('agents/' + Id + '').child('messages').child('agent_loan_manager_chat_room').child(Id + '_1');
                    var PushNewStoreRef = newStoreRef.push();
                    var PushLoanManagerChat = newStoreRef3.push();
                    PushNewStoreRef.set({
                        chatMessage: "",
                        chatStatus: "",
                        image: "",
                        receiverID: "",
                        senderID: "",
                        timeStamp: "",
                    });
                    newStoreRef1.set({                     
                        adminId: data[j].AdminID,
                        adminname: data[j].AdminName,
                        adminemail: data[j].AdminEmail,
                        adminpic: data[j].AdminImage,                    
                    });
                    UserModel.set({
                        username: "",
                        email: "",
                        profile_picture: "",
                    });
                    PushLoanManagerChat.set({
                        chatMessage: "",
                        chatStatus: "",
                        image: "",
                        receiverID: "",
                        senderID: "",
                        timeStamp: "",
                    });
                }
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('#Admins').dataTable().fnAddData([
                        "<img src='/Key2HomeImages/" + data[i].AdminImage + "' style='width:50px; height:50px;border-radius :50px'/>",
                        data[i].AdminName,
                        data[i].AdminEmail,
                        data[i].Type,
                        data[i].PostDesc,
                        data[i].AdminAddress,
                        data[i].Phone,
                        data[i].PLans,
                        "<a class='fa fa-trash-o color_div' href='/Admin/EditAdmin/" + data[i].AdminID + "'>&nbsp; Edit</a>",
                        "<a class='fa fa-trash-o color_div' id=btn_DelAdmin data-id=" + data[i].AdminID + ">&nbsp; Delete</a>"
                    ]);
                }
            }
        });
    </script>
    <script>
        $(function () {
            $("#Admins").on("click", "#btn_DelAdmin", function () {
             //   alert("entred");
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
               // alert(id);
                $('#deleteModal').modal('show');
                $('#btnYes').click(function () {
                    //alert("Hi");
                    //var options = { "backdrop": "static", keyboard: true };
                    $.ajax({
                        type: "Get",
                        url: '/Admin/DeleteAdmin',
                        contentType: "application/json; charset=utf-8",
                        data: { "delAdminId": id },
                        datatype: "json",
                        success: function (data) {                   


                            window.location.href = "/Admin/Index";
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
                $('#btnNo').click(function () {
                    $.ajax({
                        type: "POST",
                        url: '/Admin/Index',
                        // data: "id=" + selectedId,
                        datatype: "json",
                        success: function () {
                        },
                    });
                });
            });
        });
    </script>
} 