﻿@model Key2Home.Models.admin
@{
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<style>
    .color_div {
        color: #269e56 !important;
    }
</style>
<!-- MAIN -->

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="header_heading">
                <h3 class="page-title main_heading">Agent List</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered admin_table" id="Users">
                    <thead>
                        <tr>
                            <th>Admin Name</th>
                            @*<th>Last Name</th>*@
                            <th>Admin Email </th>
                            <th>Phone</th>
                            <th>Plans</th>
                            <th>View Detail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<div class="clearfix"></div>



<div id='myModal' class='modal'>
    <div class="modal-dialog" style="width: 1000px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

        myTable();
    });
    function myTable() {
        $("#Users").DataTable({
            "destroy":true,
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20, 30, 40, 50, -1], [10, 20, 30, 40, 50, "All"]],
        });
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "/SuperAdmin/GetActiveCustomerList",
            async: false,
            success: function (data) {
                $('#Users').dataTable().fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    if (data[i].IsActive !== false) {
                        var Name;
                        Name = "Activate";
                        var Names;
                        Names = "fa fa-check-circle-o btn btn-success btn btn-sm";
                    }
                    else{
                        var Name;
                        Name = "Deactivate";
                        var Names;
                        Names = "fa fa-times btn btn-danger btn btn-sm";

                    }
                    $('#Users').dataTable().fnAddData([
                        data[i].AdminName,
                        data[i].AdminEmail,
                        data[i].Phone,
                        data[i].PLans,

                        "<a class='btn btn-primary btn_hover_shadow btn-sm' id=agent_detail data-id= " + data[i].AdminID + " href=/SuperAdmin/AgentDetailSuperAdmin/" + data[i].AdminID + ">&nbsp;View Details</a>",
                        '<a style="margin: 0px; text - align: center" class="btn' + Names + '" onclick="Deactivate(' + data[i].AdminID + ', ' + data[i].IsActive+')">&nbsp;'+ Name + '</a>'

                    ]);
                }
            }
        });
    }
   
        $(function () {

            @*$("#Users").on("click", "#agent_detail", function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: '/SuperAdmin/AgentDetailSuperAdmin',
                    contentType: "application/json; charset=utf-8",
                    data: { "AdminID": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        var id = data.AdminID;
                      //  window.location = '@Url.Action("AgentDetailSuperAdmin", "SuperAdmin", new { AdminID = "CC"})'.replace("CC", id);

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });*@
            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });


        /* Delete the  user  */
        function Deactivate(data, status) {
            var mydata = data;
            var message = '';
            var title = '';
            if (status !== false) {
                message = "deactivate";
                title = 'Deactivated';
            }
            else {
                message = "activate";
                title = "Activated";
            }
            swal({
                title: "Are you sure?",
                text: "You want to "+message+" this user!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, " + message+ " it!",
                closeOnConfirm: true
            },
                function (result) {
                    if (result == true) {
                        DeleteUserRequest(mydata,title);
                    }

                });
        }

        /* Delete User Call Function */
        function DeleteUserRequest(data, title) {
            var id = +data;
            $.ajax({
                url: '/SuperAdmin/DeactivateActiveCustomer/' + id,
                type: "Get",
                dataType: "json",
                contentType: "application/json; charset=utf-8;",
                success: function (data) {
                    if (data === true) {
                        swal(title, "User " + title + " successfully.", "success");
                        myTable();
                    }
                    else {
                        swal("Error!", data, "error");
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
</script>

