﻿@model Key2Home.Models.Applist
@{
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<style>
    .color_div {
        color: #269e56 !important;
    }
</style>

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="header_heading">
                <h3 class="page-title main_heading">App List</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered admin_table" id="Users">
                    <thead>
                        <tr>
                            <th>App Name</th>
                            <th>Theme Color code</th>
                            <th>App Logo</th>
                            <th>Agent Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>

    <!-- END MAIN CONTENT -->
</div>

<div class="clearfix"></div>
<div id='myModal' class='modal'>
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

<script>
    function myTable() {
        $("#Users").DataTable({
            "destroy":true,
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20, 30, 40, 50, -1], [10, 20, 30, 40, 50, "All"]],
        });
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "/SuperAdmin/AppListDetail",
            async: false,
            success: function (data) {
                  $('#Users').dataTable().fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    $('#Users').dataTable().fnAddData([
                        data[i].AppName,
                        data[i].ThemeColorCode,
                        data[i].AppLogo,
                        data[i].AgentName,
                        '<a style="margin: 0px; text - align: center" class="btn btn-danger btn_hover_shadow btn-sm" onclick="Delete(' + data[i].Id + ')">&nbsp;Delete</a>'

                    ]);
                }
            }
        });
    }
    
    function Delete(data) {
            var mydata = data;
            swal({
                title: "Are you sure?",
                text: "You want to delete this user!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            },
                function (result) {
                    if (result == true) {
                        DeleteUserRequest(mydata);
                    }
                });
        }

        /* Delete User Call Function */
        function DeleteUserRequest(data) {
            var id = +data;
            $.ajax({
                url: '/SuperAdmin/DeleteAppList/' + id,
                
                type: "Get",
                dataType: "json",
                contentType: "application/json; charset=utf-8;",
                success: function (data) {
                  
                    if (data == true) {
                        swal("Deleted!", "App list deleted successfully.", "success");
                        myTable();
                    }
                    else {
                        swal("Error!", data, "error");
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
  

        $(document).ready(function () {

                myTable();
        });
</script>




