﻿@model Key2Home.SuperAdminViewModel.ChangePasswordViewModelSuperAdmin
@{
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<style>
    .color_div {
        color: #269e56 !important;
        
    }
    .error {
        color: red !important;
    }
</style>


<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="header_heading">
                <h3 class="page-title main_heading">Change Password</h3>

                <!--<button style="margin:0px;" id="Back_Btn" class="btn btn-orange pull-right"><div class="effect"></div> <span><i class="lnr lnr-arrow-left"></i>Back</span></button>-->
            </div>
            <div class="panel custom_panel">
                <div class="panel-body">
                    <form class="custom_form" name="registration">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Enter Old Password</label>
                                    <input type="password" class="form-control" id="Password" name="Password" />
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Enter New Password</label>
                                    <input type="password" class="form-control" id="NewPassword" name="NewPassword" />
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" />
                                   
                                </div>
                            </div>

                            <div class="col-md-8">
                                <button type="submit" class="btn btn-orange" id="btnSubmit"> <div class="effect"></div> <span>Save</span></button>
                            </div>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- END MAIN CONTENT -->
</div>
    <!-- END MAIN -->


    <div class="clearfix"></div>



 <script>
function ClearTextbox() {

    $("#Password").val('');
    $("#NewPassword").val('');
    $("#ConfirmNewPassword").val('');
        }

 function ChangePassword() {
            var data = {

                OldPassword: $("#Password").val(),
                NewPassword: $("#NewPassword").val(),
                ConfirmNewPassword: $("#ConfirmNewPassword").val()
            }
            $.ajax({

                url: '/SuperAdmin/ChangePasswordSuperAdmin',
                type: "POST",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8;",
                success: function (data) {
                    if (data == true) {
                        swal("Success!", "Password change successfully.", "success");
                        ClearTextbox();
                    }
                    else if (data == "false") {
                        swal("Error!", "Old password is wrong.", "error");
                    }
                    else {
                          swal("Error!", "Password is incorrect.", "error");
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
        };

 </script>
<script>

    $(document).ready(function () {
        //$('#btnSubmit').click(function () {
            $("form[name='registration']").validate({
                rules: {
                    Password: "required",
                    NewPassword: "required",
                    ConfirmNewPassword: "required",
                    Password: {
                        required: true
                    },
                    NewPassword: {
                        required: true
                    },
                    ConfirmNewPassword: {
                        required: true,
                        equalTo: "#NewPassword"
                    }
                },
                messages: {
                    Password: {
                        required: "Old password is required."
                    },

                    NewPassword: {
                        required: "New password is required."
                    },
                    ConfirmNewPassword: {
                        required: "Confirm password is required.",
                        equalTo: "Your confirm password is not match with new password."
                    },
                },
                submitHandler: function (form) {

                    ChangePassword();

                }
            });
        });
    //});
</script>




