﻿@model Key2Home.SuperAdminViewModel.AppListViewModel
@{
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<style>
    .color_div {
        color: #269e56 !important;
    }

    .back_clr {
        color: #fff;
    }

        .back_clr :hover {
            color: #ee5e11;
        }
</style>
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="header_heading">
                <h3 class="page-title main_heading">Agent Detail</h3>
                <button style="margin:0px;" id="Back_Btn" class="btn btn-orange pull-right">
                    <div class="effect"></div>
                    <span><i class="lnr lnr-arrow-left"><a href="@Url.Action("DeleteCustomer", "SuperAdmin")" class="back_clr">Back</a></i></span>
                    @*<span><i class="lnr lnr-arrow-left"></i>Back</span>*@
                </button>
            </div>
            <div class="panel panel-profile">
                <div class="clearfix">
                    <!-- LEFT COLUMN -->
                    <div class="profile-left">
                        <!-- PROFILE HEADER -->
                        <div class="profile-header">
                            <div class="overlay"></div>
                            <div class="profile-main">
                                <img src="~/Assests/SuperAdmin/img/profile_img.jpg" class="img-circle" alt="pic">

                            </div>

                        </div>
                        <!-- END PROFILE HEADER -->
                        <!-- PROFILE DETAIL -->
                        <div class="profile-detail" id="agent_detail">
                            <div class="profile-info">
                                <h4 class="heading">Basic Info</h4>
                                @if (Model != null)
                                {
                                    <ul class="list-unstyled list-justify">
                                        <li>Admin Name <span>@Model.AdminName</span></li>
                                        <li>Admin Email <span>@Model.AdminEmail</span></li>
                                        <li>Phone<span>@Model.Phone</span></li>
                                        <li>Plan <span>@Model.Plan</span></li>

                                    </ul>
                                }
                                @* @Html.Partial("_GetAgentDetailPartial")*@

                            </div>
                            <div class="text-center"><a href="@Url.Action("DeleteAgentDetailSuperAdmin", "SuperAdmin",new {@Model.AdminID})" class="btn btn-primary">Go To User Detail</a></div>
                        </div>
                        <!-- END PROFILE DETAIL -->
                    </div>
                    <!-- END LEFT COLUMN -->
                    <!-- RIGHT COLUMN -->
                    <div class="profile-right">

                        <!-- END AWARDS -->
                        <!-- TABBED CONTENT -->
                        <div class="custom-tabs-line tabs-line-bottom left-aligned">
                            <ul class="nav" role="tablist">
                                <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">App Info</a></li>

                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-bottom-left1">
                                <ul class="list-unstyled activity-timeline">
                                    <li>
                                        <i class="fa fa-check activity-icon"></i>
                                        <p>App Name<span class="timestamp"> @Model.AppName</span></p>
                                    </li>
                                    <li>
                                        <i class="fa fa-check activity-icon"></i>
                                        <p>Title<span class="timestamp"> @Model.AgentName</span></p>
                                    </li>
                                    <li>
                                        <i class="fa fa-check activity-icon"></i>
                                        <p>Theme color Code<span class="timestamp">@Model.ThemeColorCode<span style="background-color:#ee5e11" class="color_code"></span></span></p>
                                    </li>

                                </ul>

                                <div class="profile-info">
                                    <h4 class="heading">App Short Discription</h4>
                                    <p>
                                        @Model.AppShortDiscription
                                    </p>
                                </div>
                                <div class="profile-info" style="margin-top:30px;">
                                    <h4 class="heading">App Full Discription</h4>
                                    <p>
                                        @Model.AppFullDiscription
                                    </p>
                                </div>
                                <div class="profile-info" style="margin-top:30px;">
                                    <h4 class="heading">App Logo</h4>
                                    <p><img src="~/Assests/SuperAdmin/img/big-logo.png" alt="company logo" height="100px;" /></p>

                                </div>


                            </div>

                        </div>
                        <!-- END TABBED CONTENT -->
                    </div>
                    <!-- END RIGHT COLUMN -->
                </div>
            </div>
        </div>
    </div>

    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->

<div class="clearfix"></div>




@section scripts
    {

    <script type="text/javascript">
        $('#delete').click(function () {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    swal("Deleted!", "Your record has been deleted.", "success");
                } else {
                    swal("Cancelled", "Your record is safe :)", "error");
                }
            });
        });
    </script>
    <script type="text/javascript">
        //$('#Back_Btn').click(function () {
        //    window.location.href = 'ActiveCustomerSuperAdmin.html';
        //})
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            // executes when HTML-Document is loaded and DOM is ready
            console.log("document is ready");

            $('.lightbox').each(function (index) {
                $(this).click(function () {
                    var imgSrc = $(this).children("img").attr("data-img");

                    $('body').append('<div id="lightbox-modal" class="modal fade" tabindex="-1" role="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"><img src="' + imgSrc + '" class="img-responsive"></div></div></div></div>');
                    $('#lightbox-modal').modal({ show: true });

                    $('#lightbox-modal').on('hidden.bs.modal', function (e) {
                        $(this).remove();
                    })
                    return false;
                });
            });


            // document ready
        });



    </script>


}
