﻿@model Key2Home.SuperAdminViewModel.AppListViewModel
@{
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<style>
    .color_div {
        color: #269e56 !important;
    }
</style>
<!-- MAIN -->
<!-- MAIN -->

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="header_heading">
                <h3 class="page-title main_heading">Delete Customer</h3>
                <!--<button style="margin:0px;" id="create_Btn" class="btn btn-orange pull-right"><div class="effect"></div> <span>Create Agent</span></button>-->
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered admin_table" id="Users">
                    <thead>
                        <tr>
                            <th>Admin Name</th>
                            <th>Admin Email </th>
                            <th>Phone</th>
                            <th>Plans</th>
                            <th>View Detail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                                <td>Swarn </td>
                                <td>Singh</td>
                                <td>swarnsingh@gmail.com</td>
                                <td>8585994422</td>
                                <td>Basic Plan <span class="text-danger">$39</span></td>
                                <td><button id="agent_detail" class="btn btn-primary btn_hover_shadow btn-sm">View Detail</button></td>


                                <td><button id="delete" class="btn btn-danger btn_hover_shadow btn-sm">Delete</button></td>
                            </tr>
                            <tr>
                                <td>Swarn </td>
                                <td>Singh</td>
                                <td>swarnsingh@gmail.com</td>
                                <td>8585994422</td>
                                <td>Basic Plan <span class="text-danger">$39</span></td>
                                <td><button class="btn btn-primary btn_hover_shadow btn-sm">View Detail</button></td>


                                <td><button class="btn btn-danger btn_hover_shadow btn-sm">Delete</button></td>
                            </tr>
                            <tr>
                                <td>Swarn </td>
                                <td>Singh</td>
                                <td>swarnsingh@gmail.com</td>
                                <td>8585994422</td>
                                <td>Basic Plan <span class="text-danger">$39</span></td>
                                <td><button class="btn btn-primary btn_hover_shadow btn-sm">View Detail</button></td>
                                <td><button class="btn btn-danger btn_hover_shadow btn-sm">Delete</button></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<!-- END MAIN -->
<div class="clearfix"></div>



<div id='myModal' class='modal'>
    <div class="modal-dialog" style="width: 500px;height: 108px;position: absolute;top: 20%;left: 50%;margin-top: -48px; margin-left: -239px;padding: 15px;">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>



<script>

        function myTable() {
        $("#Users").DataTable({
            "destroy": true,
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 20, 30, 40, 50, -1], [10, 20, 30, 40, 50, "All"]],
        });
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "/SuperAdmin/GetDeleteCustomerList",
            async: false,
            success: function (data) {
                $('#Users').dataTable().fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    $('#Users').dataTable().fnAddData([
                        data[i].AdminName,
                        data[i].AdminEmail,
                        data[i].Phone,
                        data[i].PLans,

                        "<a class='btn btn-primary btn_hover_shadow btn-sm' id=delagent_detail data-id= " + data[i].AdminID + " href=/SuperAdmin/DeleteAgentDetailSuperAdmin/" + data[i].AdminID + ">&nbsp;View Details</a>",
                        '<a style="margin: 0px; text - align: center" class="btn btn-danger btn_hover_shadow btn-sm" onclick="DeleteUser(' + data[i].AdminID + ')">&nbsp;Delete</a>'

                    ]);

                  
                }
            }
    
            });
        }

        $(function () {

            @*$("#Users").on("click", "#delagent_detail", function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: '/SuperAdmin/GetDeletetAgentDetail',
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        var id = data.AdminID;
                       window.location = '@Url.Action("DeleteAgentDetailSuperAdmin", "SuperAdmin", new { AdminID = "CC"})'.replace("CC", id);

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });*@
            });
            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        

        /* Delete the  user  */
        function DeleteUser(data) {
            var mydata = data;
            swal({
                title: "Are you sure?",
                text: "You want to delete this category!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            },
                function (result) {
                    if (result == true) {
                        DeleteUserRequest(mydata);
                    }

                });
        }

        /* Delete User Call Function */
        function DeleteUserRequest(data) {
           
            var id = +data;
            $.ajax({
                url: '/SuperAdmin/DeleteUser/' + id,
                type: "Get",
                dataType: "json",
                contentType: "application/json; charset=utf-8;",
                success: function (data) {
                      if (data === true) {
                        swal("Deleted!", "Customer deleted successfully.", "success");
                          myTable();
                    }
                    else {
                        swal("Error!", data, "error");
                    }
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }

        $(document).ready(function () {

            myTable();
        });
</script>


